@{
    ViewData["title"] = "My Gallery";
}


<section class="cont1 mygallery">
    <div class="inner">
        <div class="collection_wrap">
            <h2>My Collection</h2>
            <button type="button" class="collection_button">
                <div class="collection_title">Conmink 1</div>
                <div class="right_box">
                    <p class="limit">
                        남은 보관기간:
                        <span>5</span>
                        일
                    </p>
                    <img src="~/images/icons/cycle_dropdown.svg" class="menu_btn on" alt="메뉴 열기" />
                    <img src="~/images/icons/cycle_dropdown2.svg" class="menu_btn" alt="메뉴 닫기" />
                </div>
            </button>

            <!-- on추가시 display -->
            <div class="collection_list">
                <ul>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection1.jpg" alt="conmink1" />
                        </div>
                        <p class="title">Conmink 1</p>
                        <p class="remaining_date">
                            남은기간:
                            <span>5</span>
                            일
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gallery_wrap">
            <h2>My Gallery</h2>
            <div class="top_info">
                <div class="name_wrap">
                    <p class="collection_name">Conmink 1</p>
                    <button type="button" class="change_name_btn">
                        <img src="~/images/icons/change_name_btn.svg" alt="이름 변경하기" />
                    </button>
                </div>
                <div class="info">
                    <p>
                        총
                        <span class="num">1,000</span>개의 이미지
                        /
                        NFT 발행일:
                        <span class="date">없음</span>
                    </p>
                </div>
                <p class="ps">
                    <span>*</span>
                    보관기간이 종료되면 해당 컬렉션과 이미지 파일은 모두 삭제됩니다. 종료일 전까지 반드시 백업하시기 바랍니다.
                </p>
                <div class="remaining_date">
                    남은 보관기간
                    <strong class="date">22</strong>
                    일
                </div>
            </div>
            <div class="middle_input_wrap">
                <div class="input_wrap">
                    <input type="text" placeholder="컬렉션 번호를 입력하세요." />
                    <button type="submit">
                        <img src="~/images/icons/search.svg" />
                    </button>
                </div>
                <div class="button_wrap">
                    <button type="button">이미지 백업</button>
                    <button type="button">민팅하기</button>
                </div>
            </div>
            <div class="item_list">
                <ul>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection2.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection3.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection4.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection5.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection6.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection7.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection8.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection8.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection8.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection8.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                    <li>
                        <div class="img_wrap">
                            <img src="~/images/sample/generator/sample_collection8.jpg" loading="lazy" />
                        </div>
                        <div class="img_name">
                            <p>Conmink #1</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


@section Modals{

    <div class="modal">
        <div class="modal_bg"></div>
        <div class="modal_input_box">
            <button type="button" class="modal_close_btn">
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <h3>변경할 파츠 레이어의 이름을 입력해주세요.</h3>
            <input type="text" class="change_input" />
            <button type="button" class="confirm_btn">확인</button>
        </div>
    </div>
}









@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/MyGallery.css" />
    <script src="~/js/MyGallery.js" defer></script>
}