@charset "UTF-8";
@import '../base/_setting.scss';

.footer {
    width: 100%;
    margin: 0 auto;
    background: $black3;

    .inner {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 24px 20px;
        display: flex;
        gap: 60px;
        align-items: center;
    }

    .img_wrap {
        width: 60px;
    }

    

    .f_info {
        p {
            display: flex;
            gap: 16px;
        }
    }

    .sub {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .telegram {
            width: 44px;
            margin-bottom: 14px;
        }
    }

    address {
        padding-left: 24px;
        background: url(../../images/icons/email_btn.svg) no-repeat 0 center / auto 20px;
        margin-bottom: 20px;
    }

    .notice {
        display: flex;
        gap: 20px;
    }
}
