@{
    ViewData["title"] = "Change Password";
}


<section class="cont change_password">
    <div class="inner">
        <div class="login_wrap">
            <h2 class="subtitle_1 jost_m color_theme">CHANGE PW</h2>
            <form>
                <div class="box">
                    <div class="input_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="password" class="password" name="" id="pw" placeholder="password" />
                        <button type="button" class="check_pw" data-eye>
                            <!-- img on클래스 추가시 눈동자 -->
                            <img src="~/images/icons/eye_close.svg" alt="password close" />
                            <img src="~/images/icons/eye_open.svg" alt="password view" />
                        </button>
                    </div>
                    <p class="caption_2 color_white_2">8~16 digit combination of English, numbers and special characters.</p>
                    <div class="pw_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="password" class="password" name="" id="re_pw" placeholder="Re-enter password" />
                        <button type="button" class="check_pw" data-eye>
                            <!-- img on클래스 추가시 눈동자 -->
                            <img src="~/images/icons/eye_close.svg" alt="password close" />
                            <img src="~/images/icons/eye_open.svg" alt="passoword view" />
                        </button>
                    </div>
                </div>
                <button type="submit" class="next_btn">Change</button>
            </form>
        </div>
    </div>
</section>



@section Heads{
    <link rel="stylesheet" href="~/css/pages/ChangePassword.css"/>
    <script src="~/js/ChangePassword.js" defer></script>
}