@{
    ViewData["title"] = "Member registration complete";
}

<section class="cont complete">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">
            Congratulations!
            <span class="color_theme">Sign up is completed.</span>
        </h2>
        <p class="sub_text body_2 color_white_2">
            After <span class="count">5</span> seconds, you will be automatically redirected to the login page.
        </p>
        <a href="/Sign/Login" class="by_login button_200">To the Login page</a>
    </div>
</section>


<script>
    const count = document.querySelector('.count');

    let timeInit = 5;
    window.addEventListener('load', () => {

        let time = setInterval(e => {
            timeInit--;
            count.textContent = timeInit;

            if (timeInit === 0) {
                clearInterval(time);
                location.href = "/Sign/Login"; // 주소
            }

        }, 1000)
    })


</script>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/Complete.css" />
}