@{
    ViewData["title"] = "회원가입";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">회원가입</h2>
        <p class="sub_title body_2 color_white_2 suit_r">AIR DROPPER는 ‘Chrome’ 웹브라우저에 최적화 되어있으며, 모바일 서비스는 지원하지 않습니다.</p>
    </div>
</div>

<section class="cont sign_up_wrap">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">약관동의</h2>
        <div class="form_wrap">
            <div class="all_select_wrap">
                <input id="all_check" type="checkbox" />
                <label for="all_check">
                    <img src="~/images/icons/check.svg" alt="모든 약관 동의" />
                    <img src="~/images/icons/check-mark2-off.svg" alt="모든 약관 동의" />
                    <span class="body_2 suit_m">아래 모든 약관에 동의합니다.</span>
                </label>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check1" data-required="true" />
                            <label for="check1">
                                <img src="~/images/icons/check.svg" alt="(필수) 이용약관 동의" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(필수) 이용약관 동의" />
                                <span class="body_2 suit_r color_white_2">(필수) 이용약관 동의</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">상세보기</a>
                    </li>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check2" data-required="true" />
                            <label for="check2">
                                <img src="~/images/icons/check.svg" alt="(필수) 개인정보취급방침 동의" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(필수) 개인정보취급방침 동의" />
                                <span class="body_2 suit_r color_white_2">(필수) 개인정보취급방침 동의</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">상세보기</a>
                    </li>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check3" data-required="true" />
                            <label for="check3">
                                <img src="~/images/icons/check.svg" alt="(필수) 개인정보 제 3자 제공 동의" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(필수) 개인정보 제 3자 제공 동의" />
                                <span class="body_2 suit_r color_white_2">(필수) 개인정보 제 3자 제공 동의</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">상세보기</a>
                    </li>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check4" data-required="false" />
                            <label for="check4">
                                <img src="~/images/icons/check.svg" alt="(선택) 마케팅 정보 수신 동의" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(선택) 마케팅 정보 수신 동의" />
                                <span class="body_2 suit_r color_white_2">(선택) 마케팅 정보 수신 동의</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">상세보기</a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="next_btn button_160" disabled>다음으로</button>
    </div>
</section>

@section Modals{

    <div class="modal">
        <div class="modal_head">
            <h2 class="body_1 suit_m">필수 이용약관</h2>
        </div>
        <div class="text_wrap body_3 suit_r">
            단순히 육체적 즐거움도 자는 노력을 회피하는 선사하는 때문에 찾는 선택한 고통 할 이유 않는 기꺼이 귀찮은 사람을 사람을 소유하려는 소유하려는 아무런 고통이라는 것이다. 회피하는 것이다. 때로는 수도 노역과 때문에 이익을 모종의 선사하는 있겠는가? 소유하려는 뒤따르지 이익을 단순히 고통이라는 즐거움을 고통을 소유하려는 일이 선사하는 아주 누리는 자체를 아주 수도 없는데 것이다. 우리들 추구하거나 이익을 고통이라는 아주 중에
            <br /><br />

            즐거움도 혹은 얻을 사람을 소유하려는 찾는 수도 소유하려는 누가 큰 상황이 사랑하거나 선사하는 노력을 선택한 일이 다만 아무런 수 중에 예를 수도 노력을 것을 것을 회피하는 않는 노력을 혹은 회피하는 고통을 사람이 않는 때문에 않는 때문에 누리는 탓할 뒤따르지 우리들 누리는 탓할 않는 사람, 누리는 단순히 귀찮은 때문에 않는 고통이라는 탓할 않는 이유 단순히 큰 찾는 혹은 다만 사람이 고통을 육체적 아주 사람, 다만 기꺼이
            <br /><br />

            사람, 예를 고통이라는 것이다. 고통이 있겠는가? 선택한 할 수 힘든 고통이 하지만 중에 이익을 단순히 사람이 때로는 노력을 있는 사람이 뒤따르지 사람을 탓할 없다. 자체를 노력을 우리들 기꺼이 추구하거나 과연 귀찮은 없다. 예를 상황이 기꺼이 않는 귀찮은 선사하는 발생하기 귀찮은 사람, 것을 사람을 자는 그 사람, 아무런 사랑하거나 있는 사람이 있겠는가? 소유하려는 간단한 즐거움을 우리들 중에 중에 선사하는 마찬가지로,
            <br /><br />

            단순히 육체적 즐거움도 자는 노력을 회피하는 선사하는 때문에 찾는 선택한 고통 할 이유 않는 기꺼이 귀찮은 사람을 사람을 소유하려는 소유하려는 아무런 고통이라는 것이다. 회피하는 것이다. 때로는 수도 노역과 때문에 이익을 모종의 선사하는 있겠는가? 소유하려는 뒤따르지 이익을 단순히 고통이라는 즐거움을 고통을 소유하려는 일이 선사하는 아주 누리는 자체를 아주 수도 없는데 것이다. 우리들 추구하거나 이익을 고통이라는 아주 중에
            <br /><br />

            즐거움도 혹은 얻을 사람을 소유하려는 찾는 수도 소유하려는 누가 큰 상황이 사랑하거나 선사하는 노력을 선택한 일이 다만 아무런 수 중에 예를 수도 노력을 것을 것을 회피하는 않는 노력을 혹은 회피하는 고통을 사람이 않는 때문에 않는 때문에 누리는 탓할 뒤따르지 우리들 누리는 탓할 않는 사람, 누리는 단순히 귀찮은 때문에 않는 고통이라는 탓할 않는 이유 단순히 큰 찾는 혹은 다만 사람이 고통을 육체적 아주 사람, 다만 기꺼이
            <br /><br />

            사람, 예를 고통이라는 것이다. 고통이 있겠는가? 선택한 할 수 힘든 고통이 하지만 중에 이익을 단순히 사람이 때로는 노력을 있는 사람이 뒤따르지 사람을 탓할 없다. 자체를 노력을 우리들 기꺼이 추구하거나 과연 귀찮은 없다. 예를 상황이 기꺼이 않는 귀찮은 선사하는 발생하기 귀찮은 사람, 것을 사람을 자는 그 사람, 아무런 사랑하거나 있는 사람이 있겠는가? 소유하려는 간단한 즐거움을 우리들 중에 중에 선사하는 마찬가지로,
            <br /><br />


            단순히 육체적 즐거움도 자는 노력을 회피하는 선사하는 때문에 찾는 선택한 고통 할 이유 않는 기꺼이 귀찮은 사람을 사람을 소유하려는 소유하려는 아무런 고통이라는 것이다. 회피하는 것이다. 때로는 수도 노역과 때문에 이익을 모종의 선사하는 있겠는가? 소유하려는 뒤따르지 이익을 단순히 고통이라는 즐거움을 고통을 소유하려는 일이 선사하는 아주 누리는 자체를 아주 수도 없는데 것이다. 우리들 추구하거나 이익을 고통이라는 아주 중에
            <br /><br />

            즐거움도 혹은 얻을 사람을 소유하려는 찾는 수도 소유하려는 누가 큰 상황이 사랑하거나 선사하는 노력을 선택한 일이 다만 아무런 수 중에 예를 수도 노력을 것을 것을 회피하는 않는 노력을 혹은 회피하는 고통을 사람이 않는 때문에 않는 때문에 누리는 탓할 뒤따르지 우리들 누리는 탓할 않는 사람, 누리는 단순히 귀찮은 때문에 않는 고통이라는 탓할 않는 이유 단순히 큰 찾는 혹은 다만 사람이 고통을 육체적 아주 사람, 다만 기꺼이
            <br /><br />

            사람, 예를 고통이라는 것이다. 고통이 있겠는가? 선택한 할 수 힘든 고통이 하지만 중에 이익을 단순히 사람이 때로는 노력을 있는 사람이 뒤따르지 사람을 탓할 없다. 자체를 노력을 우리들 기꺼이 추구하거나 과연 귀찮은 없다. 예를 상황이 기꺼이 않는 귀찮은 선사하는 발생하기 귀찮은 사람, 것을 사람을 자는 그 사람, 아무런 사랑하거나 있는 사람이 있겠는가? 소유하려는 간단한 즐거움을 우리들 중에 중에 선사하는 마찬가지로,
        </div>
        <div class="modal_foot">
            <button type="button" class="modal_close_btn modal_confirm_btn" data-modal-close>확인</button>
        </div>
    </div>
}

    @section Heads{
    <link rel="stylesheet" href="~/css/pages/SignUp.css" />

}

@section Scripts {
    <script src="~/js/SignUp.js" asp-append-version="true" defer></script>
}
