@{
    ViewData["title"] = "SIGN UP";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">SIGN UP</h2>
        <p class="sub_title body_2 color_white_2 suit_r">AIR DROPPER is optimized for ‘Chrome’ web browser and does not support mobile service.</p>
    </div>
</div>

<section class="cont sign_up_wrap">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">Agree to the Terms & Conditions</h2>
        <div class="form_wrap">
            <div class="all_select_wrap">
                <input id="all_check" type="checkbox" />
                <label for="all_check">
                    <img src="~/images/icons/check.svg" alt="Agree to all terms and conditions" />
                    <img src="~/images/icons/check-mark2-off.svg" alt="Agree to all terms and conditions" />
                    <span class="body_2 suit_m">I agree to all terms and conditions below.</span>
                </label>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check1" data-required="true" />
                            <label for="check1">
                                <img src="~/images/icons/check.svg" alt="(Required) Agree to Terms of Use" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(Required) Agree to Terms of Use" />
                                <span class="body_2 suit_r color_white_2">(Required) Agree to Terms of Use</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">
                            View Details
                        </a>
                    </li>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check2" data-required="true" />
                            <label for="check2">
                                <img src="~/images/icons/check.svg" alt="(Required) Agree to Privacy Policy" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(Required) Agree to Privacy Policy" />
                                <span class="body_2 suit_r color_white_2">(Required) Agree to Privacy Policy</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">
                            View Details
                        </a>
                    </li>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check3" data-required="true" />
                            <label for="check3">
                                <img src="~/images/icons/check.svg" alt="(Required) Agree to provision of personal information to third parties" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(Required) Agree to provision of personal information to third parties" />
                                <span class="body_2 suit_r color_white_2">(Required) Agree to provision of personal information to third parties</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">
                            View Details
                        </a>
                    </li>
                    <li>
                        <div class="check_wrap">
                            <input type="checkbox" id="check4" data-required="false" />
                            <label for="check4">
                                <img src="~/images/icons/check.svg" alt="(Optional) Agree to receive marketing information" />
                                <img src="~/images/icons/check-mark2-off.svg" alt="(Optional) Agree to receive marketing information" />
                                <span class="body_2 suit_r color_white_2">(Optional) Agree to receive marketing information</span>
                            </label>
                        </div>
                        <a href="#" class="detail body_2 suit_r color_white_3">
                            View Details
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="next_btn button_160" disabled>Next</button>
    </div>
</section>

@section Modals{

    <div class="modal">
        <div class="modal_head">
            <h2 class="body_1 suit_m">(Required) Terms of Use</h2>
        </div>
        <div class="text_wrap body_3 suit_r">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lorem augue, luctus at nibh eu, imperdiet consectetur mauris. Ut consectetur pretium tempus. Fusce arcu neque, semper id risus at, elementum volutpat magna. Mauris scelerisque tristique congue. Donec magna nisl, tristique sit amet ultricies nec, egestas id urna. Phasellus a dui augue. Mauris ex nisl, finibus quis vulputate ac, tempor et massa.

            Pellentesque a augue vel neque rhoncus sodales dignissim vel felis. Mauris tempus consectetur tortor, vestibulum blandit magna eleifend pulvinar. Sed congue massa nec aliquam pharetra. Maecenas vitae hendrerit orci, eu cursus tortor. Duis nulla dui, consectetur ut eleifend id, suscipit eget urna. Maecenas a orci eu ipsum sagittis ullamcorper nec sit amet massa. Pellentesque elementum, mi ac commodo aliquet, ligula est lacinia ligula, convallis placerat lacus ex non est. Donec non quam sit amet urna dictum maximus auctor eu sapien. Fusce rutrum neque et urna pretium, non cursus neque blandit. Mauris ac convallis nulla, eget finibus augue. Etiam et rutrum arcu, in interdum ipsum. In varius felis mauris. In hendrerit, velit sed viverra mollis, velit nunc blandit urna, non ultrices justo ipsum id elit. Suspendisse eu augue dictum, vestibulum orci quis, rhoncus orci. Phasellus nec quam condimentum lacus pellentesque hendrerit sed vulputate nisi. Maecenas ac est ac purus porttitor convallis.

            Sed fermentum mollis porttitor. Nunc quis ligula non nisl dignissim hendrerit nec in tellus. Nam feugiat, purus sit amet efficitur elementum, ipsum eros aliquet risus, quis finibus neque dui a orci. Nam tincidunt quam velit, non fermentum est laoreet sed. In hac habitasse platea dictumst. Nulla augue urna, ullamcorper eget pharetra eget, sodales ac nulla. Sed consectetur rutrum augue, at mollis metus fringilla quis. Morbi porttitor ultrices eros nec pretium.

            Nullam id justo libero. Maecenas id lectus nec purus ornare congue eget mattis ligula. Nullam quis finibus ante, quis vestibulum ligula. Aliquam condimentum dolor in urna lacinia, eget ornare urna cursus. Cras interdum nulla eu auctor pretium. Aliquam non pellentesque nulla, dignissim sagittis felis. Fusce at nisi efficitur, fermentum metus sit amet, dignissim lectus. Vestibulum fermentum accumsan nunc nec tincidunt. Mauris a tellus neque. Donec vitae viverra elit. Duis luctus, felis a faucibus consectetur, neque lorem eleifend quam, nec consequat dolor magna ac metus. Mauris eu dui ultrices lacus ornare maximus eget in lorem. Mauris a tincidunt risus. Pellentesque fringilla, urna sit amet mollis dapibus, magna dui rhoncus orci, ultrices faucibus elit arcu id urna. Cras non eleifend sapien.

            Nulla at magna rhoncus, sollicitudin erat a, commodo odio. Praesent bibendum porttitor luctus. Ut suscipit felis augue, vel condimentum felis laoreet at. Cras bibendum leo ut feugiat imperdiet. Aliquam vitae ex sed lorem tristique suscipit ac quis lorem. Integer luctus, nunc ut faucibus lacinia, metus nibh auctor ex, a rhoncus quam erat eu ipsum. Praesent sit amet velit purus. Cras erat velit, dapibus sed tellus ut, luctus elementum tortor. Vestibulum sed libero nec urna hendrerit rhoncus in a purus. Proin felis ipsum, egestas vitae egestas vitae, condimentum nec augue. Curabitur mattis nisl a sapien euismod tristique.
        </div>
        <div class="modal_foot">
            <button type="button" class="modal_close_btn modal_confirm_btn" data-modal-close>CONFIRM</button>
        </div>
    </div>
}

@section Heads{
    <link rel="stylesheet" href="~/css/pages/SignUp.css" />

}

@section Scripts {
    <script src="~/js/SignUp.js" asp-append-version="true" defer></script>
}
