@{
    ViewData["title"] = "메타데이터 설정";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2>Create Collection</h2>
        <p class="sub_title">NFT MINTER는 ‘Chrome’ 웹브라우저에 최적화 되어있으며, 모바일 서비스가 일부 제한됩니다.</p>
        <p class="sub_title">‘저장 후 다음으로’ 버튼을 눌러 모든 설정사항을 저장할 수 있으며, 재로그인 및 컬렉션 재설정시 마지막으로 설정한 페이지로 돌아갑니다.</p>
    </div>
</div>

<section class="cont1 meatadata">
    <div class="inner">
        <h2>메타데이터 설정</h2>
        <div class="sub_text">
            본 화면은 민팅에 앞서 메타데이터를 설정하는 화면입니다. 지금 메타데이터를 설정하고 이미지를 생성하면 데이터<br />
            수정이 불가능합니다. 나중에 민팅시에 메타데이터를 설정하고자 한다면 아래 버튼을 클릭하세요.
        </div>
        <button type="button" class="no_create_img_btn">설정없이 이미지 생성하기</button>
        <div class="loading_wrap">
            <label>컬렉션 불러오기</label>
            <select>
                <option value="none" disabled selected>컬렉션을 선택해주세요.</option>
                <option value="">Conmink1</option>
                <option value="">Conmink2</option>
                <option value="">Conmink3</option>
            </select>
            <p class="info_text">* NFT MINTER가 제공하는 제너레이터를 통해 생성 및 저장된 모든 컬렉션을 선택할 수 있습니다.</p>
        </div>
        <div class="token_name_wrap">
            <label>토큰명</label>
            <input type="text" placeholder="영문 10자 이내 (예: CONMINK)" />
            <p class="info_text">* 컬렉션명과 다른 이름으로 NFT 이름을 정하고자 하는 경우 입력해주세요.</p>
            <p class="info_text">* 마켓플레이스에서 보여지는 NFT 이름은 ‘토큰명+토큰ID’로 구성됩니다. (예: Conmink #1122)</p>
        </div>
        <div class="token_explain_wrap">
            <label>토큰 상세설명</label>
            <textarea placeholder="컬렉션에 대한 자세한 설명을 적어주세요."></textarea>
        </div>
        <div class="url_wrap">
            <label>관련 사이트 URL</label>
            <input type="url" placeholder="컬렉션과 관련된 사이트의 URL을 입력해주세요." />
        </div>

        <button type="button" class="save_btn">이미지 생성하기</button>
    </div>
</section>


@section Modals{

    <div class="modal_info">
        <div class="inner">
            <h2>이미지 생성 요금 안내</h2>
            <div class="info_text">
                <p>이미지 제너레이터를 이용한 이미지 생성을 위해서는 다음과 같이 소정의 비용이 발생됩니다.</p>
                <p>또한, 생성된 이미지는 생성 일로부터 30일 이내에 민팅이 진행되지 않는 경우 스토리지에서 자동 삭제되며, 복구되지 않습니다.</p>
                <p>따라서 생성된 이미지 파일은 30일 이전에 반드시 백업하시기 바랍니다.</p>
            </div>
            <div class="table_wrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>회당 컬렉션 생성 개수</th>
                            <th>요금</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 ~ 50</td>
                            <td>무료</td>
                            <td>무료 생성 횟수 2회 제한</td>
                        </tr>
                        <tr>
                            <td>무료 회차 초과</td>
                            <td>100,000 원</td>
                            <td>1회 생성 이미지 개수 1만 개 단위</td>
                        </tr>
                        <tr>
                            <td>51개 이상</td>
                            <td>100,000 원</td>
                            <td>1회 생성 이미지 개수 1만 개 단위</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottom_text">
                <p>현재 회원님은 컬렉션 무료 생성을 1회 사용하였습니다.</p>
                <p>잔여 횟수는 1회 입니다.</p>
            </div>
            <div class="button_wrap">
                <button type="button" class="free_create">무료 생성 사용하기</button>
                <button type="button" class="payment_create">결제 후 생성하기</button>
            </div>
        </div>
    </div>
}





<script>
    // select 색상 바꾸기
    const select = document.querySelector('select');

    select.addEventListener('change', () => {

        if (select.selectedIndex !== 0) {
            select.style.color = "#222"
        }
    })

</script>


@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/GeneratorCommon.css" />
    <link rel="stylesheet" href="~/css/MetaData.css" />
}