@{
    ViewData["title"] = "내 정보";
}


<section class="cont1 profile">
    <div class="inner">
        <h2>내 정보</h2>
        <div class="info_wrap">
            <div class="user_email">
                <div class="text_wrap">
                    <p class="title">아이디(Email)</p>
                    <p class="info">pentabreed@pentabreed.com</p>
                </div>
                <a href="/Edit/Email" class="change_btn">변경하기</a>
            </div>
            <div class="user_nickname">
                <div class="text_wrap">
                    <p class="title">닉네임</p>
                    <p class="info">NFT Miner</p>
                </div>
                <a href="/Edit/NickName" class="change_btn">변경하기</a>
            </div>
            <div class="join_date">
                <div class="text_wrap">
                    <p class="title">회원가입일</p>
                    <p class="info">2022년 10월 10일</p>
                </div>
            </div>
            <div class="user_pw">
                <div class="text_wrap">
                    <p class="title">비밀번호</p>
                </div>
                <a href="/Edit/Password" class="change_btn">변경하기</a>
            </div>
        </div>
        <div class="btn_wrap">
            <a href="/MyInfo/PaymentHistory">결제내역 관리</a>
            <a href="/MyInfo/MyGallery">마이갤러리 이동</a>
        </div>
    </div>
</section>












@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/MyInfoCommon.css" />
    <link rel="stylesheet" href="~/css/Profile.css" />
}