@{
    ViewData["title"] = "회원탈퇴";
}


<section class="cont1 withdrawal">
    <div class="inner">
        <h2>회원탈퇴</h2>
        <p class="sub_title">회원탈퇴에 대한 안내를 읽고, 동의를 진행해주세요.</p>
        <div class="info_box">
            <div class="info_inner">
                <div class="info_title">
                    <p>아이디 재사용 및 복구 불가 안내</p>
                </div>
                <div class="info_text">
                    <p>
                        회원 탈퇴 진행 시 본인을 포함한 타인 모두
                        <strong>아이디 재사용이나 복구가 불가능</strong>합니다.
                    </p>
                </div>
            </div>
            <div class="check_wrap">
                <input type="checkbox" id="check1" />
                <label for="check1">
                    <img src="~/images/icons/check-gray.svg" class="nocheck" alt="위 사항에 동의합니다." />
                    <img src="~/images/icons/check-mark2.svg" class="check" alt="위 사항에 동의합니다." />
                    <span>위 사항에 동의합니다.</span>
                </label>
            </div>
        </div>
        <div class="info_box">
            <div class="info_inner">
                <div class="info_title">
                    <p>내 정보, 마이 컬렉션 및 마이 갤러리 데이터 삭제 안내</p>
                </div>
                <div class="info_text">
                    <p>
                        회원 탈퇴 진행 시 내 정보 및 마이 컬렉션과 마이 갤러리 내
                        <strong>
                            모든 데이터가 삭제되며, 삭제된
                            데이터는 복구되지 않습니다.
                        </strong>
                    </p>
                </div>
            </div>
            <div class="check_wrap">
                <input type="checkbox" id="check2" />
                <label for="check2">
                    <img src="~/images/icons/check-gray.svg" class="off" alt="위 사항에 동의합니다." />
                    <img src="~/images/icons/check-mark2.svg" class="on" alt="위 사항에 동의합니다." />
                    <span>위 사항에 동의합니다.</span>
                </label>
            </div>
        </div>
        <div class="info_box">
            <div class="info_inner">
                <div class="info_title">
                    <p>게시글 삭제 불가 안내</p>
                </div>
                <div class="info_text">
                    <p>
                        탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없으므로 게시물 및 댓글, 문의, 의견 등은
                        <strong>삭제가 불가능합니다.</strong>
                    </p>
                </div>
            </div>
            <div class="check_wrap">
                <input type="checkbox" id="check3" />
                <label for="check3">
                    <img src="~/images/icons/check-gray.svg" class="off" alt="위 사항에 동의합니다." />
                    <img src="~/images/icons/check-mark2.svg" class="on" alt="위 사항에 동의합니다." />
                    <span>위 사항에 동의합니다.</span>
                </label>
            </div>
        </div>
        <button type="button" class="withdrawal_btn" disabled>회원탈퇴</button>
    </div>
</section>


<script>
    const checkBox = document.querySelectorAll('input[type=checkbox]');
    const confirmBtn = document.querySelector('.withdrawal_btn')

    for (let check of checkBox) {
        check.addEventListener('input', () => {
            checkAgree();
        })
    }

    const checkAgree = () => {
        for (let check of checkBox) {
            if (!check.checked) {
                confirmBtn.disabled = true;
                return;
            }
        }
        confirmBtn.disabled = false;
    }

    confirmBtn.addEventListener('click', () => {
        location.href = "/MyInfo/WithdrawalComp";
    })

</script>









@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/MyInfoCommon.css" />
    <link rel="stylesheet" href="~/css/Withdrawal.css" />
}