@{
    ViewData["Title"] = "회원관리";
}

<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>회원 관리</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">관리자</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">회원관리</a></li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-between custom_card">
            <div class="col-xl-2">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-success border-success"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">총 회원수</div>
                            <div class="stat-digit">2311</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-primary border-primary"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">유료 회원</div>
                            <div class="stat-digit">2311</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-pink border-pink"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">금일 신규회원</div>
                            <div class="stat-digit">2311</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-danger border-danger"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">전일 신규회원</div>
                            <div class="stat-digit">2311</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-dark border-dark"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">전일 사용자</div>
                            <div class="stat-digit">2311</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-dark border-dark"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">전월 사용자</div>
                            <div class="stat-digit">2311</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3" style="gap: 14px">
            <select class="col-md-1">
                <option value="">닉네임</option>
            </select>
            <div class="col-md-3 p-0">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="SearchStr">
            </div>
            <div class="col-md-2 p-0">
                <button type="button" class="btn btn-primary" onclick="LoadUserTable()">조회</button>
            </div>
        </div>
        <div class="col-lg-12 p-0">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table header-border table-responsive-sm" id="InfoTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>가입일</th>
                                    <th>최근 접속 일시</th>
                                    <th>최근 접속 IP</th>
                                    <th>접속 횟수</th>
                                    <th>
                                        토큰발행<br />
                                        이용건수
                                    </th>
                                    <th>
                                        에어드롭<br />
                                        이용횟수
                                    </th>
                                    <th>
                                        누적<br />
                                        전송Tx수
                                    </th>
                                    <th>
                                        누적<br />
                                        이용수수료
                                    </th>
                                    <th>
                                        무료이용<br />
                                        횟수
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10</td>
                                    <td>adcdef@pentabreed.com</td>
                                    <td>2022.10.10</td>
                                    <td>2022.11.02 11:00</td>
                                    <td>128.11.123.1</td>
                                    <td>11</td>
                                    <td>
                                        <a href="#">2</a>
                                    </td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>genesis@gmail.com</td>
                                    <td>2022.10.10</td>
                                    <td>2022.10.30 02:30</td>
                                    <td>35.12.125.1</td>
                                    <td>8</td>
                                    <td>
                                        <a href="#">2</a>
                                    </td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>detail@gmail.com</td>
                                    <td>2022.10.10</td>
                                    <td>2022.11.05 13:44</td>
                                    <td>116.18.118.2</td>
                                    <td>5</td>
                                    <td>
                                        <a href="#">2</a>
                                    </td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="PageNav">
                                @*<li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                </a>
                                </li>*@
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="SetFreeImageModal">
            <div style="display: none" class="Idx_User"></div>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">추가 무료 이미지생성을 적용하시겠습니까?</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal_flex">
                        <div class="modal-body">
                            <p class="modal_title">무료이미지생성</p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="SetCntFree(true, 0, event)">적용</button>
                                <button type="button" class="btn btn-secondary" onclick="SetCntFree(false, 0, event)">미적용</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="SetFreeMintingModal">
            <div style="display: none" class="Idx_User"></div>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">추가 무료 민팅을 적용하시겠습니까?</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal_flex">
                        <div class="modal-body">
                            <p class="modal_title">무료 민팅</p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="SetCntFree(true, 1, event)">적용</button>
                                <button type="button" class="btn btn-secondary" onclick="SetCntFree(false, 1, event)">미적용</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
@section Heads{
    <!-- 커스텀 CSS -->
    <link href="~/css/custom.css" rel="stylesheet">

    <!-- Required vendors -->
}

@section Scripts{
    <script src="~/vendor/global/global.min.js"></script>
    <script src="~/js/quixnav-init.js"></script>
    <script src="~/js/custom.min.js"></script>

}