/* font color */
/* family */
.meatadata h2 {
  margin-bottom: 4px;
}
.meatadata .sub_text {
  font-size: 14px;
  line-height: 1.5;
  font-family: "noto_regular";
  margin-bottom: 20px;
}
.meatadata .no_create_img_btn {
  font-size: 16px;
  line-height: 1.5;
  font-family: "noto_medium";
  width: 218px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #1273eb;
  padding: 16px 0;
  color: #1273eb;
  margin-bottom: 60px;
}
.meatadata .no_create_img_btn:hover {
  color: #fff;
  background: #1273eb;
  transition: var(--hover-transition);
}
.meatadata label {
  color: #1273eb;
  font-size: 16px;
  font-family: "noto_medium";
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 12px;
}
.meatadata input {
  width: 100%;
  border: 1px solid #D6DAE1;
  border-radius: 8px;
  padding: 10px 16px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "noto_regular";
}
.meatadata input::placeholder {
  color: #798CA8;
}
.meatadata select {
  width: 100%;
  border: 1px solid #D6DAE1;
  border-radius: 8px;
  padding: 10px 16px;
  color: #798CA8;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "noto_regular";
  background: url(../images/icons/drop_down.svg) no-repeat right 12px center/auto 20px;
  cursor: pointer;
}
.meatadata select:focus {
  outline-width: 2px;
  outline-color: #1273eb;
}
.meatadata option:not(first-child) {
  color: #000;
}
.meatadata textarea {
  resize: none;
  width: 100%;
  height: 140px;
  border-radius: 8px;
  border: 1px solid #D6DAE1;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "noto_regular";
}
.meatadata textarea:focus {
  outline-width: 2px;
  outline-color: #1273eb;
}
.meatadata textarea::placeholder {
  color: #798CA8;
}
.meatadata .info_text {
  font-size: 14px;
  line-height: 1.5;
  font-family: "noto_regular";
  color: #798CA8;
  margin-bottom: 4px;
}
.meatadata .loading_wrap, .meatadata .token_name_wrap, .meatadata .token_explain_wrap {
  margin-bottom: 40px;
}
.meatadata .url_wrap {
  margin-bottom: 60px;
}

.modal_info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 50px 44px;
  background: rgba(0, 0, 0, 0.4);
}
.modal_info.on {
  display: flex;
}
.modal_info .inner {
  max-width: 936px;
  width: 100%;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding: 40px 60px;
}
.modal_info h2 {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  font-family: "noto_bold";
  color: #1273eb;
  margin-bottom: 40px;
}
.modal_info .info_text {
  margin-bottom: 40px;
}
.modal_info .info_text p {
  line-height: 1.5;
  font-family: "noto_regular";
  font-size: 14px;
}
.modal_info .table_wrap {
  margin-bottom: 60px;
}
.modal_info .table {
  width: 100%;
  border: 1px solid #D6DAE1;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden;
}
.modal_info .table thead tr {
  background: #F1F5FB;
}
.modal_info .table thead th {
  padding: 13px 0;
  text-align: center;
  font-family: "noto_medium";
  font-size: 14px;
  line-height: 1.5;
  border-right: 1px solid #D6DAE1;
}
.modal_info .table thead th:last-child {
  border-right: none;
}
.modal_info .table tbody td {
  padding: 13px 0;
  text-align: center;
  font-family: "noto_regular";
  font-size: 14px;
  line-height: 1.5;
  border-right: 1px solid #D6DAE1;
}
.modal_info .table tbody td:last-child {
  border-right: none;
}
.modal_info .bottom_text {
  margin-bottom: 40px;
}
.modal_info .bottom_text p {
  font-size: 16px;
  font-family: "noto_medium";
  line-height: 1.5;
  text-align: center;
  color: #1273eb;
}
.modal_info .bottom_text p:first-child {
  margin-bottom: 4px;
}
.modal_info .button_wrap {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.modal_info .free_create, .modal_info .payment_create {
  width: 200px;
  border: 1px solid #1273eb;
  border-radius: 8px;
  text-align: center;
  font-family: "noto_bold";
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 0;
}
.modal_info .free_create {
  background: #fff;
  color: #1273eb;
}
.modal_info .free_create:hover {
  background: #1273eb;
  color: #fff;
  transition: var(--hover-transition);
}
.modal_info .payment_create {
  background: #1273eb;
  color: #fff;
}
.modal_info .payment_create:hover {
  background: #1362C3;
  color: #fff;
  transition: var(--hover-transition);
}

/*# sourceMappingURL=MetaData.css.map */
