@{
    ViewData["title"] = "에어드롭 완료";
}


<section class="cont complete">
    <div class="inner">
        <h2 class="h3 suit_m color_theme">에어드롭이 완료되었습니다.</h2>
        <div class="table_wrap">
            <table class="table">
                <tbody>
                    <tr>
                        <th>회원 ID</th>
                        <td>airdropper@gmail.com</td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td>2022년 12월 25일</td>
                    </tr>
                    <tr>
                        <th>네트워크</th>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <th>토큰명</th>
                        <td>MinTi</td>
                    </tr>
                    <tr>
                        <th>토큰티커</th>
                        <td>MinTi</td>
                    </tr>
                    <tr>
                        <th>에어드롭 건수</th>
                        <td>2,500 건</td>
                    </tr>
                    <tr>
                        <th>가스비</th>
                        <td>0.55 ETH</td>
                    </tr>
                    <tr>
                        <th>서비스 이용료</th>
                        <td>0.3 ETH</td>
                    </tr>
                    <tr>
                        <th>거래 TxID</th>
                        <td>
                            <button type="button" class="tx_id color_theme">0x12e4a99d65fa91779905378b54bdd66f7b130de1f71354f78beb25618289f774</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/" class="button_160">메인으로</a>
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/IssuingComplete.css" />
}

@section Scripts{

}