@{
    ViewData["title"] = "결제하기";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">AIRDROP</h2>
        <p class="sub_title body_2 suit_r color_white_2">AIR DROPPER is optimized for ‘Chrome’ web browser and does not support mobile service.</p>
    </div>
</div>

<section class="cont airdrop_payment">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">Payment</h2>
        <div class="table_wrap">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Network</th>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <th>Token format</th>
                        <td>ERC-20</td>
                    </tr>
                    <tr>
                        <th>Token name</th>
                        <td>ADRP</td>
                    </tr>
                    <tr>
                        <th>Token ticker</th>
                        <td>ADRP</td>
                    </tr>
                    <tr>
                        <th>Smart contract</th>
                        <td>0x7dE7bAa83766D413D7fE382e14c72178CC5695a3</td>
                    </tr>
                    <tr>
                        <th>Uploaded file</th>
                        <td>MinTi_airdrop_01.csv</td>
                    </tr>
                    <tr>
                        <th>Txs</th>
                        <td>2,500 Txs</td>
                    </tr>
                    <tr>
                        <th>Amount(tokens)</th>
                        <td>10,000개</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_wrap payment_table">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="color_theme body_2 suit_m">Service fee</td>
                        <td>0.3 ETH</td>
                        <td>
                            <!-- 구매 완료시 display none  -->
                            <button type="button" class="send_btn" id="payment_btn">Pay</button>

                            <!-- 구매 완료시 class on 추가 -->
                            <p class="comp_text color_theme suit_m body_2">
                                Payment<br />
                                Completed
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="button_160" disabled>AIRDROP</button>
    </div>
</section>

<script>
    document.getElementById('payment_btn').addEventListener('click', () => {
        document.querySelector('.connection').classList.add('on');
    })

</script>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/AirdropPayment.css" />
}

@section Scripts{

}

@section modals{
    <div class="modal connection">
        <!--data-modal-close 모달 닫기 -->
        <button type="button" class="modal_x_btn" data-modal-close>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="inner">
            <h4 class="h4 jost_m color_theme">Wallet Connection</h4>
            <p class="sub_title body_2 suit_m">
                Select the wallet you want to use for payment.
            </p>
            <ul>
                <li>
                    <button type="button" data-comming>
                        <img src="~/images/icons/metamask.png" alt="metamask" />
                        <span>Connect Metamask</span>
                    </button>
                </li>
                <li>
                    <button type="button" data-comming>
                        <img src="~/images/icons/kaikas.png" alt="kaikas" />
                        <span>Connect KaiKas</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>    
}