@{
    ViewData["title"] = "결제하기";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">에어드롭</h2>
        <p class="sub_title body_2 suit_r color_white_2">AIR DROPPER는 ‘Chrome’ 웹브라우저에 최적화 되어있으며, 모바일 서비스는 지원하지 않습니다.</p>
    </div>
</div>

<section class="cont airdrop_payment">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">결제하기</h2>
        <div class="table_wrap">
            <table class="table">
                <tbody>
                    <tr>
                        <th>네트워크</th>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <th>토큰형식</th>
                        <td>ERC-20</td>
                    </tr>
                    <tr>
                        <th>토큰명</th>
                        <td>ADRP</td>
                    </tr>
                    <tr>
                        <th>토큰티커</th>
                        <td>ADRP</td>
                    </tr>
                    <tr>
                        <th>스마트 컨트랙트</th>
                        <td>0x7dE7bAa83766D413D7fE382e14c72178CC5695a3</td>
                    </tr>
                    <tr>
                        <th>업로드 파일</th>
                        <td>MinTi_airdrop_01.csv</td>
                    </tr>
                    <tr>
                        <th>Tx 수</th>
                        <td>2,500 건</td>
                    </tr>
                    <tr>
                        <th>토큰 수량</th>
                        <td>10,000개</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_wrap payment_table">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="color_theme body_2 suit_m">결제 수수료</td>
                        <td>0.3 ETH</td>
                        <td>
                            <!-- 구매 완료시 class on 추가, disabled 추가 -->
                            <button type="button" class="send_btn" id="payment_btn">결제하기</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="button_160" disabled>에어드롭 하기</button>
    </div>
</section>

<script>
    document.getElementById('payment_btn').addEventListener('click', () => {
        document.querySelector('.connection').classList.add('on');
    })

</script>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/AirdropPayment.css" />
}

@section Scripts{

}

@section modals{
    <div class="modal connection">
        <!--data-modal-close 모달 닫기 -->
        <button type="button" class="modal_x_btn" data-modal-close>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="inner">
            <h4 class="h4 jost_m color_theme">Wallet Connection</h4>
            <p class="sub_title body_2 suit_m">
                결제 시 이용할 지갑을 선택하세요.
            </p>
            <ul>
                <li>
                    <button type="button" data-comming>
                        <img src="~/images/icons/metamask.png" alt="metamask" />
                        <span>Connect Metamask</span>
                    </button>
                </li>
                <li>
                    <button type="button" data-comming>
                        <img src="~/images/icons/kaikas.png" alt="kaikas" />
                        <span>Connect KaiKas</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>    
}