@{
    ViewData["title"] = "Snapshot completed.";
}


<section class="cont snap_complete">
    <div class="inner">
        <h2 class="h3 suit_m color_theme">Snapshot completed.</h2>
        <div class="table_wrap">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Extracted Time</th>
                        <td>airdropper@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Holder List</th>
                        <td>
                            <div class="down_box">
                                <p class="color_theme">export-tokenholders-for-nft-contract-0x876</p>
                                <a href="#" class="file_btn">File Download</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/" class="button_160">MAIN</a>
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/SnapComplete.css" />
}

@section Scripts{

}