@{
    ViewData["title"] = "Change Password";
}


<section class="cont edit_pw">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">Change My Info</h2>
        <p class="sub_title body_1 suit_r color_theme">Change Password</p>
        <div class="form_wrap">
            <form>
                <div class="input_wrap pw">
                    <label for="pw" class="body_2 suit_m color_white_2">Password settings</label>
                    <div class="pos_box">
                        <input type="password" id="pw" placeholder="8~16 digit combination of English, numbers and special characters" />
                        <button type="button" class="view_btn" data-eye>
                            <img src="~/images/icons/eye_close.svg" class="close" alt="hidden password" />
                            <img src="~/images/icons/eye_open.svg" class="open" alt="view password" />
                        </button>
                    </div>
                    <div class="pos_box">
                        <input type="password" id="rePw" placeholder="Re-enter password" />
                        <button type="button" class="view_btn" data-eye>
                            <img src="~/images/icons/eye_close.svg" class="close" alt="hidden password" />
                            <img src="~/images/icons/eye_open.svg" class="open" alt="view password" />
                        </button>
                    </div>
                </div>
                <button type="submit" class="button_160">Change</button>
            </form>
        </div>
    </div>
</section>



@section Heads{
    <link rel="stylesheet" href="~/css/pages/EditPw.css" />
    <script src="~/js/ChangePassword.js" defer></script>
}