@{
    ViewData["title"] = "Change ID(email)";
}


<section class="cont edit_email">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">Change My Info</h2>
        <p class="sub_title body_1 suit_r color_theme">Change ID(email)</p>
        <div class="form_wrap">
            <form>
                <div class="input_wrap id">
                    <label for="userId" class="body_2 suit_m color_white_2">ID</label>
                    <div class="box">
                        <!-- 각 Input error 클래스 추가시 백그라운드, 포커스 색상 변경 -->
                        <input type="email" id="userId" placeholder="Email address" />
                        <button type="button" class="button_112">Duplicate check</button>
                    </div>
                    <p class="success_msg">ID is available.</p>
                    <p class="error_msg">This ID is already in use.</p>
                </div>
                <div class="input_wrap certification">
                    <label for="certification" class="body_2 suit_m color_white_2">E-mail verification</label>
                    <div class="box">
                        <!-- 각 Input error 클래스 추가시 백그라운드, 포커스 색상 변경 -->
                        <input type="text" placeholder="Email verification code" />
                        <button type="button" class="button_112">Send code</button>
                    </div>
                    <button type="button" class="button_140">Check code</button>
                    <p class="success_msg">Email verification is complete.</p>
                    <p class="error_msg">
                        Please enter your verification code.
                    </p>
                </div>
            </form>
        </div>
        <button type="button" class="next_btn button_160">Change</button>
    </div>
</section>






@section Heads{
    <link rel="stylesheet" href="~/css/pages/EditEmail.css" />
}