@{
    ViewData["Title"] = "결제 현황";
}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6">
                <div class="welcome-text">
                    <h4 class="font-weight-bold">결제 현황</h4>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="barChart" height="300"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-block">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="card-title mb-2">Dell PowerEdge R740 S4208 32G/300G BTO</h4>
                                <div class="d-flex">
                                    <p class="mb-0 mr-1 subtitle p-0">
                                        구매 :
                                        <time class="mr-2">2011.11.12</time>
                                        등록 :
                                        <time class="mr-2">2011.12.12 12:32</time>
                                        반출 :
                                        <time class="mr-2">2011.12.12 12:32</time>
                                    </p>
                                    <a href="javascript:void()" class="badge badge-primary">수정</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row align-items-start">
                                    <div class="col-8 d-flex flex-wrap justify-content-end">
                                        <a href="javascript:void()" class="badge badge-light col-3 m-1">세금계산서</a>
                                        <a href="javascript:void()" class="badge badge-light col-3 m-1">거래명세서</a>
                                        <a href="javascript:void()" class="badge badge-light col-3 m-1">영수증</a>
                                        <a href="javascript:void()" class="badge badge-light col-3 m-1">견적서</a>
                                        <a href="javascript:void()" class="badge badge-light col-3 m-1">계약서</a>
                                        <a href="javascript:void()" class="badge badge-light col-3 m-1">메모</a>
                                    </div>
                                    <div class="col-4">
                                        <div id="qrcode"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 d-flex flex-column align-items-center">
                                <div class="img_wrap">
                                    <img src="~/images/img/img1.jpg" />
                                </div>
                                <ul class="item_list">
                                    <li class="on">
                                        <button>
                                            <img src="~/images/img/sub_img1.jpg" />
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <img src="~/images/img/sub_img2.jpg" />
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <img src="~/images/img/sub_img3.jpg" />
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="table-responsive col-9">
                                <table class="table table-responsive-sm custom_table">
                                    <tbody>
                                        <tr>
                                            <th>상태</th>
                                            <td>보유</td>
                                            <th>결제방법</th>
                                            <td>법인 [1232 1231 32132]</td>
                                        </tr>
                                        <tr>
                                            <th>구매 개수</th>
                                            <td>1</td>
                                            <th>금액</th>
                                            <td>253,000 원 공급 230,000 원 , VAT 23,000 원</td>
                                        </tr>
                                        <tr>
                                            <th>사용 용도</th>
                                            <td>데이터 보관용</td>
                                            <th>관리번호</th>
                                            <td>1231-312312</td>
                                        </tr>
                                        <tr>
                                            <th>보관 / 설치</th>
                                            <td>분당 IDC</td>
                                            <th>관리 부서</th>
                                            <td>개발부</td>
                                        </tr>
                                        <tr>
                                            <th>공급처</th>
                                            <td>㈜ 삼흥 에너지</td>
                                            <th>관리 담당자</th>
                                            <td>이미도</td>
                                        </tr>
                                        <tr>
                                            <th>규격</th>
                                            <td>SSSSS-aaaaaaa</td>
                                            <th>과제명</th>
                                            <td>IITP 멋진 연구</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('barChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [10.2, 10.3, 10.4, 10.5, 10.6, 10.7, 10.8],
            datasets: [
                {
                    label: '월간',
                    data: [49, 124, 127, 70, 117, 146, 96],
                    borderColor: '#36A2EB',
                    backgroundColor: '#9BD0F5',
                },
                {
                    label: '주간',
                    data: [25, 54, 45, 37, 21, 73, 68],
                    backgroundColor: '#FFB1C1',
                    borderColor: '#FF6384',
                },
            ],
        },
    });
</script>

@section Heads{


}

@section Scripts{
    <!-- Chart ChartJS plugin files -->
}