@{
    ViewData["Title"] = "결제 현황";
}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6">
                <div class="welcome-text">
                    <h4 class="font-weight-bold">결제 현황</h4>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="barChart" height="300"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <select class="form-control">
                                                <option selected="">상태 전체</option>
                                                <option>보유</option>
                                                <option>반출</option>
                                                <option>폐기</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <select class="form-control">
                                                <option selected="">결제 전체</option>
                                                <option>과제(세액별도)</option>
                                                <option>과제</option>
                                                <option>법인</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="row justify-content-end">
                                        <div class="form-group col-3">
                                            <select class="form-control">
                                                <option selected="">명칭</option>
                                                <option>과제명</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button">검색</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>구매 일시</th>
                                        <th>상태</th>
                                        <th>과제명</th>
                                        <th>명칭</th>
                                        <th>결제</th>
                                        <th>총액</th>
                                        <th>기능</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>231</th>
                                        <td>2011.11.12</td>
                                        <td>보유</td>
                                        <td>비대면 EX</td>
                                        <td>Dell PowerEdge R740 S4208</td>
                                        <td>법인</td>
                                        <td>323,000</td>
                                        <td><span class="badge badge-success">통계</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination pagination-sm pagination-gutter justify-content-center">
                            <li class="page-item page-indicator">
                                <a class="page-link" href="javascript:void()">
                                    <i class="icon-arrow-left"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void()">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                            <li class="page-item page-indicator">
                                <a class="page-link" href="javascript:void()">
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('barChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [10.2, 10.3, 10.4, 10.5, 10.6, 10.7, 10.8],
            datasets: [
                {
                    label: '월간',
                    data: [49, 124, 127, 70, 117, 146, 96],
                    borderColor: '#36A2EB',
                    backgroundColor: '#9BD0F5',
                },
                {
                    label: '주간',
                    data: [25, 54, 45, 37, 21, 73, 68],
                    backgroundColor: '#FFB1C1',
                    borderColor: '#FF6384',
                },
            ],
        },
    });
</script>

@section Heads{


}

@section Scripts{

}