@{
    ViewData["Title"] = "Home";
}

<section class="cont cont1">
    <div class="inner">
        <div class="text_wrap">
            <div class="sub_title h3 jost_b">AIR DROPPER</div>
            <h2 class="h1 suit_b">토큰 발행부터 에어드롭까지 간단하게!</h2>
            <p class="text body_1 suit_m">AIR DROPPER는 간단한 프로세스만으로 수백 만개의 지갑에 가상 자산이나 NFT를 전송할 수 있는 서비스입니다.</p>
        </div>
        <div class="button_wrap">
            <button type="button" class="">토큰 발행</button>
            <button type="button" class="">에어 드랍</button>
        </div>
    </div>
</section>
<section class="cont cont2">
    <div class="inner">
        <div class="box">
            <h2></h2>
            <div class="sub_title"></div>
            <div class="text"></div>
            <div class="box_list">
                <ul>
                    <li>
                        <h3></h3>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3></h3>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="img_wrap">
            <img src="" alt="" />
        </div>
    </div>
</section>
<section class="cont cont3">
    <div class="inner">
    </div>
</section>
<section class="cont cont4">
    <div class="inner">
    </div>
</section>
<section class="cont cont5">
    <div class="inner">
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/index.css" />
}