@{
    ViewData["Title"] = "Home";
}

<section class="cont cont1">
    <div class="inner">
        <div class="text_wrap">
            <div class="sub_title h3 jost_sb">AIR DROPPER</div>
            <h2 class="h1 suit_b">토큰 발행부터 에어드롭까지 간단하게!</h2>
            <p class="text body_1 suit_m">AIR DROPPER는 간단한 프로세스만으로 수백 만개의 지갑에 가상 자산이나 NFT를 전송할 수 있는 서비스입니다.</p>
        </div>
        <div class="button_wrap">
            <a href="/Issuing/Issuing" class="token_btn">토큰 발행</a>
            <a href="/Airdrop/Airdrop" class="token_btn">에어 드랍</a>
        </div>
        <div class="count_wrap">
            <div class="issuing">
                <span class="name sub1 jost_r">ISSUING</span>
                <span class="count subtitle_3 suit_m">1234</span>
                <span class="unit body_3 suit_r">Cases</span>
            </div>
            <div class="airdrop">
                <span class="name sub1 jost_r">AIRDROP</span>
                <span class="count subtitle_3 suit_m">1234</span>
                <span class="unit body_3 suit_r">Txs</span>
            </div>
        </div>
    </div>
</section>
<section class="cont cont2">
    <div class="inner">
        <div class="box">
            <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 1.</div>
            <h2 class="h2 suit_sb">토큰 발행과 빠르고 편리한 에어드롭 서비스를 한번에!</h2>
            <div class="text body_2 suit_m color_white_2">AIR DROPPER는 토큰 발행 서비스와 쉽고 빠른 에어드롭 서비스를 동시에 제공하여 관련 프로세스에 소요되는 시간과 비용을 감소시킵니다.</div>
            <div class="box_list">
                <ul>
                    <li class="body_2 suit_m color_white_2">
                        <h3>AIR DROPPER 사용 전</h3>
                        <div>
                            <p>복잡함</p>
                            <p>많은 시간 소요</p>
                            <p>많은 비용 필요</p>
                            <p>전문가 및 인력 필요</p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="body_2 suit_m">
                        <h3 class="color_theme">AIR DROPPER</h3>
                        <div>
                            <p>간단함</p>
                            <p>적은 시간 소요</p>
                            <p>경제적</p>
                            <p>비전문가도 가능</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="img_wrap">
            <img src="~/images/index/img1.png" alt="토큰 이미지" />
        </div>
    </div>
</section>
<section class="cont cont3">
    <div class="inner">
        <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 2.</div>
        <h2 class="h2 suit_sb">간단한 프로세스로 이루어진 에어드롭 서비스</h2>
        <div class="text body_2 suit_m color_white_2">단 4단계만으로 이루어진 AIR DROPPER의 에어드롭 서비스를 활용하여 언제, 어디서든, 누구나 편리하게 수많은 지갑으로 토큰 전송이 가능합니다.</div>
        <ul>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP1</h3>
                <p class="body_1 suit_m">메인넷 / 토큰형식<br />선택</p>
            </li>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP2</h3>
                <p class="body_1 suit_m">
                    지갑 연결 및<br />
                    네트워크 선택
                </p>
            </li>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP3</h3>
                <p class="body_1 suit_m">
                    전송 리스트<br />
                    업로드
                </p>
            </li>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP4</h3>
                <p class="body_1 suit_m">
                    에어드롭<br />
                    실행
                </p>
            </li>
        </ul>
    </div>
</section>
<section class="cont cont4">
    <div class="inner">
        <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 3.</div>
        <h2 class="h2 suit_sb">다량의 토큰 전송을 한번의 트랜잭션으로 비용 절감</h2>
        <div class="text body_2 suit_m color_white_2">회 당 1,000개의 지갑에 토큰 전송을 하나의 트랜잭션으로 묶어 전송하여 수수료(Gas Fee)가 30~40% 가량 절감됩니다.</div>
        <div class="content_wrap">
            <div class="box box1">
                <h3 class="body_2 suit_m color_white_2">AIR DROPPER 사용 전</h3>
                <div class="img_wrap">
                    <img src="~/images/index/airdropper_img1.png" alt="Airdropper 사용전 이미지" />
                </div>
            </div>
            <p class="line"></p>
            <div class="box box2">
                <h3 class="body_2 suit_m color_theme">AIR DROPPER</h3>
                <div class="img_wrap">
                    <img src="~/images/index/airdropper_img2.png" alt="Airdropper 사용후 이미지" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cont cont5">
    <div class="inner">
        <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 4.</div>
        <h2 class="h2 suit_sb">다양한 블록체인 네트워크 지원으로 범용성 확대</h2>
        <div class="text body_2 suit_m color_white_2">이더리움, 바이낸스체인, 폴리곤, 클레이튼 등 다양한 메인넷 네트워크를 기반으로 하는 토큰 또는 NFT 전송이 가능하며, 더 많은 네트워크가 추가될 예정입니다.</div>
        <ul>
            <li class="symbol_icon">
                <img src="~/images/coin_icon/ethereum_lg.svg" alt="ethereum" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="coin_icon">
                <img src="~/images/coin_icon/klaytn_lg.svg" alt="klaytn" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="coin_icon">
                <img src="~/images/coin_icon/bsc_lg.svg" alt="bsc" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="coin_icon">
                <img src="~/images/coin_icon/polygon_lg.svg" alt="polygon" />
            </li>
            <li class="dot_icon">
                <img src="~/images/icons/dots.svg" alt="dot icon" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="text_icon">
                <span class="h3 jost_r">etc</span>
            </li>
        </ul>
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/index.css" />
}