@{
    ViewData["title"] = "토큰 발행";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2 class="h1 suit_m">토큰 발행</h2>
        <p class="sub_title body_2 suit_r color_white_2">AIR DROPPER는 ‘Chrome’ 웹브라우저에 최적화 되어있으며, 모바일 서비스는 지원하지 않습니다.</p>
    </div>
</div>

<section class="cont issuing">
    <div class="inner">
        <h2>토큰 정보입력</h2>
        <div class="select_box">
            <div class="box">
                <h4></h4>
                <div class="select_list">
                    <!-- default 클래스 삭제시 흰색 색상 -->
                    <div class="select_wrap default">
                        <p class="select dropdown">블록체인 네트워크 선택</p>
                    </div>
                    <ul>
                        <li>
                            <div class="select_wrap default">
                                <p class="select"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <h4></h4>
                <div class="select_list">
                    <!-- default 클래스 삭제시 흰색 색상 -->
                    <div class="select_wrap default">
                        <p class="select"></p>
                    </div>
                    <ul>
                        <li>
                            <div class="select_wrap default">
                                <p class="select"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<select hidden>
    <option value="Ethereum">Ethereum</option>
    <option value="Polygon">Polygon</option>
    <option value="BSC">BSC</option>
    <option value="Klaytn">Klaytn</option>
</select>
<select hidden>
    <option>ERC-20</option>
</select>



@section Heads{
    <link rel="stylesheet" href="~/css/pages/Issuing.css" />
}

@section Scripts{

}