@charset "UTF-8";
@import "./Setting.scss";



.cont1 {

    .inner {
        display: flex;
        max-width: 1400px;
        padding: 0 20px;
        margin: 0 auto;
    }

    .user_view {
        max-width: 460px;
        width: 100%;
        padding: 60px 79px 60px 0;
        border-right: 1px solid $gray9;
        flex: 1;
    }

    .img_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        max-width: 380px;
        min-width: 360px;
        max-height: 380px;
        min-height: 360px;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .no_image {
        display: none;
        border: 1px solid $gray9;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        text-align: center;
        width: 100%;
        height: 100%;

        &.on {
            display: flex;
        }

        .title {
            font-size: 18px;
            font-family: $noto_medium;
            line-height: 1.5;
            color: $gray3;
        }

        .text {
            line-height: 14px;
            font-family: $noto_regular;
            line-height: 1.5;
            color: $gray3;
        }
    }

    .info_wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        ul {
            max-width: 334px;
            width: 100%;
        }

        li {
            display: flex;
            gap: 24px;
            align-items: center;
            margin-bottom: 16px;

            label {
                min-width: 82px;
                display: block;
                color: $blue_main;
                font-size: 16px;
                font-family: $noto_medium;
                line-height: 1.5;
                position: relative;

                &:after {
                    content: ":";
                    display: block;
                    position: absolute;
                    top: 53%;
                    right: -4px;
                    font-size: 14px;
                    transform: translateY(-50%);
                }
            }

            .info {
                flex: 1;


                input {
                    width: 80px;
                    text-align: center;
                    padding: 9px;
                    border: 1px solid $gray9;
                    border-radius: 8px;
                }

                span {
                    margin: 0 4px;
                }

                .alert_text {
                    font-size: 14px;
                    line-height: 1.5;
                    font-family: $noto_regular;
                    color: $gray5;
                }
            }
        }
    }

    .info_text {
        position: relative;
        margin-bottom: 40px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 1.5;
        font-family: $noto_regular;
        color: $gray5;

        span {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .button_wrap {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .make_btn, .info_btn {
        width: 280px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 1.5;
        font-family: $noto_medium;
        margin: 0 auto;
        padding: 12px;
    }

    .make_btn {
        background: $blue_main;
        color: #fff;

        &:hover {
            background: $blue_main2;
            transition: var(--hover-transition);
        }
    }

    .info_btn {
        background: #fff;
        border: 1px solid $blue_main;
        color: $blue_main;

        &:hover {
            background: $blue_main;
            color: #fff;
            transition: var(--hover-transition);
        }
    }

    .setting_box {
        max-width: 900px;
        width: 100%;
        padding: 60px 0 60px 42px;
        overflow: hidden;

        .top_text {
            margin-bottom: 20px;

            h3 {
                font-size: 24px;
                font-family: $spoqa_bold;
                line-height: 1.5;
                display: flex;
                gap: 8px;
                align-items: center;

                span {
                    color: $blue_main;
                    font-size: 16px;
                    line-height: 1.5;
                    font-family: $noto_medium;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }

            li {
                font-size: 14px;
                line-height: 1.5;
                font-family: $noto_regular;
                color: $gray5;
                position: relative;
                padding-left: 11px;
                word-break: keep-all;

                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}


.item_list {

    .drag_btn {
        width: 36px;
        height: 36px;
        padding: 11px 6px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: $blue_main;
        }
    }

    > ul {
        display: flex;
        flex-direction: column;

        > li {
            padding: 10px 10px 10px 66px;
            height: 292px;
            position: relative;
        }
    }

    .box_wrap {
        border: 1px solid $gray9;
        border-radius: 12px;
        height: 100%;
    }

    .title_wrap {
        display: flex;
        justify-content: space-between;
        background: $gray7;
        border-bottom: 1px solid $gray9;
        padding: 10px 16px;
        border-radius: 12px 12px 0 0;

        .title {
            display: flex;
            align-items: center;

            p {
                font-size: 15px;
                font-family: $noto_bold;
                line-height: 1.5;
            }

            .name {
                margin-right: 4px;
                max-width: 10.3515vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .item_amount {
                margin-right: 8px;
            }

            .change_name_btn {
                width: 20px;
                height: 20px;
                background: url(../images/icons/change_name_btn.svg) no-repeat center center / contain;
            }
        }
    }

    .input_wrap {
        display: flex;
        gap: 16px;
        align-items: center;

        > div {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 12px;
            line-height: 1.5;
            font-family: $noto_medium;
            color: $gray5;

            input {
                width: 48px;
                background: #fff;
                padding: 7px 6px;
                font-size: 12px;
                line-height: 1.5;
                font-family: $noto_regular;
                text-align: center;
                border-radius: 8px;
                border: 1px solid $gray9;
            }
        }
    }

    .list_wrap {
        padding: 20px 8px 20px 14px;
        overflow-x: auto;

        .remain_text {
            font-size: 12px;
            font-family: $noto_medium;
            line-height: 1.5;
            color: $gray5;
            margin-bottom: 12px;
        }

        .list {
            display: flex;
            gap: 4px;

            li {
                width: 100px;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: center;
                position: relative;
            }
        }

        .image_wrap {
            border: 1px solid $gray9;
            border-radius: 4px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            &.on {
                border: 2px solid $blue_main;
            }

            .hidden_guide {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 20px);
                height: calc(100% - 38px);
            }
        }

        .item_name {
            font-size: 12px;
            line-height: 1.5;
            font-family: $noto_medium;
        }

        .rare_input {
            font-size: 12px;
            line-height: 1.5;
            font-family: $noto_medium;

            input {
                width: 56px;
                padding: 7px 4px;
                text-align: center;
                font-size: 12px;
                line-height: 1.5;
                font-family: $noto_regular;
                border-radius: 8px;
                border: 1px solid $gray9;
                margin-right: 2px;
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    display: none;

    &.on {
        display: block;
    }


    .modal_bg {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 40%);
    }

    .modal_close_btn {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 20px;

        .line {
            display: block;
            width: 20px;
            height: 2px;
            background: $blue_main;
            position: absolute;
            top: 50%;
            left: 50%;

            &:nth-child(1) {
                transform: translate(-50%) rotate(-45deg);
            }

            &:nth-child(2) {
                transform: translate(-50%) rotate(45deg);
            }
        }
    }

    .modal_input_box {
        max-width: 480px;
        width: 100%;
        padding: 60px 70px 40px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 40%);

        h3 {
            text-align: center;
            line-height: 1.5;
            font-size: 16px;
            font-family: $noto_medium;
            margin-bottom: 30px;
        }

        .change_input {
            width: 100%;
            border: 1px solid $gray9;
            border-radius: 8px;
            font-size: 14px;
            padding: 10px 16px;
            font-family: $noto_regular;
            line-height: 1.5;
            margin-bottom: 40px;
        }

        .confirm_btn {
            max-width: 180px;
            width: 100%;
            margin: 0 auto;
            background: $blue_main;
            border-radius: 8px;
            padding: 12px 0;
            line-height: 1.5;
            font-size: 14px;
            color: #fff;

            &:hover {
                background: $blue_main2;
                transition: var(--hover-transition);
            }
        }
    }
}

.collection_modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 57px 52px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;

    &.on {
        display: block;
    }

    .collection_inner {
        width: 100%;
        height: 100%;
        max-width: 1450px;
        max-height: 858px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 20%);
        border-radius: 12px;
        background: #fff;
        margin: 0 auto;
        overflow: hidden;

        .title_wrap {
            padding: 14px 24px;
            border-bottom: 1px solid $gray9;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .collection_close_btn {
                width: 20px;
                height: 20px;
                position: relative;

                .line {
                    display: block;
                    width: 20px;
                    height: 2px;
                    background: $sec1;
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    &:nth-child(1) {
                        transform: translate(-50%) rotate(-45deg);
                    }

                    &:nth-child(2) {
                        transform: translate(-50%) rotate(45deg);
                    }
                }
            }

            p {
                font-size: 18px;
                line-height: 1.5;
                font-family: $noto_bold;
            }
        }
    }
}

.content {
    padding: 40px;
    width: 100%;
    height: 100%;

    .navi {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .input_wrap {
        max-width: 784px;
        flex: 1;
        position: relative;

        input {
            width: 100%;
            font-size: 14px;
            line-height: 1.5;
            font-family: $noto_regular;
            border: 1px solid $gray9;
            padding: 10px 100px 10px 16px;
            border-radius: 8px;

            &::placeholder {
                color: $gray5;
            }
        }

        .search {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .pagination {
        min-width: 412px;
        display: flex;
        gap: 28px;

        .page {
            display: flex;
            gap: 16px;
            align-items: center;

            p {
                font-size: 16px;
                line-height: 1.5;
                font-family: $noto_regular;
            }

            input {
                width: 68px;
                border: 1px solid $gray9;
                border-radius: 8px;
                text-align: center;
                font-size: 16px;
                line-height: 1.5;
                font-family: $noto_regular;
                padding: 8px;
            }
        }

        .navi_btn {
            display: flex;
            gap: 12px;

            button {
                width: 100px;
                border: 1px solid #222;
                border-radius: 8px;
                font-size: 14px;
                line-height: 1.5;
                font-family: $noto_medium;
                background-repeat: no-repeat;
                background-size: auto 20px;
                background-color: #fff;

                &:hover {
                    filter: invert(1);
                    transition: filter .25s;
                }
            }

            .prev_btn {
                background-image: url(../images/icons/prev_btn.svg);
                background-position: 10px center;
                padding: 10px 18px 10px 34px;
            }

            .next_btn {
                background-image: url(../images/icons/next_btn.svg);
                background-position: right 10px center;
                padding: 10px 34px 10px 18px;
            }
        }
    }

    .modal_item_list {
        padding: 40px 60px 0 60px;
        height: 100%;
        overflow: hidden;


        .inner {
            padding-bottom: 40px;
            overflow-y: scroll;
            height: calc(100% - 60px);
        }

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            grid-gap: 30px;
            padding-right: 10px;
        }

        li {
            border: 1px solid $gray9;
            border-radius: 12px;
            overflow: hidden;

            .img_wrap {
            }

            .img_name {
                padding: 14px 16px;
            }
        }
    }
}


.modal_info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 50px 44px;

    &.on {
        display: flex;
    }

    .inner {
        max-width: 936px;
        width: 100%;
        border-radius: 12px;
        background: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 20%);
        padding: 40px 60px;
    }

    h2 {
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        font-family: $noto_bold;
        color: $blue_main;
        margin-bottom: 40px;
    }

    .info_text {
        margin-bottom: 40px;

        p {
            line-height: 1.5;
            font-family: $noto_regular;
            font-size: 14px;
        }
    }

    .table_wrap {
        margin-bottom: 60px;
    }

    .table {
        width: 100%;
        border: 1px solid $gray9;
        border-radius: 8px;
        border-collapse: separate;
        overflow: hidden;

        thead {

            tr {
                background: $theme2;
            }

            th {
                padding: 13px 0;
                text-align: center;
                font-family: $noto_medium;
                font-size: 14px;
                line-height: 1.5;
                border-right: 1px solid $gray9;

                &:last-child {
                    border-right: none;
                }
            }
        }

        tbody {

            tr {
            }

            td {
                padding: 13px 0;
                text-align: center;
                font-family: $noto_regular;
                font-size: 14px;
                line-height: 1.5;
                border-right: 1px solid $gray9;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .bottom_text {
        margin-bottom: 40px;

        p {
            font-size: 16px;
            font-family: $noto_medium;
            line-height: 1.5;
            text-align: center;
            color: $blue_main;

            &:first-child {
                margin-bottom: 4px;
            }
        }
    }

    .confirm_btn {
        width: 200px;
        border: 1px solid $blue_main;
        border-radius: 8px;
        background: #fff;
        color: $blue_main;
        text-align: center;
        font-family: $noto_medium;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 auto;
        padding: 16px 0;

        &:hover {
            background: $blue_main;
            color: #fff;
            transition: var(--hover-transition);
        }
    }
}




.footer {
    display: none;
}
