@charset "UTF-8";
@import "./Setting.scss";


.item_list {

    .drag_btn {
        width: 36px;
        height: 36px;
        padding: 11px 6px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);

        .line {
            display: block;
            width: 100%;
            height: 2px;
            background: $blue_main;
        }
    }

    > ul {
        display: flex;
        flex-direction: column;

        > li {
            padding: 10px 10px 10px 66px;
            height: 292px;
            position: relative;
        }
    }

    .box_wrap {
        border: 1px solid $gray9;
        border-radius: 12px;
        height: 100%;
    }

    .title_wrap {
        display: flex;
        justify-content: space-between;
        background: $gray7;
        border-bottom: 1px solid $gray9;
        padding: 10px 16px;
        border-radius: 12px 12px 0 0;

        .title {
            display: flex;
            align-items: center;

            p {
                font-size: 15px;
                font-family: $noto_bold;
                line-height: 1.5;
            }

            .name {
                margin-right: 4px;
                max-width: 10.3515vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .item_amount {
                margin-right: 8px;
            }

            .change_name_btn {
                width: 20px;
                height: 20px;
                background: url(../images/icons/change_name_btn.svg) no-repeat center center / contain;
            }
        }
    }

    .input_wrap {
        display: flex;
        gap: 16px;
        align-items: center;

        > div {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 12px;
            line-height: 1.5;
            font-family: $noto_medium;
            color: $gray5;

            input {
                width: 48px;
                background: #fff;
                padding: 7px 6px;
                font-size: 12px;
                line-height: 1.5;
                font-family: $noto_regular;
                text-align: center;
                border-radius: 8px;
                border: 1px solid $gray9;
            }
        }
    }

    .list_wrap{
        padding: 20px 8px 20px 14px;
        overflow-x: auto;

        .remain_text{
            font-size: 12px;
            font-family: $noto_medium;
            line-height: 1.5;
            color: $gray5;
            margin-bottom: 12px;
        }

        .list{
            display: flex;
            gap: 4px;

            li{
                width: 100px;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: center;

            }
        }
    }
}









@media screen and (max-width: 768px) {
}
