@charset "UFT-8";
@import "./Setting.scss";


.profile {

    .info_wrap {
        //border-top: 1px solid $gray8;
        //border-bottom: 1px solid $gray8;
        //padding: 30px 20px;
        margin-bottom: 80px;

        .user_email {
            border-top: 1px solid $gray8;
            padding: 30px 20px 0;
        }

        .join_date {
            border-bottom: 1px solid $gray8;
            padding: 0 20px 30px;
        }

        & > div:not(.user_email, .join_date, .user_pw) {
            padding: 0 20px;
        }

        > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .text_wrap {
            display: flex;
            gap: 40px;
            align-items: center;
        }

        .title {
            font-size: 16px;
            line-height: 1.5;
            font-family: $noto_medium;
            min-width: 102px;
        }

        .info {
            font-size: 16px;
            line-height: 1.5;
            font-family: $noto_regular;
        }

        .change_btn {
            padding: 10px 0;
            width: 120px;
            border: 1px solid $blue_main;
            border-radius: 8px;
            font-size: 14px;
            font-family: $noto_medium;
            color: $blue_main;
            text-align: center;
            min-width: 120px;

            &:hover {
                color: #fff;
                background: $blue_main;
                transition: var(--hover-transition);
            }
        }

        .join_date {
            border-bottom: 1px solid $gray8;
            margin-bottom: 0;
        }

        .user_pw {
            padding: 30px 20px;
            border-bottom: 1px solid $gray8;
        }
    }

    .btn_wrap {
        display: flex;
        gap: 12px;

        a {
            width: 200px;
            display: block;
            padding: 16px 0;
            border: 1px solid $blue_main;
            border-radius: 8px;
            text-align: center;
            color: $blue_main;
            font-size: 16px;
            line-height: 1.5;
            font-family: $noto_medium;

            &:hover {
                background: $blue_main;
                color: #fff;
                transition: var(--hover-transition);
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .profile {

        .info_wrap {

            > div {
                margin-bottom: 40px;
                align-items: flex-start;
                position: relative;
            }

            .text_wrap {
                flex-direction: column;
                align-items: baseline;
                gap: 16px;
            }

            .change_btn {
                position: absolute;
                right: 0;
                top: 0;
            }

            .user_email {

                .change_btn {
                    top: 30px;
                }
            }

            .user_pw {
                .change_btn {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .btn_wrap{
            justify-content: center;
            padding: 0 20px;
            flex-wrap: wrap;
        }
    }
}
