@{
    ViewData["title"] = "Contact Us";
}


<section class="cont1 contact">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">Contact Us</h2>
        <div class="table_wrap">
            <div class="input_wrap">
                <input class="input_title" type="text" placeholder="Enter a title of 20 characters or less." maxlength="20" />
                <div class="select_list">
                    <!-- on 추가시 style 변경 -->
                    <div class="select_wrap default">
                        <button type="button" id="selectChain" data-select=false>
                            <span class="select">Inquiry Type</span>
                        </button>
                    </div>
                    <!-- on 추가시 display -->
                    <ul class="chain_list">
                        <li>
                            <button type="button">
                                <span class="select">Error/Trouble notice</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">on Function</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">on Payment</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">on My Info</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">Etc.</span>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="textarea_wrap">
                <div id="summernote"></div>
            </div>
            @*         <div class="file_wrap">
            <input type="text" disabled placeholder="(선택) 파일 첨부" value="">
            <input type="file" id="upload" />
            <label for="upload" class="upload_btn">
            파일 찾기
            </label>
            </div>*@
            <input type="email" class="email" placeholder="Please enter your email to receive a reply." />
        </div>
        <button type="button" class='button_160' id="send_btn">SUBMIT</button>
    </div>
</section>


@section Heads{

    <script src="~/lib/summernote/summernote-lite.js" defer></script>
    <script src="~/lib/summernote/lang/summernote-gl-ES.min.js" defer></script>
    <link rel="stylesheet" href="~/lib/summernote/summernote-lite.min.css" />


    <link rel="stylesheet" href="~/css/pages/Contact.css" />
    <script src="~/js/Contact.js" defer></script>
}