@{
    ViewData["title"] = "FAQ";
}

<section class="cont faq">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">FAQ</h2>
        <div class="table_wrap">
            <ul>
                <li>
                    <button type="button">
                        <span class="num">Q1.</span>
                        <i>How to connect Metamask wallet</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    You must have the Metamask wallet installed in your Chrome browser before connecting.<br />
                                    If the token you want to issue or airdrop is based on Ethereum, Binance Smart Chain, or Polygon, you can use Metamask.<br />
                                    If you click the wallet connection button while using the service, the Metamask program will run and a window will open asking if you want to connect. Click 'Confirm' to connect your wallet.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q2.</span>
                        <i>How to connect Kaikas wallet</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Before connecting, you must have Kaikas wallet installed in your Chrome browser.<br />
                                    If the token you want to issue or airdrop is Klaytn-based, you can use Kaikas.<br />
                                    If you click the wallet connection button while using the service, the Kaikas program will run and a window will open asking if you want to connect. Click 'Confirm' to connect your wallet.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q3.</span>
                        <i>How to create an airdrop list file</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    TThe airdrop list must be created in Excel and saved with the extension 'CSV (separated by commas) (*.csv)' selected when saving.<br />
                                    Please write the list according to the token format as follows.<br />
                                    ERC-20, BEP-20, KIP-7: Wallet address to receive tokens and amount of tokens to send<br />
                                    ERC-721, BEP-721, KIP-17: Wallet address to receive and token ID of NFT (In case of sending multiple NFTs to one address, enter the same address for each token ID)<br />
                                    ERC-1155, BEP-1155, KIP-37: wallet address to receive, token ID of NFT and number of NFT
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q4.</span>
                        <i>How to check the airdrop list</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    If you upload the airdrop list file, the system will check it and the list will be displayed on the screen so that you can check it (with an error message if there is an error).<br />
                                    At the top of the screen, the number of transactions to be transferred and the number of tokens (or NFTs) to be transferred are displayed, and if there is an error in the data, the number of the error item is displayed. If there is an error, please correct the list file and upload again.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q5.</span>
                        <i>How to modify the airdrop list file</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    To modify the uploaded list, delete the uploaded file and upload the modified list file again.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q6.</span>
                        <i>How to pay service fee</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Payment must be made with the coin of the corresponding mainnet (ETH/BNB/MATIC/KLAY). Therefore, the wallet containing the tokens to be transferred must be fully charged in addition to the gas fee.<br />
                                    In the case of token issuance, payment can be made with another wallet, but the linked wallet when issuing a token must be the wallet of the owner of the smartcontract for token.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q7.</span>
                        <i>How to check airdrop history</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    When the airdrop is complete, the airdrop result report is displayed on the screen. Click on the transaction TxID at the bottom of the report to go to the corresponding mainnet explorer to view the details.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q8.</span>
                        <i>Precautions of Owner wallet address</i>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    If you are issuing a token, you can pay by connecting any wallet that contains the mainnet coin in 'Pay for Issuance Fee'. However, before clicking 'Issuing Token', you must connect the owner's wallet that will manage the smart contract. <br />
                                    If the token was issued while connected to another wallet, you can change the owner wallet through 'TransferOwnership' in 'Write contract' after entering the management screen with the smart contract address in Explorer (Etherscan, etc.).
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>












@section Heads{
    <link rel="stylesheet" href="~/css/pages/FAQ.css" />

    <script src="~/js/FAQ.js" defer></script>
}