@charset "UTF-8";
/* font color */
$background: #212121;
$black1: #141414;
$black2: #1B1B1B;

$theme: #2ECDFF;



//////////////////////////
$fc000: #000;
$fc333: #333;
$fc444: #444;
$fc777: #777;
$fff: #fff;
$blue_main: #1273eb;
$blue_main2: #1362C3;
$blue_sub: #798ca8;


$gray3: #444444;
$gray4: #777777;
$gray5: #798CA8;
$gray7: #F8F8F8;
$gray8: #AFBFC6;
$gray9: #D6DAE1;
$gray10: #E7E9EC;
$gray11: #F3F5F8;
$gray12: #F3F5F8;

$alert: #E57373;
$alert2: #FAF2F2;

$theme2: #F1F5FB;

$sec1: #6F5CFB;


/* family */
$suit_bold: 'suit_bold';
$suit_medium: 'suit_medium';
$suit_regular: 'suit_regular';