@charset "UTF-8";
/* font color */
$background: #282828;
$black1: #141414;
$black2: #212121;
$black3: #1B1B1B;
$black4: rgba(27, 27, 27, .9);
$black5: rgba(27, 27, 27, .6);

$white: #fff;
$white2: rgba(255,255,255, .55);
$white3: rgba(255,255,255, .35);
$white4: rgba(255,255,255, .25);
$white5: rgba(255,255,255, .15);
$white6: rgba(255,255,255, .08);
$white7: rgba(255,255,255, .2);

$theme: #2ECDFF;
$theme2: #217ABB;

$gray1: #2D2D2D;
$gray2: #343434;
$gray3: #464646;
$gray4: #747474;

$alert: #FF962E;

/* family */
$suit_bold: 'suit_bold';
$suit_semibold: 'suit_semi';
$suit_medium: 'suit_medium';
$suit_regular: 'suit_regular';
$suit_light: 'suit_light';

$jost_bold: 'jost_bold';
$jost_semibold: 'jost_semibold';
$jost_medium: 'jost_medium';
$jost_regular: 'jost_regular';