@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ko" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Work Style</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-4">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4 font-weight-bold">장비 대장</h4>
                                    <div class="form-group">
                                        <label><strong>ID</strong></label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group mb-lg-5">
                                        <label><strong>Password</strong></label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block" onclick="location.href='/home/index'">로그인</button>
                                    </div>
                                    <div class="new-account mt-3 text-center">
                                        <a class="text-primary" href="/Login/SignUp">회원가입</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>