@{
    ViewData["title"] = "FAQ";
}

<section class="cont1 faq">
    <div class="inner">
        <h2>공지사항</h2>
        <div class="table_wrap">
            <ul>
                <li>
                    <button type="button">
                        <span class="num">Q1.</span>
                        <p>ERC-721과 ERC-1155의 차이</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    ERC-721, ERC-1155는 모두 ERC-20처럼 이더리움의 여러 표준 프로토콜 중 하나로서 NFT와 관련된 프로토콜입니다. ERC-20에서는 토큰의 고유 id보다는 토큰의 수량이 중요하며, 각 토큰들은 동일한 가치를 가져 대체가 가능한 토큰입니다.
                                    <br><br />
                                    반면, ERC-721은 토큰 소유자의 고유 ID를 중요시하는 프로토콜이며, 때문에 소유자가 갖고 있는 고유 자산에 대한 증명서 역할을 할 수 있습니다.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q2.</span>
                        <p>메타마스크 지갑 연결</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q3.</span>
                        <p>비밀번호 변경</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q4.</span>
                        <p>컬렉션 등록</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q5.</span>
                        <p>팔라 스퀘어에 컬렉션 등록하기</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q6.</span>
                        <p>NFT를 다른 지갑으로 전송하기</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q7.</span>
                        <p>KaiKas 지갑 연결</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q8.</span>
                        <p>팔라 스퀘어에 컬렉션 등록</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button">
                        <span class="num">Q9.</span>
                        <p>NFT를 다른 마켓에 상장시키기</p>
                    </button>
                    <ul class="content">
                        <li>
                            <div class="box_inner">
                                <div class="text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor, nunc eu imperdiet auctor, mauris lectus iaculis mi, malesuada facilisis risus nunc at massa. Suspendisse consectetur accumsan magna eu euismod. Donec fringilla odio et suscipit lobortis. Suspendisse quam nulla, auctor quis ultrices et, pellentesque sit amet felis. Morbi gravida risus quis consequat efficitur. Suspendisse sed arcu at sapien cursus ullamcorper. Nulla efficitur nunc sed velit condimentum, eget eleifend augue tristique. Phasellus vestibulum rutrum magna. Vestibulum sed elit sit amet nulla volutpat scelerisque. Mauris congue nulla leo, ut hendrerit turpis tristique eu. Duis vitae nisi diam. Phasellus et pellentesque ante. Mauris ut urna volutpat, fermentum ligula et, ultricies nibh. Vestibulum commodo nunc eu mi gravida rhoncus.
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>












@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/NoticeCommon.css" />
    <link rel="stylesheet" href="~/css/FAQ.css" />

    <script src="~/js/FAQ.js" defer></script>
}