@{
    ViewData["title"] = "공지사항";
}


<section class="cont1 noticeView">
    <div class="inner">
        <h2>공지사항</h2>
        <div class="table_wrap">
            <div class="title_wrap">
                <h3>오픈기념 이벤트</h3>
                <div class="date_wrap">
                    <p class="date">
                        등록일:
                        <span>2022-10-30</span>
                    </p>
                    <p class="views">
                        조회수:
                        <span class="num">123</span>
                    </p>
                </div>
            </div>
            <div class="text_wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu enim dolor. Donec accumsan diam ac faucibus placerat. Maecenas fringilla ac lorem in ornare. Nullam et purus mauris. Quisque laoreet mollis maximus. Integer a erat sed augue pretium blandit eget eu risus. Nulla eu est bibendum, condimentum mi vel, tincidunt neque. Integer ultrices est et est scelerisque, a hendrerit massa luctus. Vestibulum ornare eros in porttitor dictum. Pellentesque orci eros, rutrum et ex nec, luctus tempus arcu. Morbi mollis tempus auctor. Sed elit justo, interdum in convallis sit amet, auctor at orci. Suspendisse convallis ante ut libero dignissim fermentum. In hac habitasse platea dictumst.

                Donec sagittis egestas dolor, id finibus lorem tincidunt ut. Proin ut placerat libero. Fusce nec tellus turpis. Nam non posuere nisi. Aliquam ultricies volutpat dolor, ut laoreet enim commodo eu. Mauris ac sem eu ante luctus consequat a ac libero. Nam vehicula enim eget nisi fringilla dapibus.

                Proin ac sollicitudin nibh. Aliquam feugiat eget risus quis auctor. Nunc maximus viverra urna eget dignissim. Curabitur ligula lectus, cursus sit amet volutpat sit amet, molestie eget ante. Vivamus tincidunt velit sed porttitor cursus. Phasellus hendrerit, tellus molestie cursus pretium, nunc quam mollis erat, vel ultrices dui sem eu tellus. Proin quam magna, finibus eget nunc id, bibendum imperdiet mi. Ut rutrum nunc sit amet nunc feugiat luctus. Sed diam diam, tincidunt a dui tristique, feugiat tempus felis. Morbi eu libero imperdiet, condimentum urna eu, ultrices velit. Pellentesque purus nisl, lacinia sed eleifend in, consequat non velit. Curabitur ante risus, facilisis vel pellentesque ac, blandit vitae lorem. Quisque interdum mi ut mollis vehicula. Curabitur in consequat ante, sit amet pulvinar metus. Pellentesque volutpat enim sed est tristique volutpat.

                Vestibulum luctus pulvinar convallis. Nulla nec lacus eu tortor porttitor accumsan. Mauris et tincidunt urna. In scelerisque, tellus ut posuere feugiat, nisl nisi porta lacus, at finibus est dui sed augue. Nam eget consectetur nunc. Donec semper, diam in scelerisque varius, eros est feugiat sem, sed lacinia tortor diam id justo. Donec a sapien sed lectus gravida elementum vel at justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim augue vitae augue faucibus faucibus. Phasellus eu faucibus justo, ac gravida augue. Aenean consequat erat ac placerat vestibulum. Vivamus nec lacus vitae nunc mattis lacinia.

                Mauris aliquam diam eu diam pellentesque scelerisque. Sed quam elit, vulputate ut tortor tincidunt, imperdiet iaculis sapien. Proin tincidunt nisi dui, eu semper neque pharetra a. Vestibulum scelerisque ultricies erat, ac varius felis porttitor sed. Sed pellentesque porttitor ornare. Nulla volutpat eros non pretium molestie. Nulla facilisi. Ut auctor lorem ac mauris aliquet efficitur. Mauris vitae nisi suscipit urna facilisis tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis pellentesque placerat nisi nec accumsan. Curabitur vel quam non mi aliquet luctus. Mauris feugiat maximus lectus vitae interdum. Vestibulum ac accumsan mi. Cras sit amet porttitor arcu. Pellentesque ut ornare orci.
            </div>
        </div>
        <div class="button_wrap">
            <div class="navi_btn">
                <button type="button" class="prev_btn">
                    <span class="pc_text">이전 글</span>
                </button>
                <button type="button" class="next_btn">
                    <span class="pc_text">다음 글</span>
                </button>
            </div>
            <a href="/Notice/Notice" class="home_btn">목록으로</a>
        </div>

    </div>
</section>












@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/NoticeCommon.css" />
    <link rel="stylesheet" href="~/css/NoticeView.css" />
}