@{
    ViewData["title"] = "Minting";
}


<section class="cont1 minting">
    <div class="inner">
        <h2>
            NFT MINTER에서는 이더리움과 클레이튼 메인넷 기반의 NFT를 지원합니다.<br />
            단, 지갑은 메타마스크(MetaMask)와 카이카스(Kaikas)만을 지원합니다.
        </h2>
        <div class="coin_list">
            <ul>
                <li>
                    <img src="~/images/main/ethereum.png" alt="이더리움" />
                </li>
                <li>
                    <img src="~/images/main/klaytn.png" alt="클레이튼" />
                </li>
            </ul>
        </div>
        <div class="text">
            NFT를 발행하기 위해서는<br />
            먼저 컬렉션 또는 NFT에 관한 자세한 정보를 메타데이터로 설정하고<br />
            지갑을 연결하여 GAS 수수료를 결제해야 합니다.
        </div>
        <div class="button_wrap">
            <a href="/Minting/ContractSetting" data-isMobile>민팅 시작하기</a>
            <a href="/Minting/CostInfo" class="mint_info_btn">민팅 비용 안내</a>
        </div>
    </div>
</section>

@*<script>
    const mintInfoBtn = document.querySelector('mint_info_btn');
    mintInfoBtn.addEventListener('click', () => {

    })


</script>*@



@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/Minting.css" />
}