@{
    Layout = null;
}

<section class="main_slider swiper mySwiper">
    <ul class="swiper-wrapper">
        <li class="swiper-slide">
            <p class="sub_title">NFT MINTER</p>
            <h2>단 몇 분만에 NFT를 민팅한다</h2>
        </li>
        <li class="swiper-slide">
            <p class="sub_title">NFT MINTER</p>
            <h2>단 몇 분만에 NFT를 민팅한다</h2>
        </li>
    </ul>
    <div class="swiper-pagination"></div>
</section>
