@{
    ViewData["title"] = "토큰 발행 완료";
}


<section class="cont complete">
    <div class="inner">
        <h2 class="h3 suit_m color_theme">토큰 발행이 완료되었습니다.</h2>
        <div class="table_wrap">
            <table class="table">
                <tbody>
                    <tr>
                        <th>네트워크</th>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <th>토큰형식</th>
                        <td>ERC-20</td>
                    </tr>
                    <tr>
                        <th>토큰명</th>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <th>토큰티커</th>
                        <td>ERC-20</td>
                    </tr>
                    <tr>
                        <th>디시멀(Decimal)</th>
                        <td>DRP</td>
                    </tr>
                    <tr>
                        <th>총 발행량</th>
                        <td>6,500 건</td>
                    </tr>
                    <tr>
                        <th>스마트 컨트랙트</th>
                        <td>
                            <button type="button" class="tx_id color_theme">0x7dE7bAa83766D413D7fE382e14c72178CC5695a3</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/" class="button_160">메인으로</a>
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/IssuingComplete.css" />
}

@section Scripts{

}