@{
    ViewData["title"] = "complete";
}


<section class="cont complete">
    <div class="inner">
        <h2 class="h3 suit_m color_theme">Token issuance is completed</h2>
        <div class="table_wrap">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Network</th>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <th>Token Format</th>
                        <td>ERC-20</td>
                    </tr>
                    <tr>
                        <th>Token Name</th>
                        <td>Ethereum</td>
                    </tr>
                    <tr>
                        <th>Token Ticker</th>
                        <td>DRP</td>
                    </tr>
                    <tr>
                        <th>Decimal</th>
                        <td>18</td>
                    </tr>
                    <tr>
                        <th>Total Supply</th>
                        <td>1,000,000,000</td>
                    </tr>
                    <tr>
                        <th>Smart Contract</th>
                        <td>
                            <button type="button" class="tx_id color_theme">0x7dE7bAa83766D413D7fE382e14c72178CC5695a3</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/" class="button_160">MAIN</a>
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/IssuingComplete.css" />
}

@section Scripts{

}