@charset "UTF-8";
@import "./Setting.scss";


.contract_setting {



    .wrapping {
        margin-bottom: 120px;
    }

    .box {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }
    }



    .tab_content {
        display: none;

        &.on {
            display: block;
        }

        .info_text {
            margin-bottom: 20px;
        }

        select {
            margin-bottom: 0;
        }
    }

    .network_wrap {

        .button_wrap {
            display: flex;
            gap: 20px;

            button {
                width: 175px;
                border: 1px solid $gray9;
                border-radius: 12px;
                padding: 32px 0;
                display: flex;
                gap: 8px;
                font-size: 16px;
                font-family: $noto_medium;
                line-height: 1.5;
                justify-content: center;
                align-items: center;

                &.on {
                    border: 2px solid $blue_main;
                }

                img {
                    width: auto;
                    height: 28px;
                }
            }
        }
    }

    .protocol_wrap {

        .button_wrap {
            display: flex;
            gap: 20px;

            button {
                width: 175px;
                border: 1px solid $gray9;
                border-radius: 12px;
                padding: 32px 0;
                font-size: 16px;
                font-family: $noto_medium;
                line-height: 1.5;
                justify-content: center;
                align-items: center;

                &.on {
                    border: 2px solid $blue_main;
                }
            }
        }
    }

    .contract_wrap {

        .button_wrap {
            margin-bottom: 40px;

            ul {
                display: flex;
                gap: 8px;
            }

            li {

                button {
                    width: 140px;
                    padding: 13px 0;
                    border-radius: 8px;
                    color: $gray8;
                    border: 1px solid $gray8;
                    font-size: 14px;
                    line-height: 1.5;
                }

                &.on {
                    button {
                        border: 1px solid $blue_main;
                        color: $blue_main;
                    }
                }
            }
        }

        .create_wrap {

            .input_wrap {
                display: flex;
                gap: 8px;

                input {
                    flex: 1;
                    margin-bottom: 0;
                }

                .create_btn {
                    width: 112px;
                    background: $blue_main;
                    border-radius: 8px;
                    color: #fff;
                    font-family: $noto_medium;
                    font-size: 14px;
                    padding: 10px 0;
                    line-height: 1.5;
                }
            }
        }
    }

    .image_view_wrap {

        input {
            display: none;
        }

        label[for='upload'] {
            width: 100%;
            height: 200px;
            border: 1px solid $gray9;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            line-height: 1.5;
            font-family: $noto_regular;
            color: $gray5;
            cursor: pointer;
            margin-bottom: 60px;
            background: $gray11;

            &.move {
                border: 2px dashed $gray8;
            }

            &.on {
                background: #fff;
                border: 2px solid $blue_main;

                span {
                    background: url(../images/icons/upload_success.svg) no-repeat center 0 / auto 48px;
                }
            }

            span {
                display: block;
                text-align: center;
                padding-top: 68px;
                background: url(../images/icons/upload.svg) no-repeat center 0 / auto 48px;
            }

            &.error {
                background: $alert2;
                border: 2px solid $alert;
            }
        }
    }




    .url_wrap {
        margin-bottom: 60px;
    }

    .view_img_wrap {
        display: none;

        &.on {
            display: block;
        }
    }

    .upload_wrap {
        display: none;

        &.on {
            display: block;
        }
    }



    .view_image {
        width: 100%;
        min-height: 200px;
        max-height: 460px;
        border: 1px solid $gray9;
        border-radius: 12px;
        overflow-y: auto;

        .error_msg {
            display: none;
            color: $gray5;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
            margin-top: 90px;
            font-family: $noto_regular;

            &.on {
                display: block;
            }
        }

        ul {
            display: none;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            padding: 30px 28px;
            gap: 12px;

            &.on {
                display: flex;
            }

            li {
                max-width: calc(20% - 10px);
                width: 100%;
                height: 108px;

                img {
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
