@charset "UTF-8";
@import "Setting.scss";

.cost_info {

    .inner {
        max-width: 936px;
        margin: 0 auto;
        padding: 200px 20px;
    }

    h2 {
        font-size: 45px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px;

    }

    .sub_title {
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 80px;
    }

    .table_wrap {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 80px;
    }

    .table {
        width: 100%;
    }

    thead {
        tr {
            color: #fff;
            text-align: center;
        }

        th {
            padding: 14px 0;
            font-size: 18px;
            line-height: 1.5;

            &:last-child {
                border: none;
            }
        }
    }

    tbody {

        td {
            padding: 18px 0;
            text-align: center;
            font-size: 18px;
            line-height: 1.5;

            &:last-child {
                border: none;
            }
        }
    }

    .button_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;

        a {
            border-radius: 50px;
            width: 150px;
            font-size: 18px;
            line-height: 1.5;
            padding: 10px 0;
            text-align: center;

            &:nth-child(1) {
                color: #fff;
                background-image: linear-gradient(to right, #f761ff, #5f59fb);
            }

            &:nth-child(2) {
                border: 1px solid #222;
            }
        }
    }
}

/*
@media screen and (max-width: 768px) {
    .cost_info {
        .inner {
            padding: 120px 20px;
        }

        h2 {
            font-size: 28px;
            line-height: 1.3;
        }

        .sub_title {
            font-size: 14px;
            margin-bottom: 60px;
        }

        .table_wrap {
            margin-bottom: 60px;
            overflow-x: auto;
        }

        thead {
            th {
                font-size: 14px;
            }
        }

        tbody {

            td {
                font-size: 14px;
            }
        }

        .button_wrap {

            a {
                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .cost_info {
        .table{
            width: 460px;
        }
    }
}*/