@charset "UTF-8";
@import "./Setting.scss";


.create {

    .name_wrap {
        margin-bottom: 40px;



        input {
            display: block;
            width: 100%;
            border: 1px solid $gray9;
            border-radius: 8px;
            padding: 10px 16px;
            line-height: 1.5;
            font-family: $noto_regular;
            font-size: 14px;

            &::placeholder {
                color: $gray5;
            }
        }
    }

    h3 {
        font-family: $noto_medium;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 12px;
        color: $blue_main;
        display: block;
    }

    .upload_wrap {

        ul {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-bottom: 40px;
        }

        li {
            line-height: 1.5;
            font-family: $noto_regular;
            font-size: 14px;
            color: $gray5;
        }
    }

    .upload {
        display: none;
    }

    label[for='upload'] {
        width: 100%;
        height: 200px;
        background: $gray12;
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;

        .text {
            display: block;
            text-align: center;
            color: $gray5;
            font-size: 14px;
            line-height: 1.5;
            padding-top: 68px;
            background: url(../images/icons/upload.svg) no-repeat center 0 / auto 48px;
        }

        &.on {
            border: 2px solid $blue_main;

            .text {
                background-image: url(../images/icons/upload_success.svg);
            }
        }

        &.error{
            background: $alert2;
            border: 2px solid $alert;
        }
    }
}
