@charset "UTF-8";
@import "./Setting.scss";

.login_wrap {
    max-width: 460px;
    padding: 24px 36px 40px;
    border: 1px solid #868686;
    border-radius: 10px;
    box-shadow: 0 5px 9.3px .7px rgba(125, 125, 125, 0.31);
    margin: 0 auto 50px;

    h2 {
        text-align: center;
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 40px;
        font-family: $spoqa_medium;
    }

    .box {
        margin-bottom: 14px;
        display: flex;
        gap: 7px;
    }

    form {
        margin-bottom: 50px;
    }

    .input_wrap {
        display: flex;
        flex-direction: column;
        gap: 9px;

        input {
            width: 100%;
            border: 1px solid #868686;
            border-radius: 10px;
            font-size: 18px;
            line-height: 30px;
            padding: 5px 12px;
            font-family: $spoqa_medium;

            &::placeholder {
                color: #868686;
                padding-left: 26px;
                background-repeat: no-repeat;
                background-size: 18px auto;
                background-position: 1px center;
            }
        }

        .email {
            &::placeholder {
                background-image: url(../images/icons/user.png);
            }
        }

        .password {
            &::placeholder {
                background-image: url(../images/icons/padlock.png);
            }
        }
    }

    button[type="submit"] {
        width: 116px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #fff;
        font-family: $spoqa_bold;
        background-image: linear-gradient(to top, #f761ff, #5f59fb);
    }

    .auto_login {
        #auto_check {
            display: none;

            + label {
                display: flex;
                gap: 6px;
                color: #868686;

                .check_btn {
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url(../images/icons/check-mark_off.png) no-repeat center center / auto 20px;
                }
            }

            &:checked + label {
                color: #222;

                .check_btn {
                    background: url(../images/icons/check-mark.png) no-repeat center center / auto 20px;
                }
            }
        }

        .auto_label {
            cursor: pointer;
        }
    }
}
