@{
    ViewData["title"] = "비밀번호 변경";
}


<section class="cont1">
    <div class="inner">
        <h2>내 정보 변경</h2>
        <p class="sub_title">비밀번호 변경</p>
        <div class="form_wrap">
            <form>
                <div class="input_wrap pw">
                    <label for="pw">비밀번호</label>
                    <div class="pos_box">
                        <!-- 각 Input error 클래스 추가시 백그라운드, 포커스 색상 변경 -->
                        <input type="password" id="pw" placeholder="영문, 숫자, 특수문자 조합 8~16자리" />
                        <button type="button" class="view_btn" data-eye>
                            <img src="~/images/icons/eye_close.svg" class="close" alt="비밀번호 보지않기" />
                            <img src="~/images/icons/eye_open.svg" class="open" alt="비밀번호 보기" />
                        </button>
                    </div>
                    <div class="pos_box">
                        <!-- 각 Input error 클래스 추가시 백그라운드, 포커스 색상 변경 -->
                        <input type="password" id="rePw" placeholder="비밀번호 재입력" />
                        <button type="button" class="view_btn" data-eye>
                            <img src="~/images/icons/eye_close.svg" class="close" alt="비밀번호 보지않기" />
                            <img src="~/images/icons/eye_open.svg" class="open" alt="비밀번호 보기" />
                        </button>
                    </div>
                    <p class="error_msg">비밀번호 양식이 올바르지 않습니다.</p>
                </div>
            </form>
        </div>
        <button type="button" class="next_btn">변경하기</button>
    </div>
</section>



@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/Edit.css" />
}