@{
    ViewData["title"] = "Usage history";
}


<section class="cont payment_history">
    <div class="inner">
        <h2 class="subtitle_1 suit_m">Usage History</h2>
        <div class="table_wrap">
            <table class="table_1">
                <thead class="suit_r">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Network
                        </th>
                        <th>
                            Token<br />
                            Format
                        </th>
                        <th>
                            Token<br />
                            Name
                        </th>
                        <th>
                            Smart<br />
                            Contract
                        </th>
                        <th>
                            Txs
                        </th>
                        <th>
                            TxID
                        </th>
                        <th>
                            Service<br />
                            Fee
                        </th>
                        <th>
                            Report
                        </th>
                    </tr>
                </thead>
                <tbody class="suit_l color_white_2">
                    <tr>
                        <td>
                            <time datetime="2022-11-11">11.11.22</time>
                            <time datetime="14:20">14:20</time>
                        </td>
                        <td>Airdrop</td>
                        <td>Ethereum</td>
                        <td>ERC20</td>
                        <td>ABCD</td>
                        <td><button type="button" class="contract">0x538437e64e851e73edd1bbb2d00526a3c830d31b</button></td>
                        <td>9,999</td>
                        <td><button type="button" class="tx_id color_theme">0x12e4a99d65fa91779905378b54bdd66f7b130de1f71354f78beb25618289f774</button></td>
                        <td>
                            <span class="price">0.3</span>
                            <span class="unit">ETH</span>
                        </td>
                        <!-- on 클래스 추가시 display -->
                        <td class="on">
                            <button type="button" class="font_hover print_modal_btn">Print</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <time datetime="2022-11-11">28.12.22</time>
                            <time datetime="14:20">12:00</time>
                        </td>
                        <td>Issuing</td>
                        <td>Klaytn</td>
                        <td>ERC20</td>
                        <td>DFG</td>
                        <td><button type="button" class="contract">0x538437e64e851e73edd1bbb2d00526a3c830d31b</button></td>
                        <td>2,500</td>
                        <td><button type="button" class="tx_id color_theme">0x12e4a99d65fa91779905378b54bdd66f7b130de1f71354f78beb25618289f774</button></td>
                        <td>
                            <span class="price">999.99</span>
                            <span class="unit">Klay</span>
                        </td>
                        <!-- on 클래스 추가시 display -->
                        <td>
                            <button type="button" class="font_hover print_modal_btn">Print</button>
                        </td>
                    </tr>

                    <!-- on 클래스 추가시 display -->
                    <tr class="no_data">
                        <td colspan="10">결제 내역이 존재하지 않습니다. </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="back_btn button_160" onclick="history.back()">Previous</button>
    </div>
</section>





@section Modals{
    <!-- on 클래스 추가시 visible-->
    <div class="modal print_modal">
        <div class="inner">
            <div class="content">
                <div class="modal_header">
                    <h3>
                        <img src="~/images/logo_icon.svg" />
                        <span class="body_1 suit_m">Airdrop Report</span>
                    </h3>
                    <a href="#" download="" class="download_btn">Download Report</a>
                </div>
                <div class="modal_body">
                    <div class="table_wrap">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>User ID</th>
                                    <td>airdropper2022</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>2022.11.27</td>
                                </tr>
                                <tr>
                                    <th>Network</th>
                                    <td>Ethereum</td>
                                </tr>
                                <tr>
                                    <th>Token format</th>
                                    <td>ERC-20</td>
                                </tr>
                                <tr>
                                    <th>Token name</th>
                                    <td>DRP</td>
                                </tr>
                                <tr>
                                    <th>Number of transfer requests</th>
                                    <td>6,500 건</td>
                                </tr>
                                <tr>
                                    <th>Number of tokens</th>
                                    <td>2,000,000 개</td>
                                </tr>
                                <tr>
                                    <th>Gas fee</th>
                                    <td>1.54 ETH</td>
                                </tr>
                                <tr>
                                    <th>Service fee</th>
                                    <td>0.7 ETH</td>
                                </tr>
                                <tr>
                                    <th>TxID</th>
                                    <td>
                                        <button type="button" class="tx_id color_theme">0x12e4a99d65fa91779905378b54bdd66f7b130de1f71354f78beb25618289f774</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal_footer">
                    <button type="button" class="modal_close_btn" data-modal-close>Close</button>
                </div>
            </div>
        </div>
    </div>
}







@section Heads{
    <link rel="stylesheet" href="~/css/pages/PaymentHistory.css" />
}


<script>

    window.addEventListener('DOMContentLoaded', () => {
        const modalOpenBtn = document.querySelectorAll('.print_modal_btn');
        modalOpenBtn.forEach(event => {
            event.addEventListener('click', () => {
                document.querySelector('.print_modal').classList.add('on');
            })
        })


        //const printCloseBtn = document.querySelector('.modal_close_btn');
        //printCloseBtn.addEventListener('click', (e) => {
        //    console.log(e)
        //    e.target.closest('.modal').classList.remove('on');
        //})
    })

</script>

