@{
    ViewData["title"] = "MY INFO";
}


<section class="cont1 profile">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">MY INFO</h2>
        <div class="info_wrap">
            <div class="user_email">
                <div class="text_wrap">
                    <p class="title body_2 suit_m color_white_2">ID(Email)</p>
                    <p class="info body_2 suit_r">airdropper@airdropper.com</p>
                </div>
                <a href="/Edit/Email" class="change_btn button_112">Change</a>
            </div>
            <div class="user_nickname">
                <div class="text_wrap">
                    <p class="title body_2 suit_m color_white_2">Nickname</p>
                    <p class="info body_2 suit_r">airdropper</p>
                </div>
                <a href="/Edit/NickName" class="change_btn button_112">Change</a>
            </div>
            <div class="join_date">
                <div class="text_wrap">
                    <p class="title body_2 suit_m color_white_2">Registration date</p>
                    <p class="info body_2 suit_r">October 10, 2022</p>
                </div>
            </div>
        </div>
        <div class="user_pw">
            <div class="text_wrap">
                <p class="title body_2 suit_m color_white_2">Password</p>
            </div>
            <a href="/Edit/EditPw" class="change_btn button_112">Change</a>
        </div>
        <div class="history">
            <div class="text_wrap">
                <p class="title body_2 suit_m color_white_2">Usage history management</p>
            </div>
            <a href="/MyInfo/PaymentHistory" class="change_btn button_112">View</a>
        </div>
        <a href="/MyInfo/WithdrawalComp" class="button_160">WITHDRAWAL</a>
    </div>
</section>












@section Heads{
    <link rel="stylesheet" href="~/css/pages/Profile.css" />
}