@{
    ViewData["title"] = "complete";
}



<section class="cont1 withdrawal_comp">
    <div class="inner">
        <h2 class="h4 suit_m">
            Membership withdrawal has been completed safely.
        </h2>
        <p class="sub_title color_white_2 body_2 suit_r">We look forward to seeing you again with better service.</p>
        <p class="sub_text color_white_2 body_2 suit_r">After <span class="count">5</span> seconds, you will be automatically redirected to the login page.</p>
        <a href="/" class="by_login button_200">MAIN</a>
    </div>
</section>


<script>
    const count = document.querySelector('.count');

    let timeInit = 5;
    window.addEventListener('load', () => {

        let time = setInterval(e => {
            timeInit--;
            count.textContent = timeInit;

            if (timeInit === 0) {
                clearInterval(time);
                location.href = "/"; // 주소
            }

        }, 1000)
    })


</script>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/Complete.css" />
}