@{
    ViewData["title"] = "Membership Withdrawal";
}


<section class="cont1 withdrawal">
    <div class="inner">
        <h2 class="h4 suit_m">Membership Withdrawal</h2>
        <p class="sub_title body_2 suit_r color_white_2">Please read the information on membership withdrawal and agree to it.</p>
        <div class="info_box">
            <div class="info_inner">
                <div class="info_title">
                    <p class="table_1 suit_m">Information on reuse of ID and non-recovery</p>
                </div>
                <div class="info_text">
                    <p class="table_1 suit_r color_white_2">
                        After membership withdrawal, it is impossible to reuse or recover the ID for anyone else, including yourself.
                    </p>
                </div>
            </div>
            <div class="check_wrap">
                <input type="checkbox" id="check1" />
                <label for="check1">
                    <img src="~/images/icons/check-gray.svg" class="nocheck" alt="I agree to the above." />
                    <img src="~/images/icons/check-mark2.svg" class="check" alt="I agree to the above." />
                    <span class="body_2 suit_m">I agree to the above.</span>
                </label>
            </div>
        </div>
        <div class="info_box">
            <div class="info_inner">
                <div class="info_title">
                    <p class="table_1 suit_m">Information on deleting My Information, My usage history data</p>
                </div>
                <div class="info_text">
                    <p class="table_1 suit_r color_white_2">
                        When you withdraw your membership, all data in My Information and My usage history, etc. will be deleted, and the deleted data will not be recovered.
                    </p>
                </div>
            </div>
            <div class="check_wrap">
                <input type="checkbox" id="check2" />
                <label for="check2">
                    <img src="~/images/icons/check-gray.svg" class="off" alt="I agree to the above." />
                    <img src="~/images/icons/check-mark2.svg" class="on" alt="I agree to the above." />
                    <span class="body_2 suit_m">I agree to the above.</span>
                </label>
            </div>
        </div>
        <div class="info_box">
            <div class="info_inner">
                <div class="info_title">
                    <p class="table_1 suit_m">Information on the impossibility of deleting posts</p>
                </div>
                <div class="info_text">
                    <p class="table_1 suit_r color_white_2">
                        After membership withdrawal, member information is deleted and there is no way to verify identity, so posts, comments, inquiries, opinions, etc. cannot be deleted.
                    </p>
                </div>
            </div>
            <div class="check_wrap">
                <input type="checkbox" id="check3" />
                <label for="check3">
                    <img src="~/images/icons/check-gray.svg" class="off" alt="I agree to the above." />
                    <img src="~/images/icons/check-mark2.svg" class="on" alt="I agree to the above." />
                    <span class="body_2 suit_m">I agree to the above.</span>
                </label>
            </div>
        </div>
        <div class="button_wrap">
            <button type="button" class="back_btn button_160">Previous</button>
            <button type="button" class="withdrawal_btn button_160" disabled>Withdrawal</button>
        </div>
    </div>
</section>


<script>
    const checkBox = document.querySelectorAll('input[type=checkbox]');
    const confirmBtn = document.querySelector('.withdrawal_btn')

    for (let check of checkBox) {
        check.addEventListener('input', () => {
            checkAgree();
        })
    }

    const checkAgree = () => {
        for (let check of checkBox) {
            if (!check.checked) {
                confirmBtn.disabled = true;
                return;
            }
        }
        confirmBtn.disabled = false;
    }



    confirmBtn.addEventListener('click', () => {
        Swal.fire({
            title: 'CAUTION!',
            text: "Are you sure you want membership withdrawal?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'CONFIRM',
            cancelButtonText: 'CANCEL',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = "/MyInfo/WithdrawalComp";
            }
        })
    });

</script>









@section Heads{
    <link rel="stylesheet" href="~/css/pages/Withdrawal.css" />
}