@charset "UTF-8";
@import '../base/_setting.scss';

.my_page_btn {
    width: 40px;
    height: 40px;
    background: url(../../images/icons/user_home.svg) no-repeat center center / auto 20px;
}

.sign_btn {
    display: block;
    width: 92px;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    text-align: center;
    transition: var(--hover-transition);
    padding: 8px 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: $suit_medium;


    &.sign_up_btn {
        border-color: $theme;
        color: $theme;

        &:hover {
            color: $black2;
            background: $theme;
        }
    }

    &.sign_in_btn {
        border-color: $white2;
        color: $white2;

        &:hover {
            color: $black2;
            background: $white2;
        }
    }

    &.log_out_btn {
        border-color: $white2;
        color: $white2;

        &:hover {
            color: $black2;
            background: $white2;
        }
    }
}


button[type=submit] {

    &.login_btn {
        width: 100%;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid $theme;
        color: $theme;
        font-size: 16px;
        line-height: 1.5;
        font-family: $suit_medium;

        &:hover {
            transition: var(--hover-transition);
            background: $theme;
            color: $black3;
        }
    }

    &.next_btn {
        width: 100%;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid $theme;
        color: $theme;
        font-size: 16px;
        line-height: 1.5;
        font-family: $suit_medium;

        &:hover {
            transition: var(--hover-transition);
            background: $theme;
            color: $black3;
        }
    }
}

.button_140 {
    width: 140px;
    padding: 13px 0;
    border-radius: 8px;
    border: 1px solid $white5;
    font-size: 14px;
    line-height: 1.5;
    font-family: $suit_regular;
    color: $white;
    background: $black3;
    text-align: center;

    &:hover {
        color: $theme;
        border-color: $theme;
    }
}

.button_160 {
    display: block;
    text-align: center;
    width: 160px;
    padding: 12px 0;
    border-radius: 8px;
    border: 1px solid $white5;
    font-size: 14px;
    line-height: 1.5;
    font-family: $suit_regular;
    background: $black3;

    &:hover {
        color: $theme;
        border-color: $theme;
    }

    &[disabled] {
        color: $white4;
        border-color: $white5;
    }
}

.button_112 {
    width: 112px;
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid $white5;
    font-size: 14px;
    line-height: 1.5;
    font-family: $suit_regular;
    color: $white2;
    background: $black3;
    text-align: center;

    &:hover {
        color: #fff;
    }
}

.button_200 {
    width: 200px;
    padding: 13px 0;
    border-radius: 8px;
    border: 1px solid $white5;
    font-size: 14px;
    line-height: 1.5;
    font-family: $suit_regular;
    color: $white;
    background: $black3;
    text-align: center;
}

.modal_confirm_btn {
    padding: 13px 0;
    width: 180px;
    border-radius: 8px;
    color: $white;
    background: $black3;
    text-align: center;
}

.send_btn {
    width: 112px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    font-family: $suit_medium;
    color: $theme;
    border: 1px solid $theme;
    border-radius: 8px;
    text-align: center;
}
