@charset "UTF-8";
@import "../base/_setting.scss";

.cont1 {

    .inner {
        max-width: 920px;
        margin: 0 auto;
        padding: 180px 20px 80px;
    }

    h2 {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 60px;
    }
}


/*@media screen and (max-width: 1024px) {
    .cont1 {

        .inner {
            padding: 120px 20px 100px;
        }

        h2{
            margin-bottom: 40px;
        }
    }
}
*/