@charset "UTF-8";
@import "../base/_setting.scss";

.login_wrap {
    max-width: 520px;
    padding: 40px 80px;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    margin: 0 auto 50px;

    h2 {
        text-align: center;
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 30px;
    }



    form {
        position: relative;
    }

    .box {
        flex-direction: column;
        display: flex;
        gap: 12px;
        margin-bottom: 67px;
        position: relative;

        .input_wrap {
            width: 100%;
            position: relative;
        }

        .pw_wrap {
            display: flex;
            gap: 12px;
            position: relative;
        }

        input {
            width: 100%;
            border: 1px solid $gray9;
            border-radius: 8px;
            font-size: 14px;
            line-height: 1.5px;
            padding: 10px 38px 10px 16px;
            flex: 1;

            &::placeholder {
                color: $gray8;
                /*padding-left: 22px;
                background-repeat: no-repeat;
                background-size: 14px auto;
                background-position: 1px center;*/
            }
        }

        .check_pw {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);

            img {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
            }

            img:nth-of-type(1) {
                display: block;
            }

            &.on {
                display: block;

                img:nth-of-type(1) {
                    display: none;
                }

                img:nth-of-type(2) {
                    display: block;
                }
            }
        }
    }
    /*    .email {
        &::placeholder {
            background-image: url(../images/icons/user.png);
        }
    }

    .password {
        &::placeholder {
            background-image: url(../images/icons/padlock.png);
        }
    }*/


    .password {

        &.error {
            background: $alert2;
            outline: none;

            &:focus {
                border: 2px solid $alert;
            }
        }
    }

    button[type="submit"] {
        width: 100%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #fff;
        line-height: 1.5;
        background: $blue_main;
        padding: 16px 0;
    }


    .error_msg, .success_msg {
        display: none;
        position: absolute;
        bottom: -30px;
        left: 0;
        font-size: 14px;
        line-height: 1.5;
        color: $alert;


        img {
            width: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .success_msg {
        color: $blue_main;

        &.on {
            display: block;
        }
    }

    .error_msg {
        color: #E57373;
        padding-left: 28px;
        background: url(../images/icons/attention.svg) no-repeat 0 center/20px auto;

        &.on {
            display: block;
        }
    }
}



@media screen and (max-width: 1024px) {
    .login_wrap {
        max-width: 440px;
        box-shadow: none;
        padding: 0;
    }
}
