@charset "UTF-8";
@import "./Setting.scss";

.complete {

    .inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 240px 0 220px;
    }

    h2 {
        font-size: 24px;
        font-family: $noto_bold;
        font-size: 24px;
        line-height: 1.5;
        text-align: center;
        padding-top: 140px;
        background: url(../images/icons/check_icon.svg) no-repeat center 0 / 100px auto;

        span {
            display: block;
            color: $blue_main;
        }
    }

    .sub_title {
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        font-family: $noto_medium;
        color: $gray5;
    }

    .sub_text {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        font-family: $noto_regular;
    }

    .by_login {
        max-width: 220px;
        width: 100%;
        background: $blue_main;
        font-size: 16px;
        line-height: 1.5;
        font-family: $noto_medium;
        padding: 16px 0;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        margin: 0 auto;

        &:hover {
            background: $blue_main2;
            transition: var(--hover-transition);
        }
    }
}

@media screen and (max-width: 1024px) {
    .complete {

        .inner {
            padding: 150px 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .complete {
        h2 {
            font-size: 18px;
        }

        .sub_text {
            font-size: 14px;
        }
    }
}
