@charset "UTF-8";
@import "Setting.scss";

.contact {

    .inner {
        max-width: 728px;
    }

    .table_wrap {
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
        padding: 30px 0;
        margin-bottom: 60px;
    }

    .input_wrap {
        display: flex;
        gap: 12px;
        margin-bottom: 30px;

        input {
            width: 100%;
            padding: 10px 16px;
            border: 1px solid $gray9;
            border-radius: 8px;
            flex: 1;
            font-size: 14px;
            line-height: 1.5;
            font-family: $noto_regular;

            &::placeholder {
                color: $gray5;
            }
        }


        select {
            min-width: 150px;
            max-width: 150px;
            border: 1px solid $gray9;
            border-radius: 8px;
            padding: 10px 16px;
            color: #798CA8;
            font-size: 14px;
            line-height: 1.5;
            font-family: $noto_regular;
            background: url(../images/icons/drop_down.svg) no-repeat right 12px center / auto 20px;
            cursor: pointer;

            &:focus {
                outline-width: 2px;
                outline-color: $blue_main;
            }
        }


        option:not(first-child) {
            color: #000;
        }
    }

    .textarea_wrap {
        margin-bottom: 30px;

        .note-editable {
            height: 200px;
        }
    }

    .file_wrap {
        display: flex;
        gap: 12px;
        margin-bottom: 16px;

        input {
            flex: 1;
            border: 1px solid $gray9;
            border-radius: 8px;
            padding: 10px 16px;
            font-size: 14px;
            line-height: 1.5;
            font-family: $noto_regular;

            &::placeholder {
                color: $gray5;
            }

            &[type=file] {
                display: none;
            }
        }

        .upload_btn {
            min-width: 112px;
            padding: 10px 0;
            font-size: 14px;
            line-height: 1.5;
            font-family: $noto_medium;
            color: $blue_main;
            border: 1px solid $blue_main;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: $blue_main;
                color: #fff;
                transition: var(--hover-transition);
            }
        }
    }

    .email {
        width: 100%;
        padding: 10px 16px;
        font-size: 14px;
        line-height: 1.5;
        font-family: $noto_regular;
        border: 1px solid $gray9;
        border-radius: 8px;

        &::placeholder {
            color: $gray5;
        }
    }

    .send_btn {
        width: 200px;
        line-height: 1.5;
        color: #fff;
        font-family: $noto_regular;
        font-size: 16px;
        background: $blue_main;
        border-radius: 8px;
        padding: 16px 0;

        &:hover {
            background: $blue_main2;
            transition: var(--hover-transition);
        }
    }
}
/*
@media screen and (max-width: 426px) {
    .contact {
        .input_wrap {
            flex-wrap: wrap;

            select {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }
        }

        .send_btn {
            margin: 0 auto;
        }
    }
}
*/