@charset "UTF-8";
@import "../base/_setting.scss";
@import "../layout/_header.scss";
@import "../layout/_footer.scss";
@import "../components/_inputs.scss";
@import "../components/_buttons.scss";
//.mobile_h2 {
//    display: none;
//}

//.mobi_br {
//    display: none;
//}

.cont{
    max-width: 1920px;
    margin: 0 auto;

    .inner{
        max-width: 1400px;
        margin: 0 auto;
    }
}

.cont1{
    background: url(../../images/index/cont1_img.jpg) no-repeat center 0 / 1920px auto;

    .inner{
        padding: 250px 20px;
    }
}