@charset "UTF-8";
@import 'Setting.scss';

.complete {

    .inner {
        padding: 200px 20px;
    }

    h2 {
        font-size: 24px;
        line-height: 1.5;
        font-family: $noto_bold;
        margin-bottom: 8px;
        color: $blue_main;
        text-align: center;
    }

    .sub_title {
        font-size: 16px;
        line-height: 1.5;
        font-family: $noto_regular;
        margin-bottom: 40px;
        text-align: center;
    }

    .table_wrap {
        border-top: 2px solid $blue_main;
        border-bottom: 2px solid $blue_main;
        padding: 22px 20px;
        margin-bottom: 60px;
    }

    .table {

        tr {
            th {
                min-width: 130px;
                text-align: left;
                font-size: 16px;
                font-family: $noto_medium;
                line-height: 1.5;
                padding: 8px 0;
                color: $gray4;
            }

            td {
                width: 100%;
                padding: 8px 0;
                font-size: 16px;
                font-family: $noto_regular;
                line-height: 1.5;
                text-align: center;

                .contract_wrap {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                }

                .copy_text {
                    min-width: 36px;
                    height: 36px;
                    display: inline-block;
                }
            }
        }
    }

    .bottom_text {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        font-family: $noto_regular;
        margin-bottom: 60px;
    }

    .pala_btn {
        display: flex;
        width: 320px;
        padding: 38px 0;
        border: 1px solid $gray8;
        border-radius: 12px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        &:hover{
            border: 2px solid $blue_main;
        }
        
        img{
            width: auto;
            height: 24px;
        }
    }
}
