@charset "UTF-8";
@import "./Setting.scss";

.login_wrap {
    max-width: 520px;
    padding: 40px 80px;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    margin: 0 auto 50px;

    h2 {
        text-align: center;
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 30px;
    }



    form {
        position: relative;
    }

    .box {
        flex-direction: column;
        display: flex;
        gap: 12px;
        margin-bottom: 67px;
        position: relative;

        .input_wrap {
            width: 100%;
        }

        .pw_wrap {
            display: flex;
            gap: 12px;
        }

        input {
            width: 100%;
            border-radius: 8px;
            font-size: 14px;
            line-height: 1.5px;
            padding: 10px 16px;
            flex: 1;

            &::placeholder {
                /*padding-left: 22px;
                background-repeat: no-repeat;
                background-size: 14px auto;
                background-position: 1px center;*/
            }
        }
    }
    /*    .email {
        &::placeholder {
            background-image: url(../images/icons/user.png);
        }
    }

    .password {
        &::placeholder {
            background-image: url(../images/icons/padlock.png);
        }
    }*/

    .email {

        &.error {
            outline: none;

            &:focus {
            }
        }
    }

    .password {

        &.error {
            outline: none;

            &:focus {
            }
        }
    }

    button[type="submit"] {
        width: 100%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #fff;
        line-height: 1.5;
        padding: 16px 0;
    }



    .timer, .send, .resend {
        width: 112px;
        border-radius: 8px;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 1.5;
        padding: 10px 0;
    }

    .timer {
        display: none;

        &.on {
            display: flex;
        }
    }

    .send {
        font-size: 14px;

        &.on {
            display: flex;
        }
    }

    .resend {
        &.on {
            display: flex;
            font-size: 12px;
        }
    }

    .error_msg {
        display: none;
        position: absolute;
        bottom: -36px;
        left: 0;
        padding-left: 28px;


        img {
            width: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }

        p {
            font-size: 14px;
            line-height: 1.5;
        }

        &.on {
            display: block;
        }
    }
}



@media screen and (max-width: 1024px) {
    .login_wrap {
        max-width: 440px;
        box-shadow: none;
        padding: 0;
    }
}