@charset "UTF-8";
@import "../base/_setting.scss";
@import "../layout/_header.scss";
@import "../layout/_footer.scss";
@import "../components/_inputs.scss";
@import "../components/_buttons.scss";

.payment_history {

    .inner {
        max-width: 976px;
        margin: 0 auto;
        padding: 80px 0;
    }

    h2 {
        margin-bottom: 40px;
    }

    .table_wrap {
        overflow: hidden;
        background: $black3;
        border-radius: 8px;
        padding-bottom: 20px;
        min-height: 236px;
        margin-bottom: 80px;
    }

    table {
        width: 100%;
        text-align: center;
    }

    thead {
        border-bottom: 1px solid $white7;
    }

    th {
        padding: 12px;
        text-align: center;
    }

    td {
        padding: 12px;

        time:nth-child(1) {
            margin-right: 4px;
        }

        button {
            color: inherit;
            margin: 0 auto;
        }

        &.on {
            button {
                color: $white;
            }
        }
    }

    .contract {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 120px;
        color: inherit;
    }

    .tx_id {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 120px;
    }

    .no_data {
        display: none;

        td {
            padding: 72px 0;
        }



        &.on {
            display: block;
        }
    }
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;

    &.on{
        visibility: visible;
    }

    .inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        max-width: 568px;
        width: 100%;
        background: $gray2;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        border-radius: 16px;
        padding: 20px 30px;
    }

    .modal_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        h3 {
            display: flex;
            align-items: center;
            gap: 12px;

            img {
                width: 40px;
            }
        }
    }

    .modal_body {
        padding: 10px 0;

        .table_wrap {
            background: $black2;
            border-radius: 16px;
            padding: 10px;
        }

        .table {
            width: 100%;

            tbody {
                width: 100%;
            }

            th {
                font-size: 14px;
                font-family: $suit_regular;
                min-width: 100px;
                text-align: left;
                padding: 10px 16px;
            }

            td {
                width: calc(100% - 100px);
                font-size: 14px;
                font-family: $suit_light;
                color: $white2;
                text-align: center;
                padding: 10px 16px;
            }

            .tx_id {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 300px;
            }
        }
    }

    .modal_footer{
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
}

/*@media screen and (max-width: 1024px) {
    .payment_history {

        .no_data {
            td {
                padding: 72px 0 72px 40px;
                text-align: left;
            }
        }

        .back_btn {
            margin: 0 auto;
        }
    }
}
*/
