@charset "UTF-8";
@import "./Setting.scss";


.withdrawal {
    h2 {
        margin-bottom: 12px;
    }


    .sub_title {
        font-size: 18px;
        line-height: 1.5;
        font-family: $noto_medium;
        margin-bottom: 60px;
        color: $gray5;
    }

    .info_inner {
        border: 1px solid $gray9;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .info_title {
        padding: 16px 20px;
        font-size: 16px;
        line-height: 1.5;
        font-family: $noto_medium;

        p{
            word-break: keep-all;
        }
    }

    .info_text {
        padding: 30px 20px;
        background: $gray12;

        p {
            font-size: 16px;
            font-family: $noto_regular;
            line-height: 1.5;
            word-break: keep-all;

            strong {
                font-size: 16px;
                line-height: 1.5;
                font-family: $noto_medium;
                color: $blue_main;
                word-break: keep-all;
            }
        }
    }

    .check_wrap {
        margin-bottom: 60px;

        input {
            display: none;

            + label {
                display: inline-flex;
                gap: 12px;
                cursor: pointer;

                img {
                    width: 20px;
                }

                img:nth-child(2) {
                    display: none;
                }

                span{
                    color: $gray5;
                }
            }

            &:checked {

                + label {
                    img:nth-child(1) {
                        display: none;
                    }

                    img:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }

    .withdrawal_btn {
        width: 200px;
        font-size: 16px;
        line-height: 1.5;
        font-family: $noto_medium;
        border-radius: 8px;
        padding: 16px 0;
        background: $blue_main;
        color: #fff;

        &[disabled] {
            background: $gray9;
            color: $gray5;
        }
    }
}

/*@media screen and (max-width: 768px){
    .withdrawal {
        .withdrawal_btn {
            margin: 0 auto;
        }

        .info_text{
            padding: 20px;
        }
    }
    
}
*/