@{
    ViewData["title"] = "비밀번호 변경";
}


<section class="cont change_password">
    <div class="inner">
        <div class="login_wrap">
            @*<img class="logo" alt="로그인" />*@
            <h2 class="subtitle_1 jost_m color_theme">CHANGE PW</h2>
            <form>
                <div class="box">
                    <div class="input_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="password" class="password" name="" id="pw" placeholder="영문, 숫자, 특수문자 조합 8~16자리" />
                        <button type="button" class="check_pw" data-eye>
                            <!-- img on클래스 추가시 눈동자 -->
                            <img src="~/images/icons/eye_close.svg" alt="비밀번호 가리기" />
                            <img src="~/images/icons/eye_open.svg" alt="비밀번호 보기" />
                        </button>
                    </div>
                    <div class="pw_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="password" class="password" name="" id="re_pw" placeholder="비밀번호 재입력" />
                        <button type="button" class="check_pw" data-eye>
                            <!-- img on클래스 추가시 눈동자 -->
                            <img src="~/images/icons/eye_close.svg" alt="비밀번호 가리기" />
                            <img src="~/images/icons/eye_open.svg" alt="비밀번호 보기" />
                        </button>
                    </div>
                </div>
                <button type="submit" class="next_btn">변경하기</button>
            </form>
        </div>
    </div>
</section>



@section Heads{
    <link rel="stylesheet" href="~/css/pages/ChangePassword.css"/>
    <script src="~/js/ChangePassword.js" defer></script>
}