@{
    ViewData["title"] = "비밀번호 찾기";
}


<section class="cont cont1">
    <div class="inner">
        <div class="login_wrap">
            @*<img class="logo" alt="로그인" />*@
            <h2>비밀번호 찾기</h2>
            <form>
                <div class="box">
                    <div class="input_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="email" class="email" name="" placeholder="회원가입시 등록한 ID(이메일)를 입력해주세요." />
                    </div>
                    <div class="pw_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="text" class="certification" name="" placeholder="인증번호를 입력해주세요." />
                        <button class="send on">인증번호 발송</button>
                        <button type="button" class="resend">다시 보내기</button>
                        <p class="timer" id="timer">5:00</p>
                    </div>
                    <div class="error_msg">
                        <img src="~/images/icons/attention.svg" alt="경고" />
                        <p>입력시간이 초과되었습니다.</p>
                    </div>
                </div>
                <button type="submit" id="submitBtn">다음으로</button>
            </form>
        </div>
        <div class="info_wrap">
            <div class="menu">
                <ul>
                    <li>
                        <a href="#">이용약관</a>
                    </li>
                    <li>
                        <a href="#">개인정보처리방침</a>
                    </li>
                    <li>
                        <a href="#">책임의 한계와 법적고지</a>
                    </li>
                    <li>
                        <a href="#">회원정보</a>
                    </li>
                    <li>
                        <a href="#">고객센터</a>
                    </li>
                </ul>
            </div>
            <div class="box">
                <p class="logo">
                    <img src="~/images/icons/pentabreed.png" alt="pentabreed" />
                </p>
                <p class="copy">
                    Copyright © PENTABREED All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/SignCommon.css" />
    <link rel="stylesheet" href="~/css/Password.css" />

    <script src="~/js/FindPassword.js" defer></script>
}