@{
    ViewData["Title"] = "결제 수단";
}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-2 d-flex align-items-center">
                <div class="welcome-text">
                    <h4 class="font-weight-bold">1:1 문의</h4>
                </div>
            </div>
            <div class="row col-sm-10">
                <div class="col-4">
                    <div class="row">
                        <div class="form-group col-6 mb-0">
                            <select class="form-control">
                                <option selected="">상태 전체</option>
                                <option>요청</option>
                                <option>완료</option>
                            </select>
                        </div>
                        <div class="form-group col-6 mb-0">
                            <select class="form-control">
                                <option selected="">구분 전체</option>
                                <option>오류</option>
                                <option>건의</option>
                                <option>문의</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row justify-content-end">
                        <div class="form-group col-6 mb-0">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">검색</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">+ 추가</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-sm table-hover">
                                <colgroup>
                                    <col width="5%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                    <col width="*"/>
                                    <col width="14%"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>상태</th>
                                        <th>구분</th>
                                        <th>제목</th>
                                        <th>등록일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-toggle="modal" data-target=".bd-example-modal-lg" style="cursor: pointer">
                                        <th>231</th>
                                        <td>요청</td>
                                        <td>오류</td>
                                        <td>내용 내용</td>
                                        <td>2011.11.12 11:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination pagination-sm pagination-gutter justify-content-center">
                            <li class="page-item page-indicator">
                                <a class="page-link" href="javascript:void()">
                                    <i class="icon-arrow-left"></i>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void()">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                            <li class="page-item page-indicator">
                                <a class="page-link" href="javascript:void()">
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section PostModal{
    @await Html.PartialAsync("~/Views/Inquiry/InquiryPost.cshtml")
};