@charset "UTF-8";

body {
    color: #222;
}

.min-h100px {
    min-height: 100px;
}


.table {
    color: #222;
}

.item_list {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    li {
        button {
            max-width: 80px;
            width: 80px;
            height: 60px;
            padding: 8px;
            border: 1px solid #eaeaea;
            background-color: transparent;
        }

        &.on {
            button {
                border-color: #593bdb;
            }
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.custom_table {

    tbody {

        th {
            width: 14%;
        }
    }
}

.upload_wrap {
    min-height: 500px;



    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        li {
            border: 3px dashed #ccc;
            border-radius: 20px;
            position: relative;

            &.on {
                border-color: #f66e6e;
            }

            label {
                width: 100%;
                height: 100%;
                cursor: pointer;
                position: relative;
                border-radius: 20px;
                overflow: hidden;
            }

            .text_wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                padding: 60px 0;
            }

            .label_img_wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
                justify-items: center;
                align-items: center;
                gap: 4px;

                img {
                    width: 100%;
                    object-fit: contain;
                    pointer-events: none;
                    padding: 10px;
                }

                i {
                    text-align: center;
                    padding: 20px 6px;
                }
            }

            .file_delete {
                display: none;
                width: 40px;
                height: 40px;
                position: absolute;
                top: -10px;
                right: -10px;
                appearance: none;
                border: none;
                background: #dd2c2c;
                border-radius: 50%;

                .line {
                    display: block;
                    width: 24px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    &:nth-child(1) {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }

                    &:nth-child(2) {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
            }
        }
    }
}

.img_wrap {
    height: 176px;

    img {
        width: auto;
        height: 100%;
    }
}

#barChart {
    //max-width: 800px;
    max-height: 300px;
}


.modal_upload {
    padding-bottom: 30px;
    height: 100%;



    .inner {
        border: 3px dashed #ccc;
        border-radius: 20px;
        position: relative;
        height: 100%;

        &.on {
            border-color: #f66e6e;
        }
    }

    label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
    }

    .text_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 60px 0;
        height: 100%;
        color: #aaa;
    }

    .label_img_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
        justify-items: center;
        align-items: center;
        gap: 4px;

        img {
            width: 100%;
            object-fit: contain;
            pointer-events: none;
            padding: 10px;
        }

        i {
            text-align: center;
            padding: 20px 6px;
        }
    }

    .file_delete {
        display: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -10px;
        right: -10px;
        appearance: none;
        border: none;
        background: #dd2c2c;
        border-radius: 50%;

        .line {
            display: block;
            width: 24px;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}
