@{
    ViewData["title"] = "NFT 발행";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2>Minting Setting</h2>
        <p class="sub_title">NFT MINTER는 ‘Chrome’ 웹브라우저에 최적화 되어있으며, 모바일 서비스가 일부 제한됩니다.</p>
        <p class="sub_title">‘저장 후 다음으로’ 버튼을 눌러 모든 설정사항을 저장할 수 있으며, 재로그인 및 컬렉션 재설정시 마지막으로 설정한 페이지로 돌아갑니다.</p>
    </div>
</div>

<section class="cont1 publish_nft">
    <div class="inner">
        <div class="contract_wrap wrapping">
            <h2>NFT 발행</h2>
            <!-- 선택 이미지 영역 -->
            <div class="collection_img_wrap">
                @*<img src="~/images/sample/generator/sample_collection1.jpg"/>*@
            </div>
            <div class="box margin_top">
                <h3>컬렉션명</h3>
                <select>
                    <option value="none" disabled selected>컬렉션을 선택해주세요.</option>
                    <option value="">Conmink1</option>
                    <option value="">Conmink2</option>
                    <option value="">Conmink3</option>
                </select>
            </div>
            <div class="box">
                <h3>스마트 컨트랙트명</h3>
                <input type="text" disabled />
            </div>
            <div class="box">
                <h3>토큰 심볼</h3>
                <input type="text" disabled />
            </div>
            <div class="box">
                <h3>총발행 개수</h3>
                <input type="text" disabled />
            </div>
            <div class="box">
                <h3>토큰 상세설명</h3>
                <textarea disabled></textarea>
            </div>
            <div class="box">
                <h3>블록체인 네트워크</h3>
                <input type="text" disabled />
            </div>
            <div class="box">
                <h3>토큰형식</h3>
                <input type="text" disabled />
            </div>
            <div class="box">
                <p class="info_text">* NFT 발행은 1회 5개까지는 무료(2회에 한함)이나 무료체험 회수 소진 시 및 회차당 5개 초과 발행 시 유료입니다.</p>
                <p class="info_text">* ‘결제하기’ 버튼을 클릭하여 무료 가능 여부 및 결제 대상 금액을 확인하시기 바랍니다.</p>
            </div>

            <div class="box bottom_border">
                <!-- 결제완료시 on 클래스 추가, disabled 추가 텍스트 변경 -->
                <button type="button" class="save_btn payment_btn">결제하기</button>
            </div>
            <div class="box bottom_border">
                <h3>지갑 연결하기</h3>
                <div class="text_wrap">
                    <p class="info_text padding_left">
                        <span>*</span>
                        본 지갑은 컬렉션 계정으로 사용될 예정입니다. 기존 NFT 거래하시는 계정일 경우 컬렉션 혼재 방지를 위하여 새로 지갑을 발행한 뒤 연결해주세요.
                    </p>
                    <p class="info_text padding_left">
                        <span>*</span>
                        NFT 발행을 위해서는 별도의 네트워크 수수료(Gas fee)가 필요하므로 연결된 지갑에 Klay 코인을 입금 후 발행하시기 바랍니다.
                    </p>
                </div>
                <button type="button" class="save_btn wallet_btn">지갑 연결하기</button>
            </div>
        </div>

        <button type="button" class="save_btn nft_btn">NFT 발행하기</button>
    </div>
</section>


<script>
    // select 색상 바꾸기
    const select = document.querySelector('select');

    select.addEventListener('change', () => {

        if (select.selectedIndex !== 0) {
            select.style.color = "#222"
        }
    })

</script>


@section Modals{

    <!-- on 추가시 display-->
    <div class="modal modal_info">
        <div class="inner">
            <h2>민팅 비용 안내</h2>
            <div class="info_text">
                <p>보유하신 이미지를 NFT로 발행하기 위해서는 다음과 같이 소정의 비용이 발생됩니다.</p>
            </div>
            <div class="table_wrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>회당 NFT 발행 개수</th>
                            <th>요금</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 ~ 5</td>
                            <td>무료</td>
                            <td>2회 제한</td>
                        </tr>
                        <tr>
                            <td>무료 회차 초과</td>
                            <td>300,000 원</td>
                            <td>1회 발행 NFT 개수 1만 개 단위</td>
                        </tr>
                        <tr>
                            <td>51개 이상</td>
                            <td>300,000 원</td>
                            <td>1회 발행 NFT 개수 1만 개 단위</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottom_text">
                <p>현재 회원님은 무료 NFT 발행을 1회 사용하였습니다.</p>
                <p>잔여 횟수는 1회 입니다.</p>
            </div>
            <div class="button_wrap">
                <button type="button" class="free_create">무료 민팅 사용하기</button>
                <button type="button" class="payment_create">결제 후 생성하기</button>
            </div>
        </div>
    </div>

    <!-- on 추가시 display-->
    <div class="modal modal_mint_info">
        <div class="inner">
            <h2>NFT 민팅 결제 안내</h2>
            <div class="count_wrap">
                <h3>이미지 생성 개수</h3>
                <p>
                    <span class="num">1,000</span>
                    개
                </p>
            </div>
            <div class="price_wrap">
                <h3>결제 금액</h3>
                <p>
                    <span class="num">300,000</span>
                    원
                </p>
                <span class="ps">(가스비 별도)</span>
            </div>
            <p class="text">
                결제 완료 시 바로 이미지 생성이 진행되어<br />
                결제 취소가 불가능합니다.
            </p>
            <div class="button_wrap">
                <button type="button" class="payment_btn">결제하기</button>
                <button type="button" class="cancel_btn">취 소</button>
            </div>
        </div>
    </div>

    <div class="modal connect_wallet">
        <div class="inner">
            <h2>지갑 연결</h2>
            <p class="text">
                NFT 생성 시 사용하는 블록체인 네트워크에 해당하는<br />
                지갑을 선택해주세요.
            </p>
            <div class="button_wrap">
                <button type="button" class="payment_btn">
                    <img src="~/images/icons/metamask.png" alt="메타마스크" />
                    Connect Metamask
                </button>
                <button type="button" class="cancel_btn">
                    <img src="~/images/icons/kaikas.png" alt="카이카스" />
                    Connect KaiKas
                </button>
            </div>
        </div>
    </div>
}

@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/MintingCommon.css" />
    <link rel="stylesheet" href="~/css/PublishNFT.css" />
    <script src="~/js/PublishNFT.js" defer></script>
}