<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="AirDropper" />
    <meta property="og:title" content="AirDropper" />
    <meta property="og:image" content="~/images/logo_icon.svg" />
    <meta property="og:description" content="AirDropper" />
    <title>AirDropper - @ViewData["Title"]</title>

    <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="~/images/logo_icon.svg" />
    <link rel="apple-touch-icon" href="~/images/logo_icon.svg" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo_icon.svg" />

    <link rel="stylesheet" href="~/css/base/font.css" />
    <link rel="stylesheet" href="~/css/base/reset.css" />
    <link rel="stylesheet" href="~/css/common/common.css" />

    <!-- 로딩 -->
    <script src="~/LoadingScreen/LoadingScreen.js"></script>

    <!-- JS -->
    <script src="~/js/common.js" defer></script>
    <script src="~/js/windowCheck.js" async></script>


    @await RenderSectionAsync("Heads", required: false)
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="headerIn">
                <h1 class="logo">
                    <a href="/">
                        <img src="~/images/logo.svg" alt="Airdropper" />
                    </a>
                </h1>
                <nav class="gnb">
                    <ul>
                        <li>
                            <a href="/" class="navi_1 jost_r">HOME</a>
                        </li>
                        <li>
                            <a href="/Issuing/Issuing" class="navi_1 jost_r">ISSUING</a>
                        </li>
                        <li>
                            <a href="/Airdrop/Airdrop" class="navi_1 jost_r">AIRDROP</a>
                        </li>
                        <li>
                            <a href="#" class="navi_1 jost_r">GUIDE</a>
                            <ul class="sub_gnb">
                                <li>
                                    <a href="/Guide/UseGuide" class="navi_1 jost_l">How to Use</a>
                                </li>
                                <li>
                                    <a href="/Guide/PriceGuide" class="navi_1 jost_l">Price Guide</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Notice/Notice" class="navi_1 jost_r">NOTICE</a>
                        </li>
                        <li>
                            <a href="#" class="navi_1 jost_r">SUPPORT</a>
                            <ul class="sub_gnb">
                                <li>
                                    <a href="/Support/FAQ" class="navi_1 jost_l">FAQ</a>
                                </li>
                                <li>
                                    <a href="/Support/Contact" class="navi_1 jost_l">Contact</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="sign_wrap">
                    @*<a href="#" class="telegram" title="텔레그램 바로가기">
                    <span class="visually_hidden">텔레그램 바로가기</span>
                    </a>*@
                    <!-- on 클래스 추가시 display -->
                    <div class="my_page on">
                        <button type="button" class="my_page_btn" title="mypage button" onclick="window.location.href='/Myinfo/Profile'">
                            <span class="visually_hidden">mypage button</span>
                        </button>
                        <!-- on 클래스 추가시 display -->
                        @*<ul>
                        <li><a href="/MyInfo/Profile">내 정보</a></li>
                        <li><a href="/MyInfo/MyGallery">마이 갤러리</a></li>
                        <li><a href="/MyInfo/PaymentHistory">결제관리</a></li>
                        <li><a href="/MyInfo/Withdrawal">회원탈퇴</a></li>
                        </ul>*@
                    </div>
                    <ul class="sign_wrap">
                        <!-- on 클래스 추가시 display -->
                        <li class="on"><a href="/Sign/Login" class="sign_btn sign_in_btn">Login</a></li>
                        <li class="on"><a href="/Sign/SignUp" class="sign_btn sign_up_btn">Signup</a></li>
                        <li class="on"><a href="/" class="sign_btn log_out_btn">Logout</a></li>
                    </ul>
                    @*                   <div class="mobile_menu">
                    <button type="button" class="side_open_btn">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    </button>
                    </div>*@
                </div>

            </div>
        </header>
        @await RenderSectionAsync("Banner", required: false)

        <main class="container">
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="inner">
                <div class="img_wrap">
                    <img src="~/images/logo_icon.svg" alt="Airdropper" />
                </div>
                <div class="f_info">
                    <h2 class="body_2 suit_r">AIR DROPPER</h2>
                    @*                    <address class="body_2 suit_r color_white_3">주소 : 서울특별시 강남구 도산대로25길 27 2층</address>
                    <p class="body_2 suit_r color_white_3">
                    <span>대표이사 김덕중</span>
                    <span>사업자등록번호 : 758-87-00551</span>
                    </p>
                    <p class="body_2 suit_r color_white_3">
                    <span>개인정보관리책임자: 황교찬</span>
                    <span>통신판매업신고 : 2022-서울강남-06405</span>
                    </p>*@
                    <address class="body_2 suit_r color_white_3">contact@airdroopper.net</address>
                    <div class="notice body_2 suit_r color_white_3">
                        <a href="#" class="body_2 suit_r color_white_3">Privacy Policy</a>
                        <a href="#" class="body_2 suit_r color_white_3">Terms & Conditions</a>
                    </div>
                </div>
                <div class="sub">
                    <a href="#" class="telegram" data-comming>
                        <span class="visually_hidden">telegram</span>
                    </a>
                    <p class="copy body_2 suit_r color_white_3">AIR DROPPER Copyrights © All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Modals", required: false)

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        console.log("%c(۶•̀ᴗ•́)۶", "font-size: 50px; color: #cfffa5; padding: 0 30px; border-radius: 12px;");
    </script>

    <script>

        const comming = document.querySelectorAll('[data-comming]');
        comming.forEach(event => {

            event.addEventListener('click', (e) => {
                e.preventDefault();
                Swal.fire({
                    icon: 'warning', text: "Coming soon."
                })
            })
        })
    </script>
    <link href="~/css/base/customSweetAlert.css" rel="stylesheet" />

    @*<div class="side_menu">
    <button type="button" class="side_close_btn">
    <span class="line"></span>
    <span class="line"></span>
    </button>
    <nav class="side_gnb">
    <ul>
    <!-- on 클래스 추가시 a태그 컬러 -->
    <li class="on">
    <a href="/">HOME</a>
    </li>
    <li>
    <a href="/Generator/Main">GENERATOR</a>
    </li>
    <li>
    <a href="/Minting/Main">MINTING</a>
    </li>
    <li>
    <a href="#" class="notice_btn">공지&문의</a>
    <ul class="side_sub_gnb">
    <li>
    <a href="/Notice/Notice">공지사항</a>
    </li>
    <li>
    <a href="/Notice/FAQ">FAQ</a>
    </li>
    <li>
    <a href="/Notice/Contact">문의하기</a>
    </li>
    </ul>
    </li>
    </ul>
    </nav>
    <div class="side_sign_wrap">
    <ul>
    <li class="sign_in on"><a href="/Sign/Login">로그인</a></li>
    <li class="sign_up"><a href="/Sign/SignUp">회원가입</a></li>
    </ul>
    </div>
    </div>*@
</body>
</html>
