<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="AIR DROPPER is a service that allows you to transfer virtual assets or NFTs to millions of wallets with a simple process." />
    <meta property="og:title" content="AirDropper" />
    <meta property="og:image" content="~/images/logo_icon.svg" />
    <meta property="og:description" content="AIR DROPPER is a service that allows you to transfer virtual assets or NFTs to millions of wallets with a simple process." />
    <meta name="keyword" content="Airdrop, Block chain, multisend, token airdrop, token issuing, smartcontract deploy, snapshot">
    <meta name="twitter:title" content="AirDropper">
    <meta name="twitter:description" content="AIR DROPPER is a service that allows you to transfer virtual assets or NFTs to millions of wallets with a simple process.">
    <title>AirDropper - @ViewData["Title"]</title>

    <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="~/images/logo_icon.svg" />
    <link rel="apple-touch-icon" href="~/images/logo_icon.svg" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo_icon.svg" />

    <link rel="stylesheet" href="~/css/base/font.css" />
    <link rel="stylesheet" href="~/css/base/reset.css" />
    <link rel="stylesheet" href="~/css/common/common.css" />

    <!-- 로딩 -->
    <script src="~/LoadingScreen/LoadingScreen.js"></script>

    <!-- JS -->
    <script src="~/js/common.js" defer></script>
    <script src="~/js/windowCheck.js" async></script>


    @await RenderSectionAsync("Heads", required: false)
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="headerIn">
                <h1 class="logo">
                    <a href="/">
                        <img src="~/images/logo.svg" alt="Airdropper" />
                    </a>
                </h1>
                <nav class="gnb">
                    <ul>
                        <li>
                            <a href="/" class="navi_1 jost_r">HOME</a>
                        </li>
                        <li>
                            <a href="/Issuing/Issuing" class="navi_1 jost_r">ISSUING</a>
                        </li>
                        <li>
                            <a href="#" class="navi_1 jost_r">AIRDROP</a>
                            <ul class="sub_gnb">
                                <li>
                                    <a href="/Airdrop/Snapshot" class="navi_1 jost_l">Snapshot</a>
                                </li>
                                <li>
                                    <a href="/Airdrop/Airdrop" class="navi_1 jost_l">Airdrop</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="navi_1 jost_r">GUIDE</a>
                            <ul class="sub_gnb">
                                <li>
                                    <a href="/Guide/UseGuide" class="navi_1 jost_l">How to Use</a>
                                </li>
                                <li>
                                    <a href="/Guide/PriceGuide" class="navi_1 jost_l">Price Guide</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Notice/Notice" class="navi_1 jost_r">NOTICE</a>
                        </li>
                        <li>
                            <a href="#" class="navi_1 jost_r">SUPPORT</a>
                            <ul class="sub_gnb">
                                <li>
                                    <a href="/Support/FAQ" class="navi_1 jost_l">FAQ</a>
                                </li>
                                <li>
                                    <a href="/Support/Contact" class="navi_1 jost_l">Contact</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="sign_wrap">
                    <!-- on 클래스 추가시 display -->
                    <div class="my_page on">
                        <button type="button" class="my_page_btn" title="mypage button" onclick="window.location.href='/Myinfo/Profile'">
                            <span class="visually_hidden">mypage button</span>
                        </button>
                        <!-- on 클래스 추가시 display -->
                    </div>
                    <ul class="sign_wrap">
                        <!-- on 클래스 추가시 display -->
                        <li class="on"><a href="/Sign/Login" class="sign_btn sign_in_btn">Login</a></li>
                        <li class="on"><a href="/Sign/SignUp" class="sign_btn sign_up_btn">Signup</a></li>
                        <li class="on"><a href="/" class="sign_btn log_out_btn">Logout</a></li>
                    </ul>
                </div>

            </div>
        </header>
        @await RenderSectionAsync("Banner", required: false)

        <main class="container">
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="inner">
                <div class="img_wrap">
                    <img src="~/images/logo_icon.svg" alt="Airdropper" />
                </div>
                <div class="f_info">
                    <h2 class="body_2 suit_r color_white_2">AIR DROPPER</h2>
                    <address class="body_2 suit_r color_white_3">contact@airdroopper.net</address>
                    <div class="notice body_2 suit_r color_white_3">
                        <a href="#" class="body_2 suit_r color_white_3">Privacy Policy</a>
                        <a href="#" class="body_2 suit_r color_white_3">Terms & Conditions</a>
                    </div>
                </div>
                <div class="sub">
                    <a href="#" class="telegram" data-comming>
                        <span class="visually_hidden">telegram</span>
                    </a>
                    <p class="copy body_2 suit_r color_white_3">AIR DROPPER Copyrights © All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Modals", required: false)

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@5/dark.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        console.log("%c(۶•̀ᴗ•́)۶", "font-size: 50px; color: #cfffa5; padding: 0 30px; border-radius: 12px;");
    </script>

    <script>

        const comming = document.querySelectorAll('[data-comming]');
        comming.forEach(event => {

            event.addEventListener('click', (e) => {
                e.preventDefault();
                Swal.fire({
                    icon: 'warning', text: "Coming soon."
                })
            })
        })
    </script>
    <link href="~/css/base/customSweetAlert.css" rel="stylesheet" />
</body>
</html>
