@{
    ViewData["title"] = "비밀번호 찾기";
}


<section class="cont cont1">
    <div class="inner">
        <div class="login_wrap">
            @*<img class="logo" alt="로그인" />*@
            <h2>비밀번호 찾기</h2>
            <form>
                <div class="box">
                    <div class="input_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="email" class="email error" name="" placeholder="회원가입시 등록한 ID(이메일)를 입력해주세요." />
                    </div>
                    <div class="pw_wrap">
                        <!-- error 클래스 색상변경 -->
                        <input type="password" class="password error" name="" placeholder="이메일로 전송된 인증번호를 입력해주세요." />
                        <button class="send on">인증번호 발송</button>
                        <button type="button" class="resend">다시 보내기</button>
                        <p class="timer" id="timer">5:00</p>
                    </div>
                </div>
                <div class="error_msg">
                    <img src="~/images/icons/attention.png" alt="경고" />
                    <p class="timer" id="timer">5:00</p>
                    <p>입력시간이 초과되었습니다. 인증절차를 다시 진행해주십시오.</p>
                </div>
            </form>
            <div class="link_wrap">
                <ul>
                    <li>
                        <a href="/Sign/Password">비밀번호 찾기</a>
                    </li>
                    <li>
                        <a href="#">아이디 찾기</a>
                    </li>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info_wrap">
            <div class="menu">
                <ul>
                    <li>
                        <a href="#">이용약관</a>
                    </li>
                    <li>
                        <a href="#">개인정보처리방침</a>
                    </li>
                    <li>
                        <a href="#">책임의 한계와 법적고지</a>
                    </li>
                    <li>
                        <a href="#">회원정보</a>
                    </li>
                    <li>
                        <a href="#">고객센터</a>
                    </li>
                </ul>
            </div>
            <div class="box">
                <p class="logo">
                    <img src="~/images/icons/pentabreed.png" alt="pentabreed" />
                </p>
                <p class="copy">
                    Copyright © PENTABREED All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section>
<script>

    document.querySelector('.send').addEventListener('click', (e) => {
        e.preventDefault();
        document.querySelector('.send').classList.remove('on');
        document.querySelector('#timer').classList.add('on');
        timerStart();
    });

    document.querySelector('.resend').addEventListener('click', (e) => {
        e.preventDefault();
        document.querySelector('.resend').classList.remove('on');
        document.querySelector('.error_msg').classList.remove('on');
        document.querySelector('#timer').classList.add('on');
        document.querySelector('#timer').textContent = "5:00";
        timerStart();
    });

    function timerStart() {
        let time = 300; // 5분
        let min;
        let sec;

        let timer = setInterval(() => {
            min = parseInt(time / 60);
            sec = time % 60;
            console.log(time)
            console.log(sec)
            //min = min < 10 ? "0" + min : min;
            sec = sec < 10 ? "0" + sec : sec;

            document.querySelector('#timer').innerHTML = min + ":" + sec;
            time--

            if (time < 0) {
                clearInterval(timer)
                document.querySelector('#timer').classList.remove('on');
                document.querySelector('.error_msg').classList.add('on');
                document.querySelector('.resend').classList.add('on');
            }
        }, 1000);
    }

</script>


@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/SignCommon.css" />
    <link rel="stylesheet" href="~/css/Password.css" />
}