@{
    ViewData["title"] = "컬렉션 생성";
}

<div class="top_title_wrap">
    <div class="inner">
        <h2>Create Collection</h2>
        <p class="sub_title">NFT MINTER는 ‘Chrome’ 웹브라우저에 최적화 되어있으며, 모바일 서비스가 일부 제한됩니다.</p>
        <p class="sub_title">‘저장 후 다음으로’ 버튼을 눌러 모든 설정사항을 저장할 수 있으며, 재로그인 및 컬렉션 재설정시 마지막으로 설정한 페이지로 돌아갑니다.</p>
    </div>
</div>

<section class="cont1 create">
    <div class="inner">
        <h2>컬렉션 생성하기</h2>
        <div class="name_wrap">
            <h3>컬렉션명</h3>
            <input type="text" class="name_input" placeholder="컬렉션 이름을 입력해주세요." />
        </div>
        <div class="upload_wrap">
            <h3>마더 폴더 업로드</h3>
            <ul>
                <li>
                    * 이미지는 본인이 직접 제작하였거나 저작권을 확보한 이미지를 사용해야 합니다.
                </li>
                <li>
                    * 저작권 보호법 위반시 민형사상 책임은 본인에게 있습니다.
                </li>
                <li>
                    * 마더 폴더는 PNG 형식의 파일으로만 구성되어야 합니다.
                </li>
            </ul>
            <input type="file" class="upload" id="upload" accept="image/png" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
            <label for="upload">
                <span class="text">
                    레이어 폴더 및 파츠 이미지 파일들이<br />
                    포함된 마더 폴더를 드래그 하거나 업로드 해주세요.
                </span>
            </label>
        </div>
        <button type="button" class="save_btn">저장 후 다음으로</button>
    </div>
</section>

<script>


</script>







@section Heads{
    <link rel="stylesheet" href="~/css/ChangeHeader.css" />
    <link rel="stylesheet" href="~/css/GeneratorCommon.css" />
    <link rel="stylesheet" href="~/css/Create.css" />

    <script src="~/js/Create.js" defer></script>
}