@{
    ViewData["title"] = "PRICE GUIDE";
}

<section class="cont guide">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">PRICE GUIDE</h2>
        <div class="tab_wrap">
            <button type="button" class="body_1 suit_m on">Token issuing service fee</button>
            <button type="button" class="body_1 suit_m">Airdrp service fee</button>
        </div>
        <div class="tab_content tab_1 on">
            <div class="table_wrap">
                <table class="table table1">
                    <thead>
                        <tr>
                            <th>Network</th>
                            <th>Service fee</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ETH</td>
                            <td>0.5 ETH</td>
                            <td rowspan="7">
                                This fee is a fee for the token issuing service, and the Gas fee paid to the network at the time of token issuance must be paid separately.
                                <br /><br />
                                Since the Gas fee fluctuates greatly depending on the network situation, we recommend to check the estimated Gas fee during issuance and click on the ‘Confirm’ button when it is appropriate.
                            </td>
                        </tr>
                        <tr>
                            <td>BSC</td>
                            <td>2 BNB</td>
                        </tr>
                        <tr>
                            <td>Klaytn</td>
                            <td>3,300 KLAY</td>
                        </tr>
                        <tr>
                            <td>Polygon</td>
                            <td>700 MATIC</td>
                        </tr>
                        <tr>
                            <td>Solana</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Hedera</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Algorand</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="body_2 suit_r color_white_2">* Service fees are updated daily at ‘UTC 01:00’.</p>
        </div>

        <!-- =====      tab 2     ===== -->
        <div class="tab_2 tab_content">
            <div class="table_wrap">
                <table class="table table2">
                    <thead>
                        <tr>
                            <th>Network</th>
                            <th>Unit of number of Txs</th>
                            <th>Service fee</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ETH</td>
                            <td>1,000 Tx</td>
                            <td>0.1 ETH</td>
                            <td rowspan="7">
                                0.1 ETH per 1,000 Tx in a transaction to be transferred once
                                <br /><br />
                                Ex) 0.5 ETH when transferring 5,000Txs<br />
                                &nbsp; &nbsp; &nbsp; &nbsp; 0.5 ETH when transferring 4,300Txs<br />
                                &nbsp; &nbsp; &nbsp; &nbsp; 0.5 ETH when transferring 3,900Txs<br />
                            </td>
                        </tr>
                        <tr>
                            <td>BSC</td>
                            <td>1,000 Tx</td>
                            <td>0.4 BNB</td>
                        </tr>
                        <tr>
                            <td>Klaytn</td>
                            <td>1,000 Tx</td>
                            <td>700 KLAY</td>
                        </tr>
                        <tr>
                            <td>Polygon</td>
                            <td>1,000 Tx</td>
                            <td>140 MATIC</td>
                        </tr>
                        <tr>
                            <td>Solana</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Hedera</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Algorand</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="body_2 suit_r color_white_2 price_text">
                <span>*</span> The fee is based on the total number of transactions to be sent at one time, but is charged in units of 1,000 transactions.
                <br />
                <span>*</span> Service fees are updated daily at ‘UTC 01:00’.
            </p>
            <h3 class="body_1 suit_m">Service Fee Calculator</h3>
            <div class="box">
                <div class="box_inner">
                    <div class="select_list">
                        <!-- on 추가시 style 변경 -->
                        <div class="select_wrap default">
                            <button type="button" id="selectChain">
                                <img src="" />
                                <span class="select">Select blockchain network</span>
                            </button>
                        </div>
                        <!-- on 추가시 display -->
                        <ul class="chain_list">
                            <li>
                                <button type="button">
                                    <img src="~/images/coin_icon/ethereum.svg" alt="ethereum" />
                                    <span class="select">Ethereum</span>
                                </button>
                            </li>
                            <li>
                                <button type="button">
                                    <img src="~/images/coin_icon/polygon.svg" alt="polygon" />
                                    <span class="select">Polygon</span>
                                </button>
                            </li>
                            <li>
                                <button type="button">
                                    <img src="~/images/coin_icon/bsc.svg" alt="bsc" />
                                    <span class="select">Bsc</span>
                                </button>
                            </li>
                            <li>
                                <button type="button">
                                    <img src="~/images/coin_icon/klaytn.svg" alt="klaytn" />
                                    <span class="select">Klaytn</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <input type="tel" placeholder="Enter the number of Txs to airdrop." />
                </div>
                <button type="button" class="send_btn" id="calcBtn">Calculate</button>
            </div>
            <div class="value_wrap">
                <!-- on 추가시 display -->
                <div class="no_data body_2 suit_m color_white_3 on">Please enter the information above.</div>
                <!-- on 추가시 display -->
                <div class="result_wrap">
                    <h4 class="subtitle_2 suit_m color_theme">Estimated Airdrop service fee</h4>
                    <p>
                        <span class="price subtitle_2 suit_m">99,9999</span>
                        <span class="unit subtitle_2 suit_m">ETH</span>
                    </p>
                </div>
            </div>
            <p class="body_2 suit_r color_white_2 text_box">
                <span>*</span> The fee will be deducted from the connected wallet upon approval of the transaction when the airdrop is executed. Therefore, the tokens to be airdropped as well as the coins corresponding to the Gas fee and Service fee must be deposited in the connected wallet.
            </p>
            <p class="body_2 suit_r color_white_2 text_box">
                <span>*</span> The Gas fee may vary greatly depending on the network conditions of the main net, so please check the estimated Gas fee before proceeding.
            </p>
        </div>
    </div>


</section>




<script>
    const buttons = document.querySelectorAll('.tab_wrap button');
    const tabs = document.querySelectorAll('.tab_content');

    buttons.forEach((event, idx) => {
        event.addEventListener('click', () => {
            buttons.forEach(ev => {
                ev.classList.remove('on');
            })
            tabs.forEach(ev => {
                ev.classList.remove('on');
            })
            tabs[idx].classList.add('on');
            event.classList.add('on');
        })
    })



    const chainSelectBtn = document.getElementById('selectChain');

    chainSelectBtn.addEventListener('click', (e) => {
        e.preventDefault();
        openMenu(e);

    });


    const removeClassSelectList = () => {
        document.querySelectorAll('.select_list > ul').forEach(ev => {
            ev.classList.remove('on');
        })
    }

    // select 열기
    const openMenu = (event) => {
        const target = event.currentTarget;
        const nextElement = target.parentElement.nextElementSibling;

        removeClassSelectList();

        nextElement.classList.add('on');
    }

    // select 닫기
    document.body.addEventListener('click', (e) => {
        const target = e.target
        const isSelect = target.classList.contains('select_list') || target.closest('.select_list');

        if (isSelect) return;
        removeClassSelectList();
    })

    document.querySelectorAll('.chain_list li button').forEach(ev => {
        ev.addEventListener('click', (e) => {
            removeClassSelectList();
            chainSelectBtn.parentElement.classList.add('on');
            chainSelectBtn.querySelector('img').src = ev.children[0].src;
            chainSelectBtn.querySelector('.select').textContent = ev.children[1].textContent;
        })
    })

    // 수수료 계산기
    let network = [

        Ethereum = {
            price: 0.1,
            unit: 'ETH'
        },
        Polygon = {
            price: 140,
            unit: 'MATIC'
        },
        Klaytn = {
            price: 700,
            unit: 'KLAY'
        },
        BSC = {
            price: 0.4,
            unit: 'BNB'
        },
    ]



    const noData = document.querySelector('.no_data');
    const result = document.querySelector('.result_wrap');
    const calcBtn = document.getElementById('calcBtn');
    const priceText = document.querySelector('.price');
    const unitText = document.querySelector('.unit');

    const calculator = () => {
        noData.classList.remove('on');
        result.classList.add('on');
        unitText.textContent = network[0].unit;
        priceText.textContent = network[0].price;
    }

    calcBtn.addEventListener('click', calculator);

</script>






@section Heads{
    <link rel="stylesheet" href="~/css/pages/Guide.css" />
}