@{
    ViewData["title"] = "HOW TO USE";
}

<section class="cont guide">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">HOW TO USE</h2>
        <div class="tab_wrap">
            <button type="button" class="body_1 suit_m on">Issuance guide</button>
            <button type="button" class="body_1 suit_m">Airdrop guide</button>
        </div>
        <div class="guide_list">
            <ul class="tab_content tab_1 on">
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>1.</span>Enter the information of Network / Token format / Token name / Token ticker (text symbol) / Decimal / Total supply.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/tokenguide_1.webp">
                            <source type="image/jpeg" srcset="~/images/guide/tokenguide_1.png">*@
                            <img src="~/images/guide/tokenguide_1.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>2.</span>After selecting the required function in ‘Select Function’, click the 'PAY' button to proceed with payment.
                        </p>
                        <p class="guide_sub_text body_2 suit_r color_white_2">
                            <span>※</span>The more features, the longer the length of the smart contract, which may add costs when security audits of smart contract are performed later by professional audit organizations.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/tokenguide_2.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/tokenguide_2.png">*@
                            <img src="~/images/guide/tokenguide_2.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>3.</span>When you connect your wallet and complete payment, the button below will switch to ‘ISSUING TOKENS’. At this time, when designating the connected wallet as the owner wallet to manage tokens, click the ‘ISSUING TOKENS’ button, but when designating another wallet as the owner wallet, connect the wallet to be designated as the owner wallet and click the button.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/tokenguide_3.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/tokenguide_3.png">*@
                            <img src="~/images/guide/tokenguide_3.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>4.</span>After checking the owner’s wallet, click the ‘ISSUE’ button to complete token issuance and move to the completion notice page.
                        </p>
                        <p class="guide_sub_text body_2 suit_r color_white_2">
                            <span>※</span>When issuing a token, a Gas fee to be paid to the network occurs separately from the service fee. Please issue after depositing enough Gas fee to the owner's wallet address before proceeding with the issuing procedure.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/tokenguide_4.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/tokenguide_4.png">*@
                            <img src="~/images/guide/tokenguide_4.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>5.</span>You can check an issued token information on the token issuance completion notice page, and you can move to the related page by clicking on the smart contract item.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/tokenguide_5.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/tokenguide_5.png">*@
                            <img src="~/images/guide/tokenguide_5.png" alt="">
                        </picture>
                    </div>
                </li>
            </ul>

            <!-- =====      tab 2     ===== -->
            <ul class="tab_content tab_2">
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>1.</span>After downloading the airdrop file form corresponding to the token format, run the file.
                        </p>
                    </div>
                    <div class="download_wrap">
                        <ul>
                            <li>
                                <p class="body_2 suit_r color_white_2">1. ERC-20 / BEP-20 / KIP-7</p>
                                <a href="~/docs/Upload_Form_1.csv" download aria-label="Upload_Form_1.csv">Upload_Form_1.csv</a>
                            </li>
                            <li>
                                <p class="body_2 suit_r color_white_2">2. ERC-721 / BEP-721 / KIP-17</p>
                                <a href="~/docs/Upload_Form_2.csv" download aria-label="Upload_Form_2.csv">Upload_Form_2.csv</a>
                            </li>
                            <li>
                                <p class="body_2 suit_r color_white_2">3. ERC-1155 / BEP-1155 / KIP-37</p>
                                <a href="~/docs/Upload_Form_3.csv" download aria-label="Upload_Form_3.csv">Upload_Form_3.csv</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>2.</span>Depending on the token format, build a list like this:
                        </p>
                        <div class="list_text">
                            <p class="round body_3 suit_r color_theme">Form 1</p>
                            <p class="body_2 suit_r color_theme">ERC-20 / BEP-20 / KIP-7</p>
                        </div>
                        <p class="guide_sub_text body_2 suit_r color_white_2">
                            Enter only the wallet address and number of tokens to be airdropped.
                        </p>
                        <div class="list_text">
                            <p class="round body_3 suit_r color_theme">Form 2</p>
                            <p class="body_2 suit_r color_theme">ERC-721 / BEP-721 / KIP-17</p>
                        </div>
                        <p class="guide_sub_text body_2 suit_r color_white_2">
                            Enter the wallet address to receive the airdrop and the token ID of the NFT to be transferred. If you want to send two or more NFTs to one address, enter as many addresses as the number of NFTs to send in the address input column, and then enter the corresponding same token ID in each row.
                        </p>
                        <div class="list_text">
                            <p class="round body_3 suit_r color_theme">Form 3</p>
                            <p class="body_2 suit_r color_theme">ERC-1155 / BEP-1155 / KIP-37</p>
                        </div>
                        <p class="guide_sub_text body_2 suit_r color_white_2">
                            Enter the address to receive the airdrop, the token ID of the NFT to send, and the number of tokens to send. If you want to send NFTs with two or more different token IDs to one address, enter as many addresses as the number of NFT token IDs to send in the address input column, and then enter one token ID and the number of tokens in each row. do.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_2.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_2.png">*@
                            <img src="~/images/guide/airdropguide_2.png" alt="">
                        </picture>
                    </div>
                    <p class="guide_sub_text body_2 suit_r color_white_2" style="margin-top: 10px;">
                        <span>*</span>
                        Upload_Form_1.csv 작성의 예
                    </p>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>3.</span>Save the file. When saving, you should save as a csv file separated by a comma (,).
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_3.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_3.png">*@
                            <img src="~/images/guide/airdropguide_3.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>4.</span>After setting the network and token format in the AIRDROP menu, enter the smart contract address and click the ‘Data Interworking’ button.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_4.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_4.png">*@
                            <img src="~/images/guide/airdropguide_4.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>5.</span>If there is no upload form file, upload the file after creating the upload file through the ‘Download form’ button that is activated after setting the network and token format.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_5.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_5.png">*@
                            <img src="~/images/guide/airdropguide_5.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>6.</span>If there is nothing wrong with the file, it will inform you that the file upload has been completed as shown below, and the ‘NEXT’ button will be activated. Also, you can check the file upload result through the ‘Check Upload’ button on the top right. <i> (Continued from item 9)</i>
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_6.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_6.png">*@
                            <img src="~/images/guide/airdropguide_6.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>7.</span>When information is not entered or incorrect information is entered in in the file, the content is changed as follows, and the item with an error can be checked.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_7.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_7.png">*@
                            <img src="~/images/guide/airdropguide_7.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>8.</span>In the result confirmation window, you can check the details of ‘Check errors’.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_8.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_8.png">*@
                            <img src="~/images/guide/airdropguide_8.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>9.</span>If you click the ‘NEXT’ button after uploading the file, you will be connected to the information confirmation and payment progress page.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_9.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_9.png">*@
                            <img src="~/images/guide/airdropguide_9.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>10.</span>If you connect your wallet through the ‘PAYMENT' button and pay the service fee, the ‘AIRDROP’ button will be activated and airdrop is possible.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_10.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_10.png">*@
                            <img src="~/images/guide/airdropguide_10.png" alt="">
                        </picture>
                    </div>
                </li>
                <li>
                    <div class="text_wrap">
                        <p class="guide_title body_1 suit_m">
                            <span>11.</span>When the airdrop is completed through the ‘AIRDROP’ button, it will switch to the completion notice page where you can check related information and move to the relevant page by clicking the TxID item.
                        </p>
                    </div>
                    <div class="img_wrap">
                        <picture>
                            @*<source type="image/webp" srcset="~/images/guide/airdropguide_11.webp">*@
                            @*<source type="image/jpeg" srcset="~/images/guide/airdropguide_11.png">*@
                            <img src="~/images/guide/airdropguide_11.png" alt="">
                        </picture>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>




<script>
    const buttons = document.querySelectorAll('.tab_wrap button');
    const tabs = document.querySelectorAll('.tab_content');

    buttons.forEach((event, idx) => {
        event.addEventListener('click', () => {
            buttons.forEach(ev => {
                ev.classList.remove('on');
            })
            tabs.forEach(ev => {
                ev.classList.remove('on');
            })
            tabs[idx].classList.add('on');
            event.classList.add('on');
        })
    })

</script>






@section Heads{
    <link rel="stylesheet" href="~/css/pages/Guide.css" />
}