@charset "UTF-8";
/* font color */
/* family */
/* font color */
/* family */
/* font color */
/* family */
.telegram {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: #141414 url(../../images/icons/telegram.svg) no-repeat center/auto 16px;
}
.telegram:hover {
  transition: background 0.2s;
  background-image: url(../../images/icons/telegram_on.svg);
}

.header {
  width: 100%;
  height: 76px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 300;
  background: #1B1B1B;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #2ab0ff, #6754ff, #e754ff);
  border-image-slice: 1;
}
.header .headerIn {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header .logo a {
  display: block;
  width: 148px;
}
.header .gnb {
  height: 100%;
  width: 100%;
  max-width: 605px;
  flex: 1;
}
.header .gnb > ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .gnb li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .gnb li a {
  color: #fff;
  display: block;
}
.header .gnb li:hover .sub_gnb {
  display: block;
}
.header .sub_gnb {
  position: absolute;
  top: 100px;
  left: -20px;
  width: 170px;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}
.header .sub_gnb li a {
  padding: 12px 20px;
}
.header .sign_wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .sign_wrap li {
  display: none;
}
.header .sign_wrap li.on {
  display: block;
}
.header .my_page {
  margin-right: 6px;
  position: relative;
  display: none;
}
.header .my_page.on {
  display: block;
}
.header .my_page ul {
  display: none;
  width: 185px;
  flex-direction: column;
  position: absolute;
  right: -8px;
  top: 32px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background: #fff;
  overflow: hidden;
}
.header .my_page ul.on {
  display: flex;
}
.header .my_page li a {
  display: block;
  padding: 10px 20px;
}
/*
@media screen and (max-width: 1024px) {
    .header {
        height: 60px;

        .gnb {
            display: none;
        }

        .sign_wrap {
            gap: 20px;

            .link {
                display: none;
            }
        }
    }
}
*/
/* font color */
/* family */
.footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #222;
}
.footer .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 20px 54px;
}
.footer .box1 {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
  padding-bottom: 90px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.6);
}
.footer .box1 ul {
  display: flex;
  flex-direction: column;
}
.footer .box1 li .head {
  margin-bottom: 20px;
  line-height: 24px;
}
.footer .box1 li a {
  line-height: 24px;
}
.footer .right_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .right_box > ul {
  display: flex;
  gap: 30px;
}
.footer .box2 {
  padding: 28px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-end;
}
.footer .box2 .info > ul {
  display: flex;
  flex-direction: column;
}
.footer .box2 .info li {
  line-height: 24px;
}
.footer .box2 .copy {
  line-height: 24px;
  word-break: keep-all;
}
.footer .box2 li a {
  line-height: 24px;
}

/*
@media screen and (max-width: 1024px) {
    // 태블릿 푸터
    .footer {
        .box1 {
            gap: 60px;

            li {
                .head {
                }

                a {
                }
            }
        }

        .box2 {
            .copy {
            }

            li {
                a {
                }
            }
        }
    }
}*/
/*@media screen and (max-width: 640px) {



    .footer {
        .right_box {
            gap: 10px;
        }

        .box2 {
            .copy {
            }
        }
    }
}
*/
/* font color */
/* family */
input {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_regular";
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  transition: border 0.3s;
  border-radius: 8px;
  flex: 1;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
input:focus {
  outline: 0;
  border-color: #fff;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #494949 inset;
  -webkit-text-fill-color: #fff;
}
input[type=email] {
  max-width: 100%;
  width: 100%;
}
input[type=password] {
  max-width: 100%;
  width: 100%;
}
input[type=text] {
  max-width: 100%;
  width: 100%;
}

.check_btn {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../images/icons/check-mark2-off.svg) no-repeat center center/auto 20px;
}

.auto_label {
  cursor: pointer;
}

/* font color */
/* family */
.my_page_btn {
  width: 40px;
  height: 40px;
  background: url(../../images/icons/user_home.svg) no-repeat center center/auto 20px;
}

.sign_btn {
  display: block;
  width: 92px;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  text-align: center;
  transition: var(--hover-transition);
  padding: 8px 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_medium";
}
.sign_btn.sign_up_btn {
  border-color: #2ECDFF;
  color: #2ECDFF;
}
.sign_btn.sign_up_btn:hover {
  color: #212121;
  background: #2ECDFF;
}
.sign_btn.sign_in_btn {
  border-color: rgba(255, 255, 255, 0.55);
  color: rgba(255, 255, 255, 0.55);
}
.sign_btn.sign_in_btn:hover {
  color: #212121;
  background: rgba(255, 255, 255, 0.55);
}
.sign_btn.log_out_btn {
  border-color: rgba(255, 255, 255, 0.55);
  color: rgba(255, 255, 255, 0.55);
}
.sign_btn.log_out_btn:hover {
  color: #212121;
  background: rgba(255, 255, 255, 0.55);
}

button[type=submit].login_btn {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #2ECDFF;
  color: #2ECDFF;
  font-size: 16px;
  line-height: 1.5;
  font-family: "suit_medium";
}
button[type=submit].login_btn:hover {
  transition: var(--hover-transition);
  background: #2ECDFF;
  color: #1B1B1B;
}
button[type=submit].next_btn {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #2ECDFF;
  color: #2ECDFF;
  font-size: 16px;
  line-height: 1.5;
  font-family: "suit_medium";
}
button[type=submit].next_btn:hover {
  transition: var(--hover-transition);
  background: #2ECDFF;
  color: #1B1B1B;
}

.button_140 {
  width: 140px;
  padding: 13px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_regular";
  color: #fff;
  background: #1B1B1B;
  text-align: center;
}
.button_140:hover {
  color: #2ECDFF;
  border-color: #2ECDFF;
}

.button_160 {
  display: block;
  text-align: center;
  width: 160px;
  padding: 12px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_regular";
  background: #1B1B1B;
}
.button_160:hover {
  color: #2ECDFF;
  border-color: #2ECDFF;
}
.button_160[disabled] {
  color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.15);
}

.button_112 {
  width: 112px;
  padding: 10px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_regular";
  color: rgba(255, 255, 255, 0.55);
  background: #1B1B1B;
  text-align: center;
}
.button_112:hover {
  color: #fff;
}

.button_200 {
  width: 200px;
  padding: 13px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_regular";
  color: #fff;
  background: #1B1B1B;
  text-align: center;
}

.modal_confirm_btn, .modal_close_btn {
  padding: 13px 0;
  width: 180px;
  border-radius: 8px;
  color: #fff;
  background: #1B1B1B;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-family: "suit_medium";
}

.send_btn {
  width: 112px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_medium";
  color: #2ECDFF;
  border: 1px solid #2ECDFF;
  border-radius: 8px;
  text-align: center;
}

.download_btn {
  width: 152px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2ECDFF;
  color: #2ECDFF;
  font-size: 14px;
  line-height: 1.5;
  font-family: "suit_medium";
}

.mobile_h2 {
  display: none;
}

.mobi_br {
  display: none;
}

.main_slider {
  width: 100%;
}
.main_slider li {
  display: flex;
  min-height: 630px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 21px;
  background-repeat: no-repeat;
  background-size: 1920px auto;
  background-position: center 0;
}
.main_slider li[data-swiper-slide-index="0"] {
  background-image: url(../../images/main/visual_01.png);
}
.main_slider li[data-swiper-slide-index="1"] {
  background-image: url(../../images/main/visual_02.png);
}
.main_slider li .sub_title {
  color: #fff;
  font-size: 20px;
  line-height: 32px;
}
.main_slider li h2 {
  color: #fff;
  font-size: 45px;
  line-height: 57px;
}

.cont .inner {
  max-width: 1400px;
  padding: 100px 20px;
  margin: 0 auto;
}

.cont1 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.cont1 .img_wrap {
  max-width: 496px;
}
.cont1 .text_wrap h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  align-items: center;
  font-size: 36px;
  color: #000;
  margin-bottom: 45px;
  line-height: 48px;
}
.cont1 .text_wrap h2 p {
  word-break: keep-all;
  text-align: center;
}
.cont1 .text_wrap h2 img {
  width: 57px;
}
.cont1 .text_wrap .box {
  max-width: 640px;
  min-height: 170px;
  background: #1273eb;
  border-radius: 20px;
  padding: 39px 37px;
  color: #fff;
  line-height: 1.5;
  font-size: 24px;
  line-height: 36px;
  word-break: keep-all;
  position: relative;
}
.cont1 .text_wrap .box .en {
  word-break: keep-all;
}
.cont1 .text_wrap .box::after {
  content: "";
  display: block;
  width: 36px;
  height: 24px;
  border-top-right-radius: 2px;
  border-right: 36px solid #1273eb;
  border-top: 36px solid transparent;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-85%);
  z-index: -1;
}

.cont2 {
  background: #f1f5fb;
}
.cont2 h2 {
  font-size: 45px;
  line-height: 57px;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}
.cont2 h2 .blue_color {
  color: #1273eb;
}
.cont2 .sub_title {
  font-size: 18px;
  line-height: 30px;
  color: #444;
  text-align: center;
  margin-bottom: 80px;
}
.cont2 .box_wrap {
  margin-bottom: 80px;
}
.cont2 .box_wrap ul {
  display: flex;
  gap: 146px;
  justify-content: center;
}
.cont2 .box_wrap li {
  position: relative;
  max-width: 370px;
}
.cont2 .box_wrap .icon_img {
  width: 50px;
  position: absolute;
  top: -10px;
  left: -61px;
}
.cont2 .box_wrap .title {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
}
.cont2 .box_wrap .text {
  font-size: 18px;
  color: #444;
  line-height: 30px;
  word-break: keep-all;
}
.cont2 .box_wrap .text .en {
  word-break: keep-all;
}
.cont2 .info_wrap {
  background-color: rgba(121, 140, 168, 0.08);
  max-width: 1138px;
  margin: 0 auto;
  border-radius: 35px;
  padding: 20px 0 20px 76px;
  display: flex;
  align-items: center;
  color: #798ca8;
}
.cont2 .info_wrap p {
  font-size: 24px;
  line-height: 30px;
  position: relative;
  word-break: keep-all;
}
.cont2 .info_wrap i {
  position: absolute;
  top: 60%;
  left: -36px;
  transform: translateY(-50%);
}

.cont3 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}
.cont3 .img_wrap {
  width: 556px;
}
.cont3 h2 {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 57px;
}
.cont3 .text {
  max-width: 543px;
  font-size: 18px;
  line-height: 30px;
  color: #333;
  word-break: keep-all;
  margin-bottom: 37px;
}
.cont3 .generator_btn {
  display: block;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background-color: #1273eb;
  border-radius: 40px;
  padding: 20px 0;
  margin-bottom: 60px;
}
.cont3 .info_text {
  margin-bottom: 30px;
}
.cont3 .info_text p {
  position: relative;
  padding-left: 10px;
  color: #777;
  font-size: 18px;
  line-height: 30px;
  word-break: keep-all;
}
.cont3 .info_text .icon {
  display: block;
  width: 4px;
  height: 4px;
  background: #777;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 0;
}
.cont3 .minting_btn {
  font-size: 18px;
  line-height: 30px;
  color: #1273eb;
}

.cont4 {
  background: url(../images/main/blur.png) no-repeat 0 0/290px auto;
}
.cont4 .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont4 .box h2 {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 30px;
}
.cont4 .box .sub_title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
}
.cont4 .box .info_list ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cont4 .box .info_list li {
  display: flex;
  align-items: center;
  position: relative;
}
.cont4 .box .info_list .step {
  width: 86px;
  padding: 3px 0;
  border-radius: 40px;
  background: linear-gradient(281.74deg, #5912eb 0%, #1273eb 61.98%);
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  margin-right: 20px;
}
.cont4 .box .info_list .title {
  font-size: 30px;
  line-height: 30px;
  margin-right: 30px;
}
.cont4 .box .info_list .text {
  font-size: 18px;
  line-height: 30px;
  color: #333;
}
.cont4 .box .info_list .dot {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: 45px;
  left: 39px;
}
.cont4 .box .info_list .dot span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.cont4 .box .info_list li:nth-of-type(1) .dot span {
  background-color: #1273eb;
}
.cont4 .box .info_list li:nth-of-type(2) .dot span {
  background-color: #70abf3;
}
.cont4 .box .info_list li:nth-of-type(3) .dot span {
  background-color: #b7d4f9;
}
.cont4 .img_wrap {
  max-width: 678px;
  flex: 1;
}

.cont5 h2 {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 80px;
}
.cont5 h2 .en {
  font-size: 37.5px;
  color: #1273eb;
}
.cont5 .card_list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  gap: 30px 20px;
  margin: 0 auto;
}
.cont5 .card_list li {
  padding: 40px 24px 40px 130px;
  background: #f8f8f8;
  border-radius: 20px;
  position: relative;
}
.cont5 .card_list .icon {
  position: absolute;
  top: 20px;
  left: 30px;
}
.cont5 .card_list .title {
  font-size: 26px;
  line-height: 38px;
  color: #333;
  margin-bottom: 29px;
}
.cont5 .card_list .text {
  font-size: 18px;
  line-height: 30px;
  color: #777;
  word-break: keep-all;
}

.cont6 .inner {
  max-width: 1920px;
  width: 100%;
  display: flex;
  padding: 0;
}
.cont6 .box {
  width: 50%;
  padding: 80px 36px 80px 60px;
}
.cont6 .box .text {
  max-width: 400px;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 30px;
  word-break: keep-all;
}
.cont6 .box:nth-of-type(1) {
  background-color: #1273eb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cont6 .box:nth-of-type(1) .inquiry_btn {
  width: 160px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 34px;
  padding: 12px 0;
  color: #fff;
  transition: var(--hover-transition);
}
.cont6 .box:nth-of-type(1) .inquiry_btn:hover {
  background: #fff;
  color: #1273eb;
}
.cont6 .box:nth-of-type(2) {
  background-color: #444;
}
.cont6 .box:nth-of-type(2) .text {
  max-width: 460px;
}
.cont6 .box .input_wrap {
  display: flex;
  gap: 14px;
}
.cont6 .box .input_wrap .email_input {
  max-width: 400px;
  min-width: 300px;
  width: 100%;
  background: #fff;
  border: 2px solid #ddd;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 23px;
}
.cont6 .box .input_wrap .email_input::placeholder {
  color: #aaa;
}
.cont6 .box .input_wrap .submit_btn {
  max-width: 160px;
  min-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #fafde8;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  transition: var(--hover-transition);
}
.cont6 .box .input_wrap .submit_btn:hover {
  color: #444;
  background: #fff;
}

/* ======= 태블릿 ======= */
/*@media screen and (max-width: 1024px) {


  .main_slider {
    li {
      min-height: 380px;
      background-size: cover;

      &[data-swiper-slide-index='0'] {
        background-image: url(../images/main/main_banner_1024px.jpg);
      }

      .sub_title {
        font-size: 18px;
        line-height: 1.5;
      }

      h2 {
        font-size: 32px;
        line-height: 1.3;
      }
    }
  }

  .cont1 {
    .inner {
      flex-direction: column;
    }

    .img_wrap {
      max-width: 420px;
    }

    .text_wrap {
      h2 {
        flex-direction: column;
        font-size: 28px;
        line-height: 1.3;
        span{
            text-align: center;
            word-break: keep-all;
        }
      }

      .box {
        max-width: 440px;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        min-height: auto;
        line-height: 1.5;
      }
    }
  }

  .cont2 {
    .inner {
      padding: 80px 20px;
    }
    h2 {
      font-size: 32px;
      line-height: 1.5;
      margin-bottom: 16px;
    }

    .sub_title {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 50px;
    }

    .box_wrap {
      margin-bottom: 40px;

      ul {
        max-width: 560px;
        margin: 0 auto;
        gap: 40px;
      }
      li {
        max-width: 100%;
      }

      .icon_img {
        left: 0;
        width: 40px;
        top: -4px;
      }
      .title {
        padding-left: 52px;
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 20px;
      }

      .text {
        font-size: 14px;
        line-height: 1.5;
      }
    }

    .info_wrap {
      max-width: 560px;
      font-size: 14px;
      line-height: 1.5;
      padding: 16px;
      border-radius: 12px;

      p {
        padding-left: 22px;
        font-size: 14px;
        line-height: 1.5;
      }
      i {
        width: 16px;
        left: 0;
        top: 14px;
      }
    }
  }

  .cont3 {
    .mobi_br {
      display: block;
    }

    .inner {
      flex-direction: column;
      padding: 80px 20px;
      gap: 0;
    }

    .img_wrap {
      max-width: 380px;
      width: auto;
      margin-bottom: 40px;
    }

    .text_wrap {
      max-width: 440px;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        display: none;
      }

      .text {
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 1.5;
      }
    }

    .generator_btn {
      padding: 16px 0;
      width: 260px;
      margin: 0 auto 40px;
      font-size: 16px;
      line-height: 1.5;
    }
    .info_text {
      margin-bottom: 20px;

      p {
        font-size: 14px;
        line-height: 1.5;

        .icon {
          top: 9px;
        }
      }
    }

    .minting_btn {
      font-size: 16px;
    }
  }

  .cont4 {
    background: none;
    .inner {
      flex-direction: column;
    }

    .box {
      h2 {
        text-align: center;
        font-size: 28px;
        line-height: 1.3;
      }

      .sub_title {
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
      }

      .info_list {
        ul {
          gap: 58px;
        }

        li {
          flex-direction: column;
        }

        .step {
          margin-right: 0;
          margin-bottom: 12px;
          font-size: 14px;
          line-height: 1.5;
          padding: 6px 0;
          max-width: 78px;
        }

        .title {
          margin-right: 0;
          margin-bottom: 4px;
          font-size: 22px;
          line-height: 1.5;
        }
        .text {
          font-size: 14px;
          line-height: 1.5;
        }

        .dot {
          top: 0;
          bottom: -40px;
          left: 50%;
          transform: translateX(-50%);
          justify-content: flex-end;
        }
      }
    }
    .img_wrap {
      max-width: 400px;
      margin: 60px auto 0;
    }
  }

  .cont5 {
    .mobi_br {
      display: block;
    }
    .inner {
      padding: 60px 20px;
    }

    h2 {
      line-height: 1.3;
      font-size: 28px;
      word-break: keep-all;
    }
    .card_list {
      max-width: 590px;
      margin: 0 auto;

      .icon {
        width: 48px;
        position: static;
        display: inline-block;
      }

      ul {
        display: flex;
        gap: 0;
      }

      li {
        padding: 30px 20px;
      }

      .flex {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
      }

      .title {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 0;
      }

      .text {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }

  .cont6 {
    .inner {
      flex-direction: column;
    }
    .box {
      width: 100%;
      padding: 40px 20px;

      .mobi_br {
        display: block;
      }

      .text {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 24px;
      }

      &:nth-of-type(1) {
        .flex {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .inquiry_btn {
          font-size: 16px;
          padding: 12px 0;
          line-height: 1.5;
          width: 120px;
        }
      }

      &:nth-of-type(2) {
        display: flex;
        align-items: center;
        flex-direction: column;

        .text {
          max-width: 420px;
        }
      }

      .input_wrap {
        flex-direction: column;
        max-width: 440px;
        width: 100%;
        align-items: center;
        gap: 24px;

        .email_input {
          max-width: 100%;
          min-width: 100%;
          font-size: 16px;
          padding: 10px 20px;

          &::placeholder {
            font-size: 16px;
          }
        }

        .submit_btn {
          font-size: 16px;
          max-width: 120px;
          min-width: 120px;
          padding: 12px 0;
          line-height: 1.5;
        }
      }
    }
  }

}

@media screen and (max-width: 640px) {
  .main_slider {
    li {
      min-height: 300px;

      &[data-swiper-slide-index='0'] {
        background-image: url(../images/main/main_banner_768px.jpg);
      }

      h2 {
        max-width: 240px;
        line-height: 1.3;
        word-break: keep-all;
        text-align: center;
      }
    }
  }

  .cont1 {
    .inner {
      padding: 60px 20px;
    }

    .img_wrap {
      max-width: 3200px;
    }

    .text_wrap {
      max-width: 320px;
    }
  }

  .cont2 {
    h2 {
      .blue_color {
        display: block;
      }
    }

    .sub_title {
      max-width: 230px;
      word-break: keep-all;
      margin: 0 auto 50px;
    }

    .box_wrap {
      ul {
        flex-direction: column;
        max-width: 280px;
      }
    }

    .info_wrap {
      max-width: 280px;

      p {
        line-height: 1.5;
      }
    }
  }

  .cont3 {
    .img_wrap {
      max-width: 240px;
    }

    .text_wrap {
      max-width: 280px;
    }
  }

  .cont4 {
    .mobi_br {
      display: block;
    }

    .box {
      .sub_title {
        word-break: keep-all;
      }
    }
    .img_wrap {
      max-width: 280px;
    }
  }
}
*/

/*# sourceMappingURL=index.css.map */
