@{
    ViewData["Title"] = "Home";
}

<section class="cont cont1">
    <div class="inner">
        <div class="text_wrap">
            <div class="sub_title h3 jost_sb">AIR DROPPER</div>
            <h2 class="h1 suit_b">
                How simple from token<br />
                issuance to airdrop!
            </h2>
            <p class="text body_1 suit_m">AIR DROPPER is a service that allows you to transfer virtual assets or NFTs to millions of wallets with a simple process.</p>
        </div>
        <div class="button_wrap">
            <a href="/Issuing/Issuing" class="token_btn">Token Issuance</a>
            <a href="/Airdrop/Airdrop" class="token_btn">Airdrop</a>
        </div>
        <div class="count_wrap">
            <div class="issuing">
                <span class="name sub1 jost_r">ISSUING</span>
                <span class="count subtitle_3 suit_m">1234</span>
                <span class="unit body_3 suit_r">Cases</span>
            </div>
            <div class="airdrop">
                <span class="name sub1 jost_r">AIRDROP</span>
                <span class="count subtitle_3 suit_m">1234</span>
                <span class="unit body_3 suit_r">Txs</span>
            </div>
        </div>
    </div>
</section>
<section class="cont cont2">
    <div class="inner">
        <div class="box">
            <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 1.</div>
            <h2 class="h2 suit_sb">Token issuance and fast and convenient airdrop service all at once!</h2>
            <div class="text body_2 suit_m color_white_2">AIR DROPPER provides token issuance service and easy and fast airdrop service at the same time, reducing the time and cost of related processes.  </div>
            <div class="box_list">
                <ul>
                    <li class="body_2 suit_m color_white_2">
                        <h3>Before AIR DROPPER</h3>
                        <div>
                            <p>Complicacy</p>
                            <p>Takes a lot of time</p>
                            <p>Need heavy charges</p>
                            <p>Experts and manpower required</p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="body_2 suit_m">
                        <h3 class="color_theme">AIR DROPPER</h3>
                        <div>
                            <p>Simplicity</p>
                            <p>Takes less time</p>
                            <p>Economical</p>
                            <p>Nonprofessionals also available</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="img_wrap">
            <img src="~/images/index/img1.png" alt="token image" />
        </div>
    </div>
</section>
<section class="cont cont3">
    <div class="inner">
        <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 2.</div>
        <h2 class="h2 suit_sb">Airdrop service with a simple process</h2>
        <div class="text body_2 suit_m color_white_2">Using AIR DROPPER's airdrop service in just 4 steps, anyone can conveniently transfer tokens to numerous wallets anytime, anywhere.</div>
        <ul>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP1</h3>
                <p class="body_1 suit_m">Select mainnet /<br /> token format</p>
            </li>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP2</h3>
                <p class="body_1 suit_m">
                    Connect wallet<br />
                    Select network
                </p>
            </li>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP3</h3>
                <p class="body_1 suit_m">
                    Upload<br />
                    Transfer list
                </p>
            </li>
            <li>
                <h3 class="subtitle_4 jost_r color_theme">STEP4</h3>
                <p class="body_1 suit_m">
                    Run<br />
                    Airdrop
                </p>
            </li>
        </ul>
    </div>
</section>
<section class="cont cont4">
    <div class="inner">
        <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 3.</div>
        <h2 class="h2 suit_sb">Reduce costs by transferring a large amount of tokens into one transaction</h2>
        <div class="text body_2 suit_m color_white_2">By bundling tokens transfers to 1000 wallets per transaction into one transaction, the Gas fee is reduced by 30-40%.</div>
        <div class="content_wrap">
            <div class="box box1">
                <h3 class="body_2 suit_m color_white_2">Before AIR DROPPER</h3>
                <div class="img_wrap">
                    <img src="~/images/index/airdropper_img1.png" alt="Before AIR DROPPER image" />
                </div>
            </div>
            <p class="line"></p>
            <div class="box box2">
                <h3 class="body_2 suit_m color_theme">AIR DROPPER</h3>
                <div class="img_wrap">
                    <img src="~/images/index/airdropper_img2.png" alt="After AIR DROPPER image" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cont cont5">
    <div class="inner">
        <div class="sub_title subtitle_4 color_theme suit_sb">Benefit 4.</div>
        <h2 class="h2 suit_sb">Expanded versatility by supporting various blockchain networks.</h2>
        <div class="text body_2 suit_m color_white_2">Transfer of tokens or NFTs based on various mainnet networks such as Ethereum, Binance Chain, Polygon, and Klaytn are possible, and more networks will be added.</div>
        <ul>
            <li class="symbol_icon">
                <img src="~/images/coin_icon/ethereum_lg.svg" alt="ethereum" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="coin_icon">
                <img src="~/images/coin_icon/klaytn_lg.svg" alt="klaytn" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="coin_icon">
                <img src="~/images/coin_icon/bsc_lg.svg" alt="bsc" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="coin_icon">
                <img src="~/images/coin_icon/polygon_lg.svg" alt="polygon" />
            </li>
            <li class="dot_icon">
                <img src="~/images/icons/dots.svg" alt="dot icon" />
            </li>
            <li class="add_icon">
                <img src="~/images/icons/add.svg" alt="add icon" />
            </li>
            <li class="text_icon">
                <span class="h3 jost_r">etc</span>
            </li>
        </ul>
    </div>
</section>

@section Heads{
    <link rel="stylesheet" href="~/css/pages/index.css" />

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            document.body.style.opacity = "1";
        })
    </script>
}