@{
    ViewData["title"] = "문의하기";
}


<section class="cont1 contact">
    <div class="inner">
        <h2>문의하기</h2>
        <div class="table_wrap">
            <div class="input_wrap">
                <input class="input_title" type="text" placeholder="문의 제목을 20자 내외로 입력해주세요." maxlength="20" />
                <div class="select_list">
                    <!-- on 추가시 style 변경 -->
                    <div class="select_wrap default">
                        <button type="button" id="selectChain" data-select=false>
                            <span class="select">문의 유형 선택</span>
                        </button>
                    </div>
                    <!-- on 추가시 display -->
                    <ul class="chain_list">
                        <li>
                            <button type="button">
                                <span class="select">오류/장애 신고</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">기능 관련</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">결제 관련</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">회원정보 관련</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">오류/장애 신고</span>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <span class="select">기타</span>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="textarea_wrap">
                <div id="summernote"></div>
            </div>
            @*         <div class="file_wrap">
            <input type="text" disabled placeholder="(선택) 파일 첨부" value="">
            <input type="file" id="upload" />
            <label for="upload" class="upload_btn">
            파일 찾기
            </label>
            </div>*@
            <input type="email" class="email" placeholder="답변 받으실 이메일을 입력하세요." />
        </div>
        <button type="button" class='button_160' id="send_btn">제출하기</button>
    </div>
</section>


@section Heads{

    <script src="~/lib/summernote/summernote-lite.js" defer></script>
    <script src="~/lib/summernote/lang/summernote-ko-KR.js" defer></script>
    <link rel="stylesheet" href="~/lib/summernote/summernote-lite.min.css" />>


    <link rel="stylesheet" href="~/css/pages/Contact.css" />
    <script src="~/js/Contact.js" defer></script>
}