@{
    ViewData["title"] = "NOTICE";
}


<section class="cont notice">
    <div class="inner">
        <h2 class="subtitle_3 suit_m">NOTICE</h2>
        <div class="input_group">
            <div class="select_list">
                <!-- on 추가시 style 변경 -->
                <div class="select_wrap default">
                    <button type="button" id="selectChain">
                        <img src="" />
                        <span class="select">Title</span>
                    </button>
                </div>
                <!-- on 추가시 display -->
                <ul class="chain_list">
                    <li>
                        <button type="button">
                            <span class="select">Title</span>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <span class="select">Content</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="search_wrap">
                <input type="search" placeholder="Enter a word to search for." />
                <button type="button" class="search_btn" aria-label="검색하기"><span class="visually_hidden">검색하기</span></button>
            </div>
        </div>
        <div class="table_wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr class="no_data">
                        <!-- 내용이 없을때 -->
                        <td colspan="5">내용이 없습니다.</td>
                    </tr>*@
                    <tr onclick="location.href='/Notice/NoticeView'">
                        <td>
                            10
                        </td>
                        <td>Lorem Ipsum is simply dummy text of the printing</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gal</td>
                        <td>2022-10-30</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_nav">
            <!-- a태그 on 추가시 색 변경 -->
            <a href="#" title="first Page"></a>
            <a href="#" title="previous Page"></a>
            <ol>
                <!-- li 태그 on 추가시 색 변경 -->
                <li class="on">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
            </ol>
            <a href="#" title="next Page" class="on"></a>
            <a href="#" title="last Page" class="on"></a>
        </div>
    </div>
</section>

<script>
    const chainSelectBtn = document.getElementById('selectChain');

    chainSelectBtn.addEventListener('click', (e) => {
        e.preventDefault();
        openMenu(e);

    });


    const removeClassSelectList = () => {
        document.querySelectorAll('.select_list > ul').forEach(ev => {
            ev.classList.remove('on');
        })
    }

    // select 열기
    const openMenu = (event) => {
        const target = event.currentTarget;
        const nextElement = target.parentElement.nextElementSibling;

        removeClassSelectList();

        nextElement.classList.add('on');
    }

    // select 닫기
    document.body.addEventListener('click', (e) => {
        const target = e.target
        const isSelect = target.classList.contains('select_list') || target.closest('.select_list');

        if (isSelect) return;
        removeClassSelectList();
    })

    document.querySelectorAll('.chain_list li button').forEach(ev => {
        ev.addEventListener('click', (e) => {
            removeClassSelectList();
            chainSelectBtn.querySelector('.select').textContent = ev.children[0].textContent;
        })
    })
</script>







@section Heads{
    <link rel="stylesheet" href="~/css/pages/Notice.css" />
}

@section scripts{

        }